openapi: 3.1.0
info:
  title: Bank Feeds Account mapping Accounts receivable API
  version: 3.0.0
  contact:
    email: support@codat.io
    name: Codat
  description: 'Bank Feeds solution enables your SMB users to set up bank feeds from accounts in your application to supported accounting software.


    A bank feed is a connection between a source bank account in your application and a target bank account in a supported accounting software.


    [Explore solution](https://docs.codat.io/bank-feeds-api/overview) | [See OpenAPI spec](https://github.com/codatio/oas)


    ---

    <!-- Start Codat Tags Table -->

    ## Endpoints


    | Endpoints | Description |

    | :- |:- |

    | Companies | Create and manage your SMB users'' companies. |

    | Connections | Create new and manage existing data connections for a company. |

    | Source accounts | Provide and manage lists of source bank accounts. |

    | Account mapping | Extra functionality for building an account management UI. |

    | Company information | Get detailed information about a company from the underlying platform. |

    | Transactions | Create new bank account transactions for a company''s connections, and see previous operations. |

    <!-- End Codat Tags Table -->'
  termsOfService: https://www.codat.io/legals/
servers:
- description: Production
  url: https://api.codat.io
security:
- auth_header: []
tags:
- name: Accounts receivable
  description: Data from a linked accounting software representing money owed to the business for sold goods or services.
paths:
  /companies/{companyId}/reports/enhancedInvoices:
    parameters:
    - $ref: '#/components/parameters/companyId'
    get:
      summary: List reconciled invoices
      tags:
      - Accounts receivable
      operationId: list-reconciled-invoices
      x-speakeasy-name-override: list-reconciled
      x-speakeasy-group: accounts-receivable.invoices
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: OK
          content:
            application/json:
              x-speakeasy-usage-example: true
              schema:
                $ref: '#/components/schemas/EnhancedInvoicesReport'
              example:
                reportInfo:
                  pageNumber: 1
                  pageSize: 10
                  totalResults: 101
                  reportName: Invoices report
                  companyName: Small Sandbox
                  generatedDate: '2023-05-10T10:50:23.9437977Z'
                reportItems:
                - id: 15221fa4-e91a-4f64-a2bb-caeab4db85a4
                  invoiceNumber: UDs5KlfE
                  customerRef:
                    id: ee4d0eee-063d-4c9f-8226-2c9a6a816249
                    customerName: Serena Keeling
                  issueDate: '2021-04-06T09:44:00'
                  dueDate: '2021-04-06T09:44:00'
                  status: Paid
                  currency: GBP
                  totalAmount: 7044.83
                  amountDue: 0
                  paidOnDate: '2021-04-06T09:44:00'
                  modifiedDate: '2022-04-11T13:49:37Z'
                  sourceModifiedDate: '2022-02-27T18:28:00'
                  payments: []
                - id: 58aea1cb-5b31-4eed-ba16-489dfa67a831
                  invoiceNumber: 1IU1PMoT
                  customerRef:
                    id: 81e9c0df-3e5e-4180-b20c-c8e58100cdf3
                    customerName: Quinton Kovacek
                  issueDate: '2021-04-06T09:44:00'
                  dueDate: '2021-04-06T09:44:00'
                  status: Paid
                  currency: GBP
                  totalAmount: 3567.59
                  amountDue: 0
                  paidOnDate: '2021-04-06T09:44:00'
                  modifiedDate: '2022-04-11T13:49:37Z'
                  sourceModifiedDate: '2021-06-23T22:47:00'
                  payments: []
                - id: 9ecd07bc-9cab-4516-bad0-a0cd565cdbaf
                  invoiceNumber: eEIWyPN4
                  customerRef:
                    id: c7326084-cd56-48e6-bcfa-be8919e024e1
                    customerName: Antwon Dach
                  issueDate: '2021-04-08T01:27:00'
                  dueDate: '2021-04-18T01:27:00'
                  status: Paid
                  currency: GBP
                  totalAmount: 153233.36
                  amountDue: 0
                  paidOnDate: '2021-04-10T12:31:00'
                  modifiedDate: '2022-08-01T09:44:59Z'
                  sourceModifiedDate: '2021-11-11T12:10:00'
                  payments:
                  - id: 0878e8be-6746-4347-80ba-5491328c8411
                    date: '2021-04-10T12:31:00'
                    paymentType: payments
                    amount: 153233.36
                    currency: GBP
                    currencyRate: 1
                - id: 7cea078a-5c9a-4788-ae72-9bb60c5cc184
                  invoiceNumber: BXb8mYQW
                  customerRef:
                    id: 44e8516d-bcb0-459f-9e5d-7beaa56d57d0
                    customerName: Dolores Rath
                  issueDate: '2021-04-16T17:30:00'
                  dueDate: '2021-04-23T17:30:00'
                  status: Paid
                  currency: GBP
                  totalAmount: 12657.69
                  amountDue: 0
                  paidOnDate: '2021-04-23T17:30:00'
                  modifiedDate: '2022-04-11T13:49:37Z'
                  sourceModifiedDate: '2021-12-08T11:32:00'
                  payments:
                  - id: 17b42934-13f6-4738-a506-2e253b1a606f
                    date: '2021-04-23T17:30:00'
                    paymentType: payments
                    amount: 12657.69
                    currency: GBP
                    currencyRate: 1
                - id: aa4503d7-fe01-49fe-ba42-259b421ac640
                  invoiceNumber: wdjwiL5B
                  customerRef:
                    id: 5cbaf1af-4f02-4206-85ab-c525bd9b4f99
                    customerName: Bryana Douglas
                  issueDate: '2021-04-20T06:46:00'
                  dueDate: '2021-04-27T06:46:00'
                  status: PartiallyPaid
                  currency: GBP
                  totalAmount: 12935.39
                  amountDue: 381.09
                  modifiedDate: '2022-04-11T13:49:37Z'
                  sourceModifiedDate: '2022-03-11T20:03:00'
                  payments:
                  - id: 1c03986b-9b6c-4220-bde6-4e3eba6cef9f
                    date: '2021-04-23T14:59:00'
                    paymentType: payments
                    amount: 12554.3
                    currency: GBP
                    currencyRate: 1
                - id: d8a0e26e-4ec8-4fb5-887d-8b7531e3bedf
                  invoiceNumber: cTjJcu8x
                  customerRef:
                    id: 6f5290e5-70aa-4d0c-816e-9d2312cf217f
                    customerName: Brady Wilderman
                  issueDate: '2021-04-23T09:32:00'
                  dueDate: '2021-05-03T09:32:00'
                  status: Paid
                  currency: GBP
                  totalAmount: 21526.72
                  amountDue: 0
                  paidOnDate: '2021-05-03T09:32:00'
                  modifiedDate: '2022-04-11T13:49:37Z'
                  sourceModifiedDate: '2021-03-12T22:37:00'
                  payments:
                  - id: 93c9c11b-3ec0-4314-85f6-0751763e752a
                    date: '2021-05-03T09:32:00'
                    paymentType: payments
                    amount: 21506.72
                    currency: GBP
                    currencyRate: 1
                - id: 06890e67-35fb-4276-9857-95db40cfd15d
                  invoiceNumber: htXJuUDb
                  customerRef:
                    id: 44e8516d-bcb0-459f-9e5d-7beaa56d57d0
                    customerName: Dolores Rath
                  issueDate: '2021-05-01T23:23:00'
                  dueDate: '2021-05-11T23:23:00'
                  status: PartiallyPaid
                  currency: GBP
                  totalAmount: 7151.41
                  amountDue: 1225.06
                  modifiedDate: '2022-08-01T09:44:59Z'
                  sourceModifiedDate: '2022-02-24T23:02:00'
                  payments:
                  - id: 82865077-0857-46db-b9a1-6d21da43b6aa
                    date: '2021-05-04T17:57:00'
                    paymentType: payments
                    amount: 5926.35
                    currency: GBP
                    currencyRate: 1
                - id: 160e8b51-1fa0-46b9-98fe-1ff5399ce99b
                  invoiceNumber: 9wegEXpG
                  customerRef:
                    id: 44e8516d-bcb0-459f-9e5d-7beaa56d57d0
                    customerName: Dolores Rath
                  issueDate: '2021-05-18T08:53:00'
                  dueDate: '2021-05-25T08:53:00'
                  status: PartiallyPaid
                  currency: GBP
                  totalAmount: 22522.34
                  amountDue: 14408.54
                  modifiedDate: '2022-04-11T13:49:37Z'
                  sourceModifiedDate: '2022-01-13T07:52:00'
                  payments:
                  - id: 75bd7205-bc12-4517-9964-aae159fdfaee
                    date: '2021-05-23T04:04:00'
                    paymentType: payments
                    amount: 8113.8
                    currency: GBP
                    currencyRate: 1
                - id: 5a934955-561d-436a-a564-fd624a79f54c
                  invoiceNumber: l7YwGxG7
                  customerRef:
                    id: cc96af36-e2f5-49f7-bf40-271503f45071
                    customerName: Ignacio Moore
                  issueDate: '2021-05-25T19:51:00'
                  dueDate: '2021-06-04T19:51:00'
                  status: Paid
                  currency: GBP
                  totalAmount: 11047.08
                  amountDue: 0
                  paidOnDate: '2021-05-28T07:31:00'
                  modifiedDate: '2022-04-11T13:49:37Z'
                  sourceModifiedDate: '2021-08-06T05:50:00'
                  payments:
                  - id: 608fd022-f7d0-44a9-90c4-bebe0573f206
                    date: '2021-05-28T07:31:00'
                    paymentType: payments
                    amount: 11047.08
                    currency: GBP
                    currencyRate: 1
                - id: 17690788-2936-46b5-ba46-ba6a36a87483
                  invoiceNumber: ntH1cRYz
                  customerRef:
                    id: e1ecc8f2-8a63-4fe9-97c9-c87fd90ca0a6
                    customerName: Freida Ebert
                  issueDate: '2021-05-27T19:07:00'
                  dueDate: '2021-06-03T19:07:00'
                  status: PartiallyPaid
                  currency: GBP
                  totalAmount: 7191.32
                  amountDue: 5036.83
                  modifiedDate: '2022-04-11T13:49:37Z'
                  sourceModifiedDate: '2021-03-27T08:54:00'
                  payments:
                  - id: a343b2a0-d327-41b0-993e-7b6b92fde425
                    date: '2021-06-03T19:07:00'
                    paymentType: payments
                    amount: 2154.49
                    currency: GBP
                    currencyRate: 1
        '400':
          $ref: '#/components/responses/Malformed-Query'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/Payment-Required'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
      description: Gets a list of invoices linked to the corresponding banking transaction
  /companies/{companyId}/data/creditNotes:
    parameters:
    - $ref: '#/components/parameters/companyId'
    get:
      tags:
      - Accounts receivable
      summary: List credit notes
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/orderBy'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCreditNotes'
              examples:
                Dynamics 365 Business Central:
                  value:
                    results:
                    - id: e6e5ec0f-1c60-eb11-89fa-00224800a9c7
                      creditNoteNumber: '104001'
                      customerRef:
                        id: 8ddfa6bf-0c60-eb11-89fa-00224800af18
                        companyName: Abdi Company
                      withholdingTax: []
                      totalAmount: 105
                      totalDiscount: 0
                      subTotal: 100
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 5
                      discountPercentage: 0
                      remainingCredit: 80
                      status: PartiallyPaid
                      issueDate: '2021-01-25T00:00:00'
                      currency: GBP
                      lineItems:
                      - description: 'Invoice No. 103221:'
                        unitAmount: 0
                        quantity: 1
                        discountAmount: 0
                        subTotal: 0
                        taxAmount: 0
                        totalAmount: 0
                        accountRef:
                          id: NullId
                        discountPercentage: 0
                        taxRateRef:
                          id: cc81fea8-2917-ed11-90eb-002248009df3
                          name: ''
                          effectiveTaxRate: 0
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      - description: Linda Martin
                        unitAmount: 100
                        quantity: 1
                        discountAmount: 0
                        subTotal: 100
                        taxAmount: 5
                        totalAmount: 105
                        accountRef:
                          id: 161217b3-89d1-ea11-bbaa-000d3a2b9185
                          name: Income, Services
                        discountPercentage: 0
                        taxRateRef:
                          id: 61bc0fb9-89d1-ea11-bbaa-000d3a2b9185
                          name: Setup for DOMESTIC / REDUCED
                          effectiveTaxRate: 5
                        itemRef:
                          id: RESC-331317b3-89d1-ea11-bbaa-000d3a2b9185-DOMESTIC-DOMESTIC
                          name: 'Linda Martin / General Business Posting Group: ''DOMESTIC'' / VAT Business Posting Group: ''DOMESTIC'''
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      - description: Credit memo for partially paid inv
                        unitAmount: 0
                        quantity: 1
                        discountAmount: 0
                        subTotal: 0
                        taxAmount: 0
                        totalAmount: 0
                        accountRef:
                          id: NullId
                        discountPercentage: 0
                        taxRateRef:
                          id: cc81fea8-2917-ed11-90eb-002248009df3
                          name: ''
                          effectiveTaxRate: 0
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      paymentAllocations:
                      - payment:
                          id: 62e5046d-1c60-eb11-89fa-00224800a9c7
                          note: Credit Memo 1001
                          reference: 'Document No: 104001'
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2021-01-25T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          allocatedOnDate: '2021-01-25T00:00:00'
                          totalAmount: 25
                      modifiedDate: '2023-03-27T14:21:25Z'
                      sourceModifiedDate: '2021-01-26T21:21:18Z'
                      metadata:
                        isDeleted: false
                    - id: d0d9b378-1d60-eb11-89fa-00224800a9c7
                      creditNoteNumber: '104002'
                      customerRef:
                        id: 8ddfa6bf-0c60-eb11-89fa-00224800af18
                        companyName: Abdi Company
                      withholdingTax: []
                      totalAmount: 779.28
                      totalDiscount: 0
                      subTotal: 649.4
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 129.88
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2021-01-26T00:00:00'
                      currency: GBP
                      lineItems:
                      - description: 'Invoice No. 103222:'
                        unitAmount: 0
                        quantity: 1
                        discountAmount: 0
                        subTotal: 0
                        taxAmount: 0
                        totalAmount: 0
                        accountRef:
                          id: NullId
                        discountPercentage: 0
                        taxRateRef:
                          id: cc81fea8-2917-ed11-90eb-002248009df3
                          name: ''
                          effectiveTaxRate: 0
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      - description: 'Inv. No. 103222 - Shpt. No. 102222:'
                        unitAmount: 0
                        quantity: 1
                        discountAmount: 0
                        subTotal: 0
                        taxAmount: 0
                        totalAmount: 0
                        accountRef:
                          id: NullId
                        discountPercentage: 0
                        taxRateRef:
                          id: cc81fea8-2917-ed11-90eb-002248009df3
                          name: ''
                          effectiveTaxRate: 0
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      - description: ATHENS Desk -pay with CR
                        unitAmount: 649.4
                        quantity: 1
                        discountAmount: 0
                        subTotal: 649.4
                        taxAmount: 129.88
                        totalAmount: 779.28
                        accountRef:
                          id: 181217b3-89d1-ea11-bbaa-000d3a2b9185
                          name: Income, Product Sales
                        discountPercentage: 0
                        taxRateRef:
                          id: 63bc0fb9-89d1-ea11-bbaa-000d3a2b9185
                          name: Setup for DOMESTIC / STANDARD
                          effectiveTaxRate: 10
                        itemRef:
                          id: ITEM-c81217b3-89d1-ea11-bbaa-000d3a2b9185-DOMESTIC-DOMESTIC
                          name: 'ATHENS Desk / General Business Posting Group: ''DOMESTIC'' / VAT Business Posting Group: ''DOMESTIC'''
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      - description: ''
                        unitAmount: 0
                        quantity: 1
                        discountAmount: 0
                        subTotal: 0
                        taxAmount: 0
                        totalAmount: 0
                        accountRef:
                          id: NullId
                        discountPercentage: 0
                        taxRateRef:
                          id: cc81fea8-2917-ed11-90eb-002248009df3
                          name: ''
                          effectiveTaxRate: 0
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      paymentAllocations:
                      - payment:
                          id: c2942210-1e60-eb11-89fa-00224800a9c7
                          note: Credit Memo 1002
                          reference: 'Document No: 104002'
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2021-01-26T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          allocatedOnDate: '2021-01-26T00:00:00'
                          totalAmount: 779.28
                      modifiedDate: '2023-03-27T14:21:25Z'
                      sourceModifiedDate: '2021-01-26T21:33:01Z'
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 13
                    _links:
                      current:
                        href: /companies/d6849caf-c146-41be-8335-b73346e3bd84/data/creditNotes?page=1&pageSize=2
                      self:
                        href: /companies/d6849caf-c146-41be-8335-b73346e3bd84/data/creditNotes
                      next:
                        href: /companies/d6849caf-c146-41be-8335-b73346e3bd84/data/creditNotes?page=2&pageSize=2
                FreeAgent:
                  value:
                    results:
                    - id: '21952211'
                      creditNoteNumber: '004'
                      customerRef:
                        id: '6162023'
                        companyName: Alderley plc
                      withholdingTax: []
                      totalAmount: 165
                      totalDiscount: 0
                      subTotal: 165
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2017-10-18T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Reverse 6546
                        unitAmount: 110
                        quantity: 1.5
                        subTotal: 165
                        taxAmount: 0
                        totalAmount: 165
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      paymentAllocations:
                      - payment:
                          id: '270764400'
                          note: �165.00 - Credit Note refund against 004
                          currency: GBP
                          paidOnDate: '2020-12-23T00:00:00'
                          totalAmount: -165
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 165
                      modifiedDate: '2023-04-25T14:19:09Z'
                      sourceModifiedDate: '2020-12-23T16:39:23Z'
                      metadata:
                        isDeleted: false
                    - id: '53604300'
                      creditNoteNumber: '2367'
                      customerRef:
                        id: '6162023'
                        companyName: Alderley plc
                      withholdingTax: []
                      totalAmount: 165
                      totalDiscount: 0
                      subTotal: 165
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 165
                      status: Draft
                      issueDate: '2017-10-18T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Reverse 6546
                        unitAmount: 110
                        quantity: 1.5
                        subTotal: 165
                        taxAmount: 0
                        totalAmount: 165
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      paymentAllocations: []
                      modifiedDate: '2023-04-25T14:19:09Z'
                      sourceModifiedDate: '2022-09-29T13:00:09Z'
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 281
                    _links:
                      current:
                        href: /companies/071ad738-68f3-4561-afd0-69bab9df0803/data/creditNotes?page=1&pageSize=2
                      self:
                        href: /companies/071ad738-68f3-4561-afd0-69bab9df0803/data/creditNotes
                      next:
                        href: /companies/071ad738-68f3-4561-afd0-69bab9df0803/data/creditNotes?page=2&pageSize=2
                FreshBooks:
                  value:
                    results:
                    - id: '33407'
                      creditNoteNumber: '0000065'
                      customerRef:
                        id: '511657'
                        companyName: Bob's Stationary
                      withholdingTax: []
                      totalAmount: 150
                      totalDiscount: 0
                      subTotal: 150
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Submitted
                      issueDate: '2020-07-31T00:00:00'
                      currency: GBP
                      lineItems:
                      - description: Test Di
                        unitAmount: 150
                        quantity: 1
                        subTotal: 150
                        taxAmount: 0
                        totalAmount: 150
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      paymentAllocations:
                      - payment:
                          id: '2054019'
                          note: Free $150 voucher
                          currency: GBP
                          paidOnDate: '2020-07-31T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 150
                      modifiedDate: '2023-03-24T16:07:23Z'
                      note: Free $150 voucher
                      metadata:
                        isDeleted: false
                    - id: '33409'
                      creditNoteNumber: '0000066'
                      customerRef:
                        id: '511657'
                        companyName: Bob's Stationary
                      withholdingTax: []
                      totalAmount: 300
                      totalDiscount: 0
                      subTotal: 300
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Draft
                      issueDate: '2020-07-31T00:00:00'
                      currency: GBP
                      lineItems:
                      - description: Test Di
                        unitAmount: 150
                        quantity: 2
                        subTotal: 300
                        taxAmount: 0
                        totalAmount: 300
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      paymentAllocations:
                      - payment:
                          id: '2054021'
                          note: Free $150 voucher
                          currency: GBP
                          paidOnDate: '2020-07-31T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 300
                      modifiedDate: '2023-03-24T16:07:23Z'
                      note: Free $150 voucher
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 53
                    _links:
                      current:
                        href: /companies/3691c49e-0db4-4172-b3ab-e4084c365013/data/creditNotes?page=1&pageSize=2
                      self:
                        href: /companies/3691c49e-0db4-4172-b3ab-e4084c365013/data/creditNotes
                      next:
                        href: /companies/3691c49e-0db4-4172-b3ab-e4084c365013/data/creditNotes?page=2&pageSize=2
                KashFlow:
                  value:
                    results:
                    - id: '85322315'
                      creditNoteNumber: '4'
                      customerRef:
                        id: '69946501'
                        companyName: Peter Lord
                      withholdingTax: []
                      totalAmount: 100
                      totalDiscount: 0
                      subTotal: 0
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2017-05-09T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: youm
                        unitAmount: 100
                        quantity: -1
                        subTotal: -100
                        taxAmount: 0
                        totalAmount: 100
                        accountRef:
                          id: '21481817'
                          name: Sale of goods
                        itemRef:
                          id: '158667064'
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      paymentAllocations:
                      - payment:
                          id: '86870120'
                          note: Applying Credit Note
                          currency: GBP
                          paidOnDate: '2017-05-09T00:00:00'
                          totalAmount: -100
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 100
                      modifiedDate: '2022-09-30T10:29:16Z'
                    - id: '85326016'
                      creditNoteNumber: '5'
                      customerRef:
                        id: '69952389'
                        companyName: Things Limited
                      withholdingTax: []
                      totalAmount: 1000
                      totalDiscount: 0
                      subTotal: 0
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2017-05-09T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: '158675173'
                        unitAmount: 1
                        quantity: -1000
                        subTotal: -1000
                        taxAmount: 0
                        totalAmount: 1000
                        accountRef:
                          id: '21481817'
                          name: Sale of goods
                        itemRef:
                          id: '158675173'
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      paymentAllocations:
                      - payment:
                          id: '86873915'
                          note: Applying Credit Note
                          currency: GBP
                          paidOnDate: '2017-05-09T00:00:00'
                          totalAmount: -400
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 400
                      - payment:
                          id: '86874181'
                          note: ''
                          currency: GBP
                          paidOnDate: '2017-05-09T00:00:00'
                          totalAmount: -100
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 100
                      - payment:
                          id: '86874199'
                          note: ''
                          currency: GBP
                          paidOnDate: '2017-05-09T00:00:00'
                          totalAmount: -50
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 50
                      - payment:
                          id: '86875655'
                          note: Credit Note
                          currency: GBP
                          paidOnDate: '2017-05-09T00:00:00'
                          totalAmount: -750
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 750
                      modifiedDate: '2022-09-30T10:29:16Z'
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 17
                    _links:
                      current:
                        href: /companies/3a707a99-89da-4b16-a5d6-595333a16352/data/creditNotes?page=1&pageSize=2
                      self:
                        href: /companies/3a707a99-89da-4b16-a5d6-595333a16352/data/creditNotes
                      next:
                        href: /companies/3a707a99-89da-4b16-a5d6-595333a16352/data/creditNotes?page=2&pageSize=2
                Oracle NetSuite:
                  value:
                    results:
                    - id: '8827'
                      creditNoteNumber: CM27
                      customerRef:
                        id: '417'
                        companyName: 10 Breww Ltd
                      withholdingTax: []
                      totalAmount: 26
                      totalDiscount: 0
                      subTotal: 26
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 26
                      status: Submitted
                      issueDate: '2021-04-09T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Andy Test Item
                        unitAmount: 2
                        quantity: 3
                        subTotal: 6
                        totalAmount: 6
                        accountRef:
                          id: '54'
                          name: Sales
                        itemRef:
                          id: '143'
                          name: Andy Test Item
                        trackingCategoryRefs:
                        - id: classification-2
                        - id: department-1
                        - id: location-1
                        isDirectIncome: false
                      - description: Non-Recurring Services - EC
                        unitAmount: 4
                        quantity: 5
                        subTotal: 20
                        totalAmount: 20
                        accountRef:
                          id: '54'
                          name: Sales
                        itemRef:
                          id: '28'
                          name: Non-Recurring Services - EC
                        trackingCategoryRefs:
                        - id: classification-2
                        - id: department-1
                        - id: location-1
                        isDirectIncome: false
                      paymentAllocations: []
                      modifiedDate: '2022-09-20T08:15:31Z'
                      sourceModifiedDate: '2022-02-25T10:58:10'
                    - id: '8828'
                      creditNoteNumber: CM28
                      customerRef:
                        id: '417'
                        companyName: 10 Breww Ltd
                      withholdingTax: []
                      totalAmount: 26
                      totalDiscount: 0
                      subTotal: 26
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 10
                      status: PartiallyPaid
                      issueDate: '2021-04-09T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Andy Test Item
                        unitAmount: 2
                        quantity: 3
                        subTotal: 6
                        totalAmount: 6
                        accountRef:
                          id: '54'
                          name: Sales
                        itemRef:
                          id: '143'
                          name: Andy Test Item
                        trackingCategoryRefs:
                        - id: classification-2
                        - id: department-1
                        - id: location-1
                        isDirectIncome: false
                      - description: Non-Recurring Services - EC
                        unitAmount: 4
                        quantity: 5
                        subTotal: 20
                        totalAmount: 20
                        accountRef:
                          id: '54'
                          name: Sales
                        itemRef:
                          id: '28'
                          name: Non-Recurring Services - EC
                        trackingCategoryRefs:
                        - id: classification-2
                        - id: department-1
                        - id: location-1
                        isDirectIncome: false
                      paymentAllocations:
                      - payment:
                          id: '8828'
                          reference: 'Credit Memo #CM28'
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2021-04-09T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 16
                      modifiedDate: '2022-09-20T08:15:31Z'
                      sourceModifiedDate: '2022-02-25T10:58:37'
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 36
                    _links:
                      current:
                        href: /companies/973341cc-ca0a-4a88-88de-e5954157818b/data/creditNotes?page=1&pageSize=2
                      self:
                        href: /companies/973341cc-ca0a-4a88-88de-e5954157818b/data/creditNotes
                      next:
                        href: /companies/973341cc-ca0a-4a88-88de-e5954157818b/data/creditNotes?page=2&pageSize=2
                QuickBooks Desktop:
                  value:
                    results:
                    - id: 96C-933372931
                      creditNoteNumber: '4002'
                      customerRef:
                        id: 150000-933272658
                        companyName: Abercrombie, Kristy
                      withholdingTax: []
                      totalAmount: 711.15
                      totalDiscount: 0
                      subTotal: 660
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 51.15
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2024-12-01T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: 'Whirlpool tub

                          Billed and paid for 2 tubs, should have been for only 1 tub'
                        unitAmount: 660
                        quantity: 1
                        subTotal: 660
                        taxAmount: 0
                        totalAmount: 660
                        accountRef:
                          id: 40000-933270541
                          name: Accounts Receivable
                        taxRateRef:
                          id: 10000-999022286
                          name: Taxable Sales
                        itemRef:
                          id: 1E0000-933272656
                          name: Plumb Fixtrs
                        trackingCategoryRefs:
                        - id: 40000-933272658
                          name: Remodel
                        isDirectIncome: false
                      paymentAllocations:
                      - payment:
                          id: 969-933372844
                          accountRef:
                            id: 20000-933270541
                            name: Checking
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2024-12-01T00:00:00'
                          totalAmount: -711.15
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 711.15
                      modifiedDate: '2023-04-26T09:07:38Z'
                      sourceModifiedDate: '2023-12-16T05:04:05'
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 1
                    _links:
                      current:
                        href: /companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/data/creditNotes?page=1&pageSize=2
                      self:
                        href: /companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/data/creditNotes
                QuickBooks Online:
                  value:
                    results:
                    - id: '85'
                      creditNoteNumber: '3122019_6'
                      customerRef:
                        id: '3'
                        companyName: Information Sharing Technology
                      withholdingTax: []
                      totalAmount: 13.53
                      totalDiscount: 0
                      subTotal: 13.53
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2019-12-03T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Refunds with payment type of Cash
                        unitAmount: 13.53
                        quantity: 1
                        subTotal: 13.53
                        taxAmount: 0
                        totalAmount: 13.53
                        accountRef:
                          id: '1'
                          name: Sales
                        taxRateRef:
                          id: 8_Invoices
                          name: Exempt Invoices
                          effectiveTaxRate: 0
                        itemRef:
                          id: '1'
                          name: Sales
                        trackingCategoryRefs: []
                        isDirectIncome: true
                      paymentAllocations:
                      - payment:
                          id: '85'
                          note: ''
                          accountRef:
                            id: '63'
                            name: Business Bank Account
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2019-12-03T00:00:00'
                          totalAmount: -13.53
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          allocatedOnDate: '2019-12-03T00:00:00'
                          totalAmount: 13.53
                      modifiedDate: '2023-01-18T11:02:55Z'
                      sourceModifiedDate: '2019-12-10T19:00:36Z'
                    - id: '86'
                      creditNoteNumber: '3122019_66'
                      customerRef:
                        id: '3'
                        companyName: Information Sharing Technology
                      withholdingTax: []
                      totalAmount: 1
                      totalDiscount: 0
                      subTotal: 1
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2019-12-03T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Refunds with payment type of Card
                        unitAmount: 1
                        quantity: 1
                        subTotal: 1
                        taxAmount: 0
                        totalAmount: 1
                        accountRef:
                          id: '1'
                          name: Sales
                        taxRateRef:
                          id: 8_Invoices
                          name: Exempt Invoices
                          effectiveTaxRate: 0
                        itemRef:
                          id: '1'
                          name: Sales
                        trackingCategoryRefs: []
                        isDirectIncome: true
                      paymentAllocations:
                      - payment:
                          id: '86'
                          note: ''
                          accountRef:
                            id: '63'
                            name: Business Bank Account
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2019-12-03T00:00:00'
                          totalAmount: -1
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          allocatedOnDate: '2019-12-03T00:00:00'
                          totalAmount: 1
                      modifiedDate: '2023-01-18T11:02:55Z'
                      sourceModifiedDate: '2019-12-10T19:00:37Z'
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 1253
                    _links:
                      current:
                        href: /companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/data/creditNotes?page=1&pageSize=2
                      self:
                        href: /companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/data/creditNotes
                      next:
                        href: /companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/data/creditNotes?page=2&pageSize=2
                QuickBooks Online Sandbox:
                  value:
                    results:
                    - id: '185'
                      creditNoteNumber: '1015'
                      customerRef:
                        id: '16'
                        companyName: Jordan Burgess
                      withholdingTax: []
                      totalAmount: 1800
                      totalDiscount: 0
                      subTotal: 1500
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 300
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2017-02-15T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Employee training off site
                        unitAmount: 1500
                        quantity: 1
                        subTotal: 1500
                        taxAmount: 300
                        totalAmount: 1800
                        accountRef:
                          id: '44'
                          name: Sales
                        taxRateRef:
                          id: 3_Invoices
                          name: 20.0% S Invoices
                          effectiveTaxRate: 20
                        itemRef:
                          id: '5'
                          name: Employee Training
                        trackingCategoryRefs:
                        - id: DEPARTMENT_1
                          name: London
                        isDirectIncome: false
                      paymentAllocations:
                      - payment:
                          id: '192'
                          note: Created by QB Online to link credits to charges.
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2017-09-08T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 1800
                      modifiedDate: '2023-04-26T09:36:03Z'
                      sourceModifiedDate: '2017-09-08T12:52:27Z'
                      metadata:
                        isDeleted: false
                    - id: '213'
                      creditNoteNumber: '1030'
                      customerRef:
                        id: '5'
                        companyName: Whitehead and Sons
                      withholdingTax: []
                      totalAmount: 600
                      totalDiscount: 0
                      subTotal: 500
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 100
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2018-12-18T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Employee celebration -- Anniversary / Retirement
                        unitAmount: 500
                        quantity: 1
                        subTotal: 500
                        taxAmount: 100
                        totalAmount: 600
                        accountRef:
                          id: '44'
                          name: Sales
                        taxRateRef:
                          id: 3_Invoices
                          name: 20.0% S Invoices
                          effectiveTaxRate: 20
                        itemRef:
                          id: '4'
                          name: Employee Celebration
                        trackingCategoryRefs:
                        - id: DEPARTMENT_3
                          name: Birmingham
                        isDirectIncome: false
                      paymentAllocations:
                      - payment:
                          id: '215'
                          note: Created by QB Online to link credits to charges.
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2018-12-18T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 600
                      modifiedDate: '2023-04-26T09:36:03Z'
                      sourceModifiedDate: '2018-12-18T10:08:45Z'
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 141
                    _links:
                      current:
                        href: /companies/5a7f3597-36e1-4216-86fe-289ad36088a6/data/creditNotes?page=1&pageSize=2
                      self:
                        href: /companies/5a7f3597-36e1-4216-86fe-289ad36088a6/data/creditNotes
                      next:
                        href: /companies/5a7f3597-36e1-4216-86fe-289ad36088a6/data/creditNotes?page=2&pageSize=2
                Sage 200cloud:
                  value:
                    results:
                    - id: '45891'
                      creditNoteNumber: return 1a
                      customerRef:
                        id: A1D001
                        companyName: A1 Design Services
                      withholdingTax: []
                      totalAmount: 378
                      totalDiscount: 9.46
                      subTotal: 315
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 63
                      discountPercentage: 2.5
                      remainingCredit: 378
                      status: Submitted
                      issueDate: '2020-07-22T00:00:00Z'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Tax Summary - Standard rate
                        unitAmount: 0
                        quantity: 0
                        discountAmount: 1.58
                        subTotal: 0
                        taxAmount: 63
                        totalAmount: 63
                        taxRateRef:
                          id: '1'
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      - description: Goods Summary
                        unitAmount: 0
                        quantity: 0
                        discountAmount: 9.46
                        subTotal: 315
                        taxAmount: 0
                        totalAmount: 315
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      paymentAllocations: []
                      modifiedDate: '2022-10-14T09:35:55Z'
                      sourceModifiedDate: '2020-02-28T14:23:46Z'
                      note: black
                    - id: '45901'
                      creditNoteNumber: return 003
                      customerRef:
                        id: ABS001
                        companyName: ABS Garages Ltd
                      withholdingTax: []
                      totalAmount: 177.14
                      totalDiscount: 4.42
                      subTotal: 147.62
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 29.52
                      discountPercentage: 2.5
                      remainingCredit: 177.14
                      status: Submitted
                      issueDate: '2020-07-22T00:00:00Z'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Tax Summary - Standard rate
                        unitAmount: 0
                        quantity: 0
                        discountAmount: 0.73
                        subTotal: 0
                        taxAmount: 29.52
                        totalAmount: 29.52
                        taxRateRef:
                          id: '1'
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      - description: Goods Summary
                        unitAmount: 0
                        quantity: 0
                        discountAmount: 4.42
                        subTotal: 147.62
                        taxAmount: 0
                        totalAmount: 147.62
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      paymentAllocations: []
                      modifiedDate: '2022-10-14T09:35:55Z'
                      sourceModifiedDate: '2020-02-28T14:23:46Z'
                      note: cred 003
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 26
                    _links:
                      current:
                        href: /companies/93c21e2d-049c-4d24-b41b-57e61c30b69e/data/creditNotes?page=1&pageSize=2
                      self:
                        href: /companies/93c21e2d-049c-4d24-b41b-57e61c30b69e/data/creditNotes
                      next:
                        href: /companies/93c21e2d-049c-4d24-b41b-57e61c30b69e/data/creditNotes?page=2&pageSize=2
                Sage 50 (UK):
                  value:
                    results:
                    - id: INV-17
                      creditNoteNumber: '17'
                      customerRef:
                        id: KIN001
                        companyName: Kinghorn & French
                      withholdingTax: []
                      totalAmount: 832.84
                      totalDiscount: 0
                      subTotal: 711.45
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 121.39
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2021-02-02T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: PC Combo Pack 4
                        unitAmount: 832.84
                        quantity: 1
                        subTotal: 711.45
                        taxAmount: 121.39
                        totalAmount: 832.84
                        accountRef:
                          id: '4000'
                          name: Sales North
                        taxRateRef:
                          id: '1'
                          name: Standard rate
                          effectiveTaxRate: 20
                        trackingCategoryRefs:
                        - id: department_1
                          name: Sales
                        isDirectIncome: false
                      paymentAllocations:
                      - payment:
                          id: '336'
                          note: Sales credit inv-17 linked to sales invoice inv-45.
                          accountRef:
                            id: ''
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2022-02-02T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 63.69
                      - payment:
                          id: '336'
                          note: Sales credit inv-17 linked to sales invoice inv-45.
                          accountRef:
                            id: ''
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2022-02-02T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 73.49
                      - payment:
                          id: '336'
                          note: Sales credit inv-17 linked to sales invoice inv-45.
                          accountRef:
                            id: ''
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2022-02-02T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 157.25
                      - payment:
                          id: '336'
                          note: Sales credit inv-17 linked to sales invoice inv-45.
                          accountRef:
                            id: ''
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2022-02-02T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 158.25
                      - payment:
                          id: '336'
                          note: Sales credit inv-17 linked to sales invoice inv-45.
                          accountRef:
                            id: ''
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2022-02-02T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 344.89
                      - payment:
                          id: '336'
                          note: Sales credit inv-17 linked to sales invoice inv-45.
                          accountRef:
                            id: ''
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2022-02-02T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 35.27
                      modifiedDate: '2023-03-30T14:42:43Z'
                      sourceModifiedDate: '2022-11-25T09:43:54'
                      note: PC Combo Pack 4
                      metadata:
                        isDeleted: false
                    - id: INV-34
                      creditNoteNumber: '34'
                      customerRef:
                        id: MIL001
                        companyName: Mile Road Health Centre
                      withholdingTax: []
                      totalAmount: 1668.14
                      totalDiscount: 0
                      subTotal: 1425
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 243.14
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2021-02-28T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: PC Combo Pack 6
                        unitAmount: 1668.14
                        quantity: 1
                        subTotal: 1425
                        taxAmount: 243.14
                        totalAmount: 1668.14
                        accountRef:
                          id: '4000'
                          name: Sales North
                        taxRateRef:
                          id: '1'
                          name: Standard rate
                          effectiveTaxRate: 20
                        trackingCategoryRefs:
                        - id: department_1
                          name: Sales
                        isDirectIncome: false
                      paymentAllocations:
                      - payment:
                          id: '530'
                          note: Sales credit inv-34 linked to sales invoice inv-26.
                          accountRef:
                            id: ''
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2022-02-28T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 1668.14
                      modifiedDate: '2023-03-30T14:42:43Z'
                      sourceModifiedDate: '2022-11-25T09:43:54'
                      note: PC Combo Pack 6
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 7
                    _links:
                      current:
                        href: /companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/data/creditNotes?page=1&pageSize=2
                      self:
                        href: /companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/data/creditNotes
                      next:
                        href: /companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/data/creditNotes?page=2&pageSize=2
                Sage Business Cloud Accounting:
                  value:
                    results:
                    - id: c1a0176c33de11e797950a57719b2edb
                      creditNoteNumber: SCN-1
                      customerRef:
                        id: f4ff85ba33dd11e797950a57719b2edb
                        companyName: Widgets Limited
                      withholdingTax: []
                      totalAmount: 1080
                      totalDiscount: 0
                      subTotal: 900
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 180
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2017-05-08T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Consulting services
                        unitAmount: 900
                        quantity: 1
                        discountAmount: 0
                        subTotal: 900
                        taxAmount: 180
                        totalAmount: 1080
                        accountRef:
                          id: 9a994b92267a11e797950a57719b2edb
                          name: Sales Type A
                        discountPercentage: 0
                        taxRateRef:
                          id: GB_STANDARD
                          name: Standard 20.00%
                          effectiveTaxRate: 20
                        itemRef:
                          id: a87b922b33de11e797950a57719b2edb
                          name: Consulting services
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      paymentAllocations:
                      - payment:
                          id: d39f7a5733de11e797950a57719b2edb
                          note: Customer refund using credit/debit card
                          accountRef:
                            id: 9a25937b267a11e797950a57719b2edb
                            name: Current
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2017-05-08T00:00:00'
                          totalAmount: -1080
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 1080
                      modifiedDate: '2022-10-24T14:55:35Z'
                      sourceModifiedDate: '2017-05-08T11:09:38Z'
                      note: ''
                    - id: 28a459069a6211e8bad90617b3da4b8a
                      creditNoteNumber: SCN-3
                      customerRef:
                        id: f4ff85ba33dd11e797950a57719b2edb
                        companyName: Widgets Limited
                      withholdingTax: []
                      totalAmount: 5400
                      totalDiscount: 0
                      subTotal: 4500
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 900
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2018-08-07T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Consulting services
                        unitAmount: 900
                        quantity: 5
                        discountAmount: 0
                        subTotal: 4500
                        taxAmount: 900
                        totalAmount: 5400
                        accountRef:
                          id: 9a994b92267a11e797950a57719b2edb
                          name: Sales Type A
                        discountPercentage: 0
                        taxRateRef:
                          id: GB_STANDARD
                          name: Standard 20.00%
                          effectiveTaxRate: 20
                        itemRef:
                          id: a87b922b33de11e797950a57719b2edb
                          name: Consulting services
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      paymentAllocations:
                      - payment:
                          id: 28a459069a6211e8bad90617b3da4b8a
                          note: Sales credit note
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2018-08-07T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 5400
                      modifiedDate: '2022-10-24T14:55:35Z'
                      sourceModifiedDate: '2018-08-07T16:51:41Z'
                      note: ''
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 2972
                    _links:
                      current:
                        href: /companies/390083e2-351b-407c-a3be-55081c36c182/data/creditNotes?page=1&pageSize=2
                      self:
                        href: /companies/390083e2-351b-407c-a3be-55081c36c182/data/creditNotes
                      next:
                        href: /companies/390083e2-351b-407c-a3be-55081c36c182/data/creditNotes?page=2&pageSize=2
                Sage Intacct:
                  value:
                    results:
                    - id: '5018'
                      creditNoteNumber: IN0545
                      customerRef:
                        id: '53'
                        companyName: Pacificorp
                      withholdingTax: []
                      totalAmount: 575
                      totalDiscount: 0
                      subTotal: 500
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 75
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2022-03-16T00:00:00'
                      allocatedOnDate: '2022-03-16T00:00:00'
                      currency: ZAR
                      lineItems:
                      - description: No Description Provided
                        unitAmount: 500
                        quantity: 1
                        subTotal: 500
                        taxAmount: 75
                        totalAmount: 575
                        accountRef:
                          id: '2'
                          name: Accounts Receivable
                        taxRateRef:
                          id: '27'
                          name: Standard Rate Output
                          effectiveTaxRate: 15
                        trackingCategoryRefs:
                        - id: LOCATION-10
                          name: South Africa
                        - id: DEPARTMENT-2
                          name: Services
                        - id: CUSTOMER-53
                          name: Pacificorp
                        isDirectIncome: false
                      paymentAllocations: []
                      modifiedDate: '2023-02-23T14:21:40Z'
                      sourceModifiedDate: '2022-03-16T12:27:43Z'
                      note: ''
                      metadata:
                        isDeleted: false
                    - id: '5020'
                      creditNoteNumber: ARADJ0034
                      customerRef:
                        id: '53'
                        companyName: Pacificorp
                      withholdingTax: []
                      totalAmount: 115
                      totalDiscount: 0
                      subTotal: 100
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 15
                      discountPercentage: 0
                      remainingCredit: 115
                      status: Submitted
                      issueDate: '2022-03-16T00:00:00'
                      currency: ZAR
                      currencyRate: 1
                      lineItems:
                      - description: No Description Provided
                        unitAmount: 100
                        quantity: 1
                        subTotal: 100
                        taxAmount: 15
                        totalAmount: 115
                        accountRef:
                          id: '2'
                          name: Accounts Receivable
                        taxRateRef:
                          id: '28'
                          name: Standard Rate (Capital Goods) Output
                          effectiveTaxRate: 15
                        trackingCategoryRefs:
                        - id: LOCATION-10
                          name: South Africa
                        - id: CUSTOMER-53
                          name: Pacificorp
                        isDirectIncome: false
                      paymentAllocations: []
                      modifiedDate: '2023-02-23T14:21:40Z'
                      sourceModifiedDate: '2022-03-16T12:30:19'
                      note: ''
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 2
                    _links:
                      current:
                        href: /companies/b53cfc9f-1a00-4a20-936f-34e8efbe07c5/data/creditNotes?page=1&pageSize=2
                      self:
                        href: /companies/b53cfc9f-1a00-4a20-936f-34e8efbe07c5/data/creditNotes
                Xero:
                  value:
                    results:
                    - id: 47fb825b-3c43-4284-905f-c6d97acc6b37
                      creditNoteNumber: CN-0025
                      customerRef:
                        id: af0091a9-82ef-4cac-9fd6-22c095ac6a58
                        companyName: Hamilton Smith Ltd
                      withholdingTax: []
                      totalAmount: 541.25
                      totalDiscount: 0
                      subTotal: 451.04
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 90.21
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2022-11-20T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: FULL CREDIT of INV-0016 due to duplication of invoice INV-0012. Please accept our apologies.
                        unitAmount: 0
                        quantity: 0
                        discountAmount: 0
                        subTotal: 0
                        taxAmount: 0
                        totalAmount: 0
                        discountPercentage: 0
                        trackingCategoryRefs: []
                        isDirectIncome: false
                      - description: Desktop/network support via email & phone.Per month fixed fee for minimum 20 hours/month.
                        unitAmount: 451.04
                        quantity: 1
                        discountAmount: 0
                        subTotal: 451.04
                        taxAmount: 90.21
                        totalAmount: 541.25
                        accountRef:
                          id: c563b607-fb0e-4d06-9ddb-76fdeef20ae3
                          name: Sales
                        discountPercentage: 0
                        taxRateRef:
                          id: OUTPUT2
                          name: 20% (VAT on Income)
                          effectiveTaxRate: 20
                        itemRef:
                          id: f8fb7e00-5e5d-466c-aef0-15861f73d04f
                          name: Desktop/network support via email & phone
                        trackingCategoryRefs:
                        - id: 34b9b859-07a9-451a-b4d3-effc9946634a
                          name: North
                        isDirectIncome: false
                      paymentAllocations:
                      - payment:
                          id: 47fb825b-3c43-4284-905f-c6d97acc6b37
                          reference: Monthly Support
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2022-11-20T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          allocatedOnDate: '2022-11-20T00:00:00'
                          totalAmount: 541.25
                      modifiedDate: '2023-03-15T20:35:09Z'
                      sourceModifiedDate: '2011-04-07T00:34:38'
                      metadata:
                        isDeleted: false
                    - id: caba470e-962f-4168-9c57-35caa289204d
                      creditNoteNumber: CN-0026
                      customerRef:
                        id: 9ce626d2-14ea-463c-9fff-6785ab5f9bfb
                        companyName: Boom FM
                      withholdingTax: []
                      totalAmount: 500
                      totalDiscount: 0
                      subTotal: 416.67
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 83.33
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2023-01-13T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: "CREDIT Half day training - Microsoft Office and include in suite of training\r\nINV-0024"
                        unitAmount: 416.67
                        quantity: 1
                        discountAmount: 0
                        subTotal: 416.67
                        taxAmount: 83.33
                        totalAmount: 500
                        accountRef:
                          id: c563b607-fb0e-4d06-9ddb-76fdeef20ae3
                          name: Sales
                        discountPercentage: 0
                        taxRateRef:
                          id: OUTPUT2
                          name: 20% (VAT on Income)
                          effectiveTaxRate: 20
                        itemRef:
                          id: 489558f5-27b7-4f37-ad9f-d84611c2e2ab
                          name: Half day training - Microsoft Office
                        trackingCategoryRefs:
                        - id: b3900cc6-3745-40ea-955f-9ef7b1c8cf7e
                          name: South
                        isDirectIncome: false
                      paymentAllocations:
                      - payment:
                          id: caba470e-962f-4168-9c57-35caa289204d
                          reference: Training
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2023-01-13T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          allocatedOnDate: '2023-01-13T00:00:00'
                          totalAmount: 500
                      modifiedDate: '2023-03-15T20:35:09Z'
                      sourceModifiedDate: '2011-04-07T02:47:04'
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 3
                    _links:
                      current:
                        href: /companies/5ced9667-a310-443a-a711-958d36377141/data/creditNotes?page=1&pageSize=2
                      self:
                        href: /companies/5ced9667-a310-443a-a711-958d36377141/data/creditNotes
                      next:
                        href: /companies/5ced9667-a310-443a-a711-958d36377141/data/creditNotes?page=2&pageSize=2
                Zoho Books:
                  value:
                    results:
                    - id: '104957000000129002'
                      creditNoteNumber: CN-00001
                      customerRef:
                        id: '104957000000037097'
                        companyName: Test Company
                      withholdingTax: []
                      totalAmount: 9001
                      totalDiscount: 0
                      subTotal: 0
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 9001
                      status: Draft
                      issueDate: '2020-04-28T18:16:22'
                      currency: GBP
                      lineItems: []
                      paymentAllocations: []
                      modifiedDate: '2022-10-03T08:40:43Z'
                      sourceModifiedDate: '2020-04-28T18:16:22'
                    - id: '104957000000134023'
                      creditNoteNumber: CN-00002
                      customerRef:
                        id: '104957000000054050'
                        companyName: Doe, John
                      withholdingTax: []
                      totalAmount: 125
                      totalDiscount: 0
                      subTotal: 0
                      additionalTaxAmount: 0
                      additionalTaxPercentage: 0
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2020-05-06T13:04:20'
                      currency: GBP
                      lineItems: []
                      paymentAllocations:
                      - payment:
                          id: '104957000000134039'
                          currency: GBP
                          paidOnDate: '2020-05-06T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 125
                      modifiedDate: '2022-10-03T08:40:43Z'
                      sourceModifiedDate: '2020-05-06T13:05:27'
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 12
                    _links:
                      current:
                        href: /companies/d0b68840-db50-4bc3-b88c-96e225333fea/data/creditNotes?page=1&pageSize=2
                      self:
                        href: /companies/d0b68840-db50-4bc3-b88c-96e225333fea/data/creditNotes
                      next:
                        href: /companies/d0b68840-db50-4bc3-b88c-96e225333fea/data/creditNotes?page=2&pageSize=2
        '400':
          $ref: '#/components/responses/Malformed-Query'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/Payment-Required'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
      description: "The *List credit notes* endpoint returns a list of [credit notes](https://docs.codat.io/lending-api#/schemas/CreditNote) for a given company's connection.\n\n[Credit notes](https://docs.codat.io/lending-api#/schemas/CreditNote) are issued to a customer to indicate debt, typically with reference to a previously issued invoice and/or purchase.\n\nBefore using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/lending-api#/operations/refresh-company-data).\n    "
      operationId: list-accounting-credit-notes
      x-speakeasy-group: accounts-receivable.credit-notes
  /companies/{companyId}/data/creditNotes/{creditNoteId}:
    parameters:
    - $ref: '#/components/parameters/companyId'
    - name: creditNoteId
      in: path
      required: true
      schema:
        type: string
      description: Unique identifier for a credit note.
    get:
      tags:
      - Accounts receivable
      summary: Get credit note
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCreditNote'
              examples:
                Dynamics 365 Business Central:
                  value:
                    id: e6e5ec0f-1c60-eb11-89fa-00224800a9c7
                    creditNoteNumber: '104001'
                    customerRef:
                      id: 8ddfa6bf-0c60-eb11-89fa-00224800af18
                      companyName: Abdi Company
                    withholdingTax: []
                    totalAmount: 105
                    totalDiscount: 0
                    subTotal: 100
                    additionalTaxAmount: 0
                    additionalTaxPercentage: 0
                    totalTaxAmount: 5
                    discountPercentage: 0
                    remainingCredit: 80
                    status: PartiallyPaid
                    issueDate: '2021-01-25T00:00:00'
                    currency: GBP
                    lineItems:
                    - description: 'Invoice No. 103221:'
                      unitAmount: 0
                      quantity: 1
                      discountAmount: 0
                      subTotal: 0
                      taxAmount: 0
                      totalAmount: 0
                      accountRef:
                        id: NullId
                      discountPercentage: 0
                      taxRateRef:
                        id: cc81fea8-2917-ed11-90eb-002248009df3
                        name: ''
                        effectiveTaxRate: 0
                      trackingCategoryRefs: []
                      isDirectIncome: false
                    - description: Linda Martin
                      unitAmount: 100
                      quantity: 1
                      discountAmount: 0
                      subTotal: 100
                      taxAmount: 5
                      totalAmount: 105
                      accountRef:
                        id: 161217b3-89d1-ea11-bbaa-000d3a2b9185
                        name: Income, Services
                      discountPercentage: 0
                      taxRateRef:
                        id: 61bc0fb9-89d1-ea11-bbaa-000d3a2b9185
                        name: Setup for DOMESTIC / REDUCED
                        effectiveTaxRate: 5
                      itemRef:
                        id: RESC-331317b3-89d1-ea11-bbaa-000d3a2b9185-DOMESTIC-DOMESTIC
                        name: 'Linda Martin / General Business Posting Group: ''DOMESTIC'' / VAT Business Posting Group: ''DOMESTIC'''
                      trackingCategoryRefs: []
                      isDirectIncome: false
                    - description: Credit memo for partially paid inv
                      unitAmount: 0
                      quantity: 1
                      discountAmount: 0
                      subTotal: 0
                      taxAmount: 0
                      totalAmount: 0
                      accountRef:
                        id: NullId
                      discountPercentage: 0
                      taxRateRef:
                        id: cc81fea8-2917-ed11-90eb-002248009df3
                        name: ''
                        effectiveTaxRate: 0
                      trackingCategoryRefs: []
                      isDirectIncome: false
                    paymentAllocations:
                    - payment:
                        id: 62e5046d-1c60-eb11-89fa-00224800a9c7
                        note: Credit Memo 1001
                        reference: 'Document No: 104001'
                        currency: GBP
                        currencyRate: 1
                        paidOnDate: '2021-01-25T00:00:00'
                        totalAmount: 0
                      allocation:
                        currency: GBP
                        currencyRate: 1
                        allocatedOnDate: '2021-01-25T00:00:00'
                        totalAmount: 25
                    modifiedDate: '2023-03-27T14:21:25Z'
                    sourceModifiedDate: '2021-01-26T21:21:18Z'
                    metadata:
                      isDeleted: false
                FreeAgent:
                  value:
                    id: '21952211'
                    creditNoteNumber: '004'
                    customerRef:
                      id: '6162023'
                      companyName: Alderley plc
                    withholdingTax: []
                    totalAmount: 165
                    totalDiscount: 0
                    subTotal: 165
                    additionalTaxAmount: 0
                    additionalTaxPercentage: 0
                    totalTaxAmount: 0
                    discountPercentage: 0
                    remainingCredit: 0
                    status: Paid
                    issueDate: '2017-10-18T00:00:00'
                    currency: GBP
                    currencyRate: 1
                    lineItems:
                    - description: Reverse 6546
                      unitAmount: 110
                      quantity: 1.5
                      subTotal: 165
                      taxAmount: 0
                      totalAmount: 165
                      trackingCategoryRefs: []
                      isDirectIncome: false
                    paymentAllocations:
                    - payment:
                        id: '270764400'
                        note: �165.00 - Credit Note refund against 004
                        currency: GBP
                        paidOnDate: '2020-12-23T00:00:00'
                        totalAmount: -165
                      allocation:
                        currency: GBP
                        currencyRate: 1
                        totalAmount: 165
                    modifiedDate: '2023-04-25T14:19:09Z'
                    sourceModifiedDate: '2020-12-23T16:39:23Z'
                    metadata:
                      isDeleted: false
                FreshBooks:
                  value:
                    id: '33407'
                    creditNoteNumber: '0000065'
                    customerRef:
                      id: '511657'
                      companyName: Bob's Stationary
                    withholdingTax: []
                    totalAmount: 150
                    totalDiscount: 0
                    subTotal: 150
                    additionalTaxAmount: 0
                    additionalTaxPercentage: 0
                    totalTaxAmount: 0
                    discountPercentage: 0
                    remainingCredit: 0
                    status: Submitted
                    issueDate: '2020-07-31T00:00:00'
                    currency: GBP
                    lineItems:
                    - description: Test Di
                      unitAmount: 150
                      quantity: 1
                      subTotal: 150
                      taxAmount: 0
                      totalAmount: 150
                      trackingCategoryRefs: []
                      isDirectIncome: false
                    paymentAllocations:
                    - payment:
                        id: '2054019'
                        note: Free $150 voucher
                        currency: GBP
                        paidOnDate: '2020-07-31T00:00:00'
                        totalAmount: 0
                      allocation:
                        currency: GBP
                        currencyRate: 1
                        totalAmount: 150
                    modifiedDate: '2023-03-24T16:07:23Z'
                    note: Free $150 voucher
                    metadata:
                      isDeleted: false
                KashFlow:
                  value:
                    id: '85322315'
                    creditNoteNumber: '4'
                    customerRef:
                      id: '69946501'
                      companyName: Peter Lord
                    withholdingTax: []
                    totalAmount: 100
                    totalDiscount: 0
                    subTotal: 0
                    additionalTaxAmount: 0
                    additionalTaxPercentage: 0
                    totalTaxAmount: 0
                    discountPercentage: 0
                    remainingCredit: 0
                    status: Paid
                    issueDate: '2017-05-09T00:00:00'
                    currency: GBP
                    currencyRate: 1
                    lineItems:
                    - description: youm
                      unitAmount: 100
                      quantity: -1
                      subTotal: -100
                      taxAmount: 0
                      totalAmount: 100
                      accountRef:
                        id: '21481817'
                        name: Sale of goods
                      itemRef:
                        id: '158667064'
                      trackingCategoryRefs: []
                      isDirectIncome: false
                    paymentAllocations:
                    - payment:
                        id: '86870120'
                        note: Applying Credit Note
                        currency: GBP
                        paidOnDate: '2017-05-09T00:00:00'
                        totalAmount: -100
                      allocation:
                        currency: GBP
                        currencyRate: 1
                        totalAmount: 100
                    modifiedDate: '2022-09-30T10:29:16Z'
                Oracle NetSuite:
                  value:
                    id: '8827'
                    creditNoteNumber: CM27
                    customerRef:
                      id: '417'
                      companyName: 10 Breww Ltd
                    withholdingTax: []
                    totalAmount: 26
                    totalDiscount: 0
                    subTotal: 26
                    additionalTaxAmount: 0
                    additionalTaxPercentage: 0
                    totalTaxAmount: 0
                    discountPercentage: 0
                    remainingCredit: 26
                    status: Submitted
                    issueDate: '2021-04-09T00:00:00'
                    currency: GBP
                    currencyRate: 1
                    lineItems:
                    - description: Andy Test Item
                      unitAmount: 2
                      quantity: 3
                      subTotal: 6
                      totalAmount: 6
                      accountRef:
                        id: '54'
                        name: Sales
                      itemRef:
                        id: '143'
                        name: Andy Test Item
                      trackingCategoryRefs:
                      - id: classification-2
                      - id: department-1
                      - id: location-1
                      isDirectIncome: false
                    - description: Non-Recurring Services - EC
                      unitAmount: 4
                      quantity: 5
                      subTotal: 20
                      totalAmount: 20
                      accountRef:
                        id: '54'
                        name: Sales
                      itemRef:
                        id: '28'
                        name: Non-Recurring Services - EC
                      trackingCategoryRefs:
                      - id: classification-2
                      - id: department-1
                      - id: location-1
                      isDirectIncome: false
                    paymentAllocations: []
                    modifiedDate: '2022-09-20T08:15:31Z'
[...]
