openapi: 3.1.0
info:
  title: Bank Feeds Account mapping Accounting bank data API
  version: 3.0.0
  contact:
    email: support@codat.io
    name: Codat
  description: 'Bank Feeds solution enables your SMB users to set up bank feeds from accounts in your application to supported accounting software.


    A bank feed is a connection between a source bank account in your application and a target bank account in a supported accounting software.


    [Explore solution](https://docs.codat.io/bank-feeds-api/overview) | [See OpenAPI spec](https://github.com/codatio/oas)


    ---

    <!-- Start Codat Tags Table -->

    ## Endpoints


    | Endpoints | Description |

    | :- |:- |

    | Companies | Create and manage your SMB users'' companies. |

    | Connections | Create new and manage existing data connections for a company. |

    | Source accounts | Provide and manage lists of source bank accounts. |

    | Account mapping | Extra functionality for building an account management UI. |

    | Company information | Get detailed information about a company from the underlying platform. |

    | Transactions | Create new bank account transactions for a company''s connections, and see previous operations. |

    <!-- End Codat Tags Table -->'
  termsOfService: https://www.codat.io/legals/
servers:
- description: Production
  url: https://api.codat.io
security:
- auth_header: []
tags:
- name: Accounting bank data
  description: Access bank transactions from an accounting software.
paths:
  /companies/{companyId}/connections/{connectionId}/data/bankAccounts:
    parameters:
    - $ref: '#/components/parameters/companyId'
    - $ref: '#/components/parameters/connectionId'
    get:
      x-internal: true
      tags:
      - Accounting bank data
      summary: List bank accounts
      operationId: list-accounting-bank-accounts
      x-speakeasy-group: accounting-bank-data.accounts
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/orderBy'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBankAccounts'
              examples:
                Dynamics 365 Business Central:
                  value:
                    results:
                    - id: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      accountName: '55'
                      accountType: Unknown
                      nominalCode: '10500'
                      sortCode: ''
                      accountNumber: ''
                      iBan: ''
                      currency: GBP
                      balance: -352.03
                      modifiedDate: '2023-03-27T14:21:10Z'
                      sourceModifiedDate: '2023-02-07T00:00:00'
                      overdraftLimit: 0
                      metadata:
                        isDeleted: false
                    - id: 47020f80-60e6-ec11-82f8-0022481a77f0
                      accountName: '555'
                      accountType: Unknown
                      nominalCode: '40300'
                      sortCode: ''
                      accountNumber: ''
                      iBan: ''
                      currency: PLN
                      balance: 661.79
                      modifiedDate: '2023-03-27T14:21:10Z'
                      sourceModifiedDate: '2022-06-07T00:00:00'
                      overdraftLimit: 0
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 28
                    _links:
                      current:
                        href: /companies/d6849caf-c146-41be-8335-b73346e3bd84/connections/60acb117-5cf5-4745-b069-491551da4066/data/bankAccounts?page=1&pageSize=2
                      self:
                        href: /companies/d6849caf-c146-41be-8335-b73346e3bd84/connections/60acb117-5cf5-4745-b069-491551da4066/data/bankAccounts
                      next:
                        href: /companies/d6849caf-c146-41be-8335-b73346e3bd84/connections/60acb117-5cf5-4745-b069-491551da4066/data/bankAccounts?page=2&pageSize=2
                FreeAgent:
                  value:
                    results:
                    - id: '738783'
                      accountName: \w3fw
                      accountType: Debit
                      sortCode: '236972'
                      accountNumber: A06268209
                      currency: GBP
                      balance: -10484.65
                      availableBalance: -10484.65
                      modifiedDate: '2023-04-25T14:19:12Z'
                      metadata:
                        isDeleted: false
                    - id: '738778'
                      accountName: 2e2bna45hy\
                      accountType: Debit
                      sortCode: '236972'
                      accountNumber: D01825250
                      currency: GBP
                      balance: -114.4
                      availableBalance: -114.4
                      modifiedDate: '2023-04-25T14:19:12Z'
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 82
                    _links:
                      current:
                        href: /companies/071ad738-68f3-4561-afd0-69bab9df0803/connections/4fd7c69f-ecc1-45f5-83f2-42ed3391e386/data/bankAccounts?page=1&pageSize=2
                      self:
                        href: /companies/071ad738-68f3-4561-afd0-69bab9df0803/connections/4fd7c69f-ecc1-45f5-83f2-42ed3391e386/data/bankAccounts
                      next:
                        href: /companies/071ad738-68f3-4561-afd0-69bab9df0803/connections/4fd7c69f-ecc1-45f5-83f2-42ed3391e386/data/bankAccounts?page=2&pageSize=2
                KashFlow:
                  value:
                    results:
                    - id: '765768'
                      accountName: 16th Account
                      accountType: Unknown
                      nominalCode: '70700'
                      currency: GBP
                      balance: 326
                      availableBalance: 326
                      modifiedDate: '2022-09-30T10:29:16Z'
                    - id: '765766'
                      accountName: 1a1a
                      accountType: Unknown
                      nominalCode: '70600'
                      currency: GBP
                      balance: 0
                      availableBalance: 0
                      modifiedDate: '2022-09-30T10:29:16Z'
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 56
                    _links:
                      current:
                        href: /companies/3a707a99-89da-4b16-a5d6-595333a16352/connections/ecab4f64-1a04-4c53-a343-bfd879f41f67/data/bankAccounts?page=1&pageSize=2
                      self:
                        href: /companies/3a707a99-89da-4b16-a5d6-595333a16352/connections/ecab4f64-1a04-4c53-a343-bfd879f41f67/data/bankAccounts
                      next:
                        href: /companies/3a707a99-89da-4b16-a5d6-595333a16352/connections/ecab4f64-1a04-4c53-a343-bfd879f41f67/data/bankAccounts?page=2&pageSize=2
                Oracle NetSuite:
                  value:
                    results:
                    - id: '825'
                      accountName: Codat Europe Bank
                      accountType: Debit
                      nominalCode: '111111122222111'
                      currency: GBP
                      balance: 558.22
                      modifiedDate: '2023-05-02T13:24:36Z'
                      sourceModifiedDate: '2022-07-15T11:34:02'
                      metadata:
                        isDeleted: false
                    - id: '826'
                      accountName: Codat Europe Bank USD
                      accountType: Debit
                      nominalCode: '1133221133'
                      currency: USD
                      modifiedDate: '2023-05-02T13:24:36Z'
                      sourceModifiedDate: '2021-03-26T10:31:40'
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 4
                    _links:
                      current:
                        href: /companies/d5074b08-6a34-4b06-a742-236edf5dc4f1/connections/79f8313e-210a-4dc8-b69f-ba7e5004dda7/data/bankAccounts?page=1&pageSize=2
                      self:
                        href: /companies/d5074b08-6a34-4b06-a742-236edf5dc4f1/connections/79f8313e-210a-4dc8-b69f-ba7e5004dda7/data/bankAccounts
                      next:
                        href: /companies/d5074b08-6a34-4b06-a742-236edf5dc4f1/connections/79f8313e-210a-4dc8-b69f-ba7e5004dda7/data/bankAccounts?page=2&pageSize=2
                QuickBooks Desktop:
                  value:
                    results:
                    - id: 20000-933270541
                      accountName: Checking
                      accountType: Unknown
                      nominalCode: '10100'
                      currency: GBP
                      balance: 46954.1
                      availableBalance: 46954.1
                      modifiedDate: '2023-04-26T09:12:37Z'
                      sourceModifiedDate: '2023-12-16T05:06:45'
                      metadata:
                        isDeleted: false
                    - id: 550001-1071509830
                      accountName: Petty Cash
                      accountType: Unknown
                      nominalCode: '10400'
                      currency: GBP
                      balance: 500
                      availableBalance: 500
                      modifiedDate: '2023-04-26T09:12:37Z'
                      sourceModifiedDate: '2023-12-16T05:06:45'
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 3
                    _links:
                      current:
                        href: /companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/connections/2c26b4da-97d4-4ba9-baad-1e18b49b96ac/data/bankAccounts?page=1&pageSize=2
                      self:
                        href: /companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/connections/2c26b4da-97d4-4ba9-baad-1e18b49b96ac/data/bankAccounts
                      next:
                        href: /companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/connections/2c26b4da-97d4-4ba9-baad-1e18b49b96ac/data/bankAccounts?page=2&pageSize=2
                QuickBooks Online Sandbox:
                  value:
                    results:
                    - id: '164'
                      accountName: '00'
                      accountType: Debit
                      nominalCode: '123567'
                      currency: GBP
                      balance: 0
                      availableBalance: 0
                      modifiedDate: '2023-04-26T09:35:57Z'
                      sourceModifiedDate: '2022-07-20T14:11:28Z'
                      metadata:
                        isDeleted: false
                    - id: '163'
                      accountName: '11'
                      accountType: Debit
                      currency: GBP
                      balance: 0
                      availableBalance: 0
                      modifiedDate: '2023-04-26T09:35:57Z'
                      sourceModifiedDate: '2022-07-20T14:11:28Z'
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 57
                    _links:
                      current:
                        href: /companies/5a7f3597-36e1-4216-86fe-289ad36088a6/connections/1f9f6013-f8a5-4278-8a47-3ab7fdb6c24c/data/bankAccounts?page=1&pageSize=2
                      self:
                        href: /companies/5a7f3597-36e1-4216-86fe-289ad36088a6/connections/1f9f6013-f8a5-4278-8a47-3ab7fdb6c24c/data/bankAccounts
                      next:
                        href: /companies/5a7f3597-36e1-4216-86fe-289ad36088a6/connections/1f9f6013-f8a5-4278-8a47-3ab7fdb6c24c/data/bankAccounts?page=2&pageSize=2
                QuickBooks Online:
                  value:
                    results:
                    - id: '202'
                      accountName: \aa
                      accountType: Debit
                      currency: GBP
                      balance: 123
                      availableBalance: 123
                      modifiedDate: '2023-01-18T11:02:37Z'
                      sourceModifiedDate: '2022-11-11T14:15:13Z'
                    - id: '193'
                      accountName: 1 year ago
                      accountType: Debit
                      currency: GBP
                      balance: 5300.02
                      availableBalance: 5300.02
                      modifiedDate: '2023-01-18T11:02:37Z'
                      sourceModifiedDate: '2023-01-18T06:05:12Z'
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 140
                    _links:
                      current:
                        href: /companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/connections/9e28a776-f4be-425b-8a3d-ad49956de2c9/data/bankAccounts?page=1&pageSize=2
                      self:
                        href: /companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/connections/9e28a776-f4be-425b-8a3d-ad49956de2c9/data/bankAccounts
                      next:
                        href: /companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/connections/9e28a776-f4be-425b-8a3d-ad49956de2c9/data/bankAccounts?page=2&pageSize=2
                Sage 50 (UK):
                  value:
                    results:
                    - id: '1200'
                      accountName: Bank Current Account
                      accountType: Unknown
                      nominalCode: '1200'
                      sortCode: 23-34-34
                      accountNumber: '003234234'
                      iBan: ''
                      currency: GBP
                      balance: -20091.04
                      availableBalance: -20091.04
                      modifiedDate: '2023-03-30T14:42:37Z'
                      sourceModifiedDate: '2022-11-25T09:25:48'
                      overdraftLimit: 120000
                      institution: Lloyds Bank PLC
                      metadata:
                        isDeleted: false
                    - id: '1210'
                      accountName: Bank Deposit Account
                      accountType: Unknown
                      nominalCode: '1210'
                      sortCode: 45-45-45
                      accountNumber: 9/00474345
                      iBan: ''
                      currency: GBP
                      balance: 3510
                      availableBalance: 3510
                      modifiedDate: '2023-03-30T14:42:37Z'
                      sourceModifiedDate: '2022-11-25T09:25:48'
                      overdraftLimit: 0
                      institution: Halifax Building Society
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 6
                    _links:
                      current:
                        href: /companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/connections/8ee4910f-4fc1-47e6-89b1-5931fb33d8f7/data/bankAccounts?page=1&pageSize=2
                      self:
                        href: /companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/connections/8ee4910f-4fc1-47e6-89b1-5931fb33d8f7/data/bankAccounts
                      next:
                        href: /companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/connections/8ee4910f-4fc1-47e6-89b1-5931fb33d8f7/data/bankAccounts?page=2&pageSize=2
                Sage Business Cloud Accounting:
                  value:
                    results:
                    - id: 154d05abe9f24c4babe0f6a741dec1b9
                      accountName: Abdi Internet Bank
                      accountType: Unknown
                      nominalCode: '1560'
                      sortCode: '010101'
                      accountNumber: '11111'
                      currency: GBP
                      balance: 49.61
                      availableBalance: 49.61
                      modifiedDate: '2022-10-24T14:52:53Z'
                      sourceModifiedDate: '2020-01-27T10:53:26Z'
                    - id: 565ce07212bc492c8c2d04f43f9f67e3
                      accountName: Abdi Live Test
                      accountType: Unknown
                      nominalCode: '147852'
                      sortCode: '123456'
                      accountNumber: '1234567'
                      currency: GBP
                      balance: -225830.75
                      availableBalance: -225830.75
                      modifiedDate: '2022-10-24T14:52:53Z'
                      sourceModifiedDate: '2020-01-28T14:00:20Z'
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 45
                    _links:
                      current:
                        href: /companies/390083e2-351b-407c-a3be-55081c36c182/connections/37916fb7-b4b8-4a78-8872-1751e20ee0cd/data/bankAccounts?page=1&pageSize=2
                      self:
                        href: /companies/390083e2-351b-407c-a3be-55081c36c182/connections/37916fb7-b4b8-4a78-8872-1751e20ee0cd/data/bankAccounts
                      next:
                        href: /companies/390083e2-351b-407c-a3be-55081c36c182/connections/37916fb7-b4b8-4a78-8872-1751e20ee0cd/data/bankAccounts?page=2&pageSize=2
                Sage Intacct:
                  value:
                    results:
                    - id: CREDITCARD:55
                      accountName: CoT Credit Card
                      accountType: Credit
                      nominalCode: '10021'
                      currency: GBP
                      modifiedDate: '2023-04-04T16:31:46Z'
                      sourceModifiedDate: '2023-03-27T14:11:48'
                      metadata:
                        isDeleted: false
                    - id: CREDITCARD:58
                      accountName: Cot Credit Card 2
                      accountType: Credit
                      nominalCode: '11112'
                      currency: GBP
                      modifiedDate: '2023-04-04T16:31:46Z'
                      sourceModifiedDate: '2023-03-27T14:15:11'
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 14
                    _links:
                      current:
                        href: /companies/df02b289-cb16-4964-ac4d-9fd60b04538e/connections/8f457d9c-1142-4241-a07e-71d1ee2e3052/data/bankAccounts?page=1&pageSize=2
                      self:
                        href: /companies/df02b289-cb16-4964-ac4d-9fd60b04538e/connections/8f457d9c-1142-4241-a07e-71d1ee2e3052/data/bankAccounts
                      next:
                        href: /companies/df02b289-cb16-4964-ac4d-9fd60b04538e/connections/8f457d9c-1142-4241-a07e-71d1ee2e3052/data/bankAccounts?page=2&pageSize=2
                Xero:
                  value:
                    results:
                    - id: bd9e85e0-0478-433d-ae9f-0b3c4f04bfe4
                      accountName: Business Bank Account
                      accountType: Debit
                      sortCode: '990404'
                      accountNumber: '987654321'
                      currency: GBP
                      balance: 6681.79
                      modifiedDate: '2023-03-15T20:36:09Z'
                      sourceModifiedDate: '2023-03-15T20:35:07'
                      metadata:
                        isDeleted: false
                    - id: a8d6fb1a-8c5d-4683-90ce-bf9d28fc62ba
                      accountName: Business Savings Account
                      accountType: Debit
                      sortCode: '890303'
                      accountNumber: '876543210'
                      currency: GBP
                      balance: 0
                      modifiedDate: '2023-03-15T20:36:09Z'
                      sourceModifiedDate: '2023-03-15T20:36:06'
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 2
                    _links:
                      current:
                        href: /companies/5ced9667-a310-443a-a711-958d36377141/connections/6a4bcf97-e46a-465c-abf6-c42cec8e48c0/data/bankAccounts?page=1&pageSize=2
                      self:
                        href: /companies/5ced9667-a310-443a-a711-958d36377141/connections/6a4bcf97-e46a-465c-abf6-c42cec8e48c0/data/bankAccounts
                Zoho Books:
                  value:
                    results:
                    - id: '104957000000060010'
                      accountName: Abdi Test
                      accountType: Unknown
                      sortCode: '112233'
                      accountNumber: xxxx5678
                      currency: GBP
                      balance: 69858.44
                      modifiedDate: '2022-10-03T08:40:38Z'
                      institution: Test Bank
                    - id: '104957000000065002'
                      accountName: Abdi Test 2
                      accountType: Unknown
                      sortCode: ''
                      accountNumber: ''
                      currency: AED
                      balance: 98.03
                      modifiedDate: '2022-10-03T08:40:38Z'
                      institution: ''
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 4
                    _links:
                      current:
                        href: /companies/d0b68840-db50-4bc3-b88c-96e225333fea/connections/a2324b8e-60e9-451d-8eb1-0fdc8e8224df/data/bankAccounts?page=1&pageSize=2
                      self:
                        href: /companies/d0b68840-db50-4bc3-b88c-96e225333fea/connections/a2324b8e-60e9-451d-8eb1-0fdc8e8224df/data/bankAccounts
                      next:
                        href: /companies/d0b68840-db50-4bc3-b88c-96e225333fea/connections/a2324b8e-60e9-451d-8eb1-0fdc8e8224df/data/bankAccounts?page=2&pageSize=2
        '400':
          $ref: '#/components/responses/Malformed-Query'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/Payment-Required'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
      description: "The *List bank accounts* endpoint returns a list of [bank accounts](https://docs.codat.io/lending-api#/schemas/BankAccount) for a given company's connection.\n\n[Bank accounts](https://docs.codat.io/lending-api#/schemas/BankAccount) are financial accounts maintained by a bank or other financial institution.\n\nBefore using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/lending-api#/operations/refresh-company-data).\n    "
  /companies/{companyId}/connections/{connectionId}/data/bankAccounts/{accountId}:
    parameters:
    - $ref: '#/components/parameters/companyId'
    - $ref: '#/components/parameters/connectionId'
    - $ref: '#/components/parameters/accountingAccountId'
    get:
      x-internal: true
      tags:
      - Accounting bank data
      summary: Get bank account
      operationId: get-accounting-bank-account
      x-speakeasy-group: accounting-bank-data.accounts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBankAccount'
              examples:
                Dynamics 365 Business Central:
                  value:
                    id: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                    accountName: '55'
                    accountType: Unknown
                    nominalCode: '10500'
                    sortCode: ''
                    accountNumber: ''
                    iBan: ''
                    currency: GBP
                    balance: -352.03
                    modifiedDate: '2023-03-27T14:21:10Z'
                    sourceModifiedDate: '2023-02-07T00:00:00'
                    overdraftLimit: 0
                    metadata:
                      isDeleted: false
                FreeAgent:
                  value:
                    id: '738783'
                    accountName: \w3fw
                    accountType: Debit
                    sortCode: '236972'
                    accountNumber: A06268209
                    currency: GBP
                    balance: -10484.65
                    availableBalance: -10484.65
                    modifiedDate: '2023-04-25T14:19:12Z'
                    metadata:
                      isDeleted: false
                KashFlow:
                  value:
                    id: '765768'
                    accountName: 16th Account
                    accountType: Unknown
                    nominalCode: '70700'
                    currency: GBP
                    balance: 326
                    availableBalance: 326
                    modifiedDate: '2022-09-30T10:29:16Z'
                QuickBooks Desktop:
                  value:
                    id: 20000-933270541
                    accountName: Checking
                    accountType: Unknown
                    nominalCode: '10100'
                    currency: GBP
                    balance: 46954.1
                    availableBalance: 46954.1
                    modifiedDate: '2023-04-26T09:12:37Z'
                    sourceModifiedDate: '2023-12-16T05:06:45'
                    metadata:
                      isDeleted: false
                Sage 50 (UK):
                  value:
                    id: '1200'
                    accountName: Bank Current Account
                    accountType: Unknown
                    nominalCode: '1200'
                    sortCode: 23-34-34
                    accountNumber: '003234234'
                    iBan: ''
                    currency: GBP
                    balance: -20091.04
                    availableBalance: -20091.04
                    modifiedDate: '2023-03-30T14:42:37Z'
                    sourceModifiedDate: '2022-11-25T09:25:48'
                    overdraftLimit: 120000
                    institution: Lloyds Bank PLC
                    metadata:
                      isDeleted: false
                Sage Business Cloud Accounting:
                  value:
                    id: 154d05abe9f24c4babe0f6a741dec1b9
                    accountName: Abdi Internet Bank
                    accountType: Unknown
                    nominalCode: '1560'
                    sortCode: '010101'
                    accountNumber: '11111'
                    currency: GBP
                    balance: 49.61
                    availableBalance: 49.61
                    modifiedDate: '2022-10-24T14:52:53Z'
                    sourceModifiedDate: '2020-01-27T10:53:26Z'
                Xero:
                  value:
                    id: bd9e85e0-0478-433d-ae9f-0b3c4f04bfe4
                    accountName: Business Bank Account
                    accountType: Debit
                    sortCode: '990404'
                    accountNumber: '987654321'
                    currency: GBP
                    balance: 6681.79
                    modifiedDate: '2023-03-15T20:36:09Z'
                    sourceModifiedDate: '2023-03-15T20:35:07'
                    metadata:
                      isDeleted: false
                Zoho Books:
                  value:
                    id: '104957000000060010'
                    accountName: Abdi Test
                    accountType: Unknown
                    sortCode: '112233'
                    accountNumber: xxxx5678
                    currency: GBP
                    balance: 69858.44
                    modifiedDate: '2022-10-03T08:40:38Z'
                    institution: Test Bank
                Oracle NetSuite:
                  value:
                    id: '825'
                    accountName: Codat Europe Bank
                    accountType: Debit
                    nominalCode: '111111122222111'
                    currency: GBP
                    balance: 558.22
                    modifiedDate: '2023-05-02T13:24:36Z'
                    sourceModifiedDate: '2022-07-15T11:34:02'
                    metadata:
                      isDeleted: false
                QuickBooks Online Sandbox:
                  value:
                    id: '164'
                    accountName: '00'
                    accountType: Debit
                    nominalCode: '123567'
                    currency: GBP
                    balance: 0
                    availableBalance: 0
                    modifiedDate: '2023-04-26T09:35:57Z'
                    sourceModifiedDate: '2022-07-20T14:11:28Z'
                    metadata:
                      isDeleted: false
                QuickBooks Online:
                  value:
                    id: '202'
                    accountName: \aa
                    accountType: Debit
                    currency: GBP
                    balance: 123
                    availableBalance: 123
                    modifiedDate: '2023-01-18T11:02:37Z'
                    sourceModifiedDate: '2022-11-11T14:15:13Z'
                Sage Intacct:
                  value:
                    id: CREDITCARD:55
                    accountName: CoT Credit Card
                    accountType: Credit
                    nominalCode: '10021'
                    currency: GBP
                    modifiedDate: '2023-04-04T16:31:46Z'
                    sourceModifiedDate: '2023-03-27T14:11:48'
                    metadata:
                      isDeleted: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/Payment-Required'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
      description: 'The *Get bank account* endpoint returns a single account for a given accountId.


        [Bank accounts](https://docs.codat.io/lending-api#/schemas/BankAccount) are financial accounts maintained by a bank or other financial institution.


        Before using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/lending-api#/operations/refresh-company-data).

        '
  /companies/{companyId}/connections/{connectionId}/data/bankAccounts/{accountId}/bankTransactions:
    get:
      x-internal: true
      tags:
      - Accounting bank data
      summary: List bank account transactions
      description: 'The *List account bank transactions* endpoint returns a list of [bank account transactions](https://docs.codat.io/lending-api#/schemas/BankTransactions) for a given company''s connection.


        [Bank account transactions](https://docs.codat.io/lending-api#/schemas/BankTransactions) are records of money that has moved in and out of an SMB''s bank account.


        Before using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/lending-api#/operations/refresh-company-data).

        '
      operationId: list-accounting-bank-account-transactions
      x-speakeasy-name-override: list-transactions
      parameters:
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/connectionId'
      - $ref: '#/components/parameters/accountingAccountId'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/orderBy'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBankTransactions'
              examples:
                Dynamics 365 Business Central:
                  value:
                    results:
                    - id: 07c891b4-f67a-ed11-9989-0022481ae525
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2022-11-17T00:00:00'
                      description: Share Capital
                      reconciled: false
                      amount: 1
                      balance: 1
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: 5ced3895-f77a-ed11-9989-0022481b6241
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2022-11-17T00:00:00'
                      description: Share Capital
                      reconciled: false
                      amount: 1
                      balance: 2
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: cd12966b-8871-ed11-8c34-6045bd0c6935
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2022-12-02T00:00:00'
                      description: ''
                      reconciled: false
                      amount: -19
                      balance: -17
                      transactionType: Other
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: b13392b6-95a0-ed11-9a88-6045bdd16279
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-01-30T00:00:00'
                      description: ''
                      reconciled: false
                      amount: -30
                      balance: -72
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: b3696a16-1fa2-ed11-9a88-000d3ad59051
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-01-30T00:00:00'
                      description: Income, Services
                      reconciled: false
                      amount: -10
                      balance: -122
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: b73392b6-95a0-ed11-9a88-6045bdd16279
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-01-30T00:00:00'
                      description: Child
                      reconciled: false
                      amount: -40
                      balance: -112
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: befdd569-22a2-ed11-9a88-000d3ad59051
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-01-30T00:00:00'
                      description: Child Child
                      reconciled: false
                      amount: -13
                      balance: -160
                      transactionType: Other
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: cb71c33a-22a2-ed11-9a88-000d3ad59051
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-01-30T00:00:00'
                      description: Income, Services
                      reconciled: false
                      amount: -25
                      balance: -147
                      transactionType: Other
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: e7ec12c9-94a0-ed11-9a88-6045bdd16279
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-01-30T00:00:00'
                      description: Child Child
                      reconciled: false
                      amount: -10
                      balance: -27
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: fef7a026-95a0-ed11-9a88-6045bdd16279
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-01-30T00:00:00'
                      description: ''
                      reconciled: false
                      amount: -15
                      balance: -42
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: 20869cb1-39a2-ed11-9a88-000d3ad59051
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-01T00:00:00'
                      description: Accounts Payable
                      reconciled: false
                      amount: -14
                      balance: -184
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: 8c298754-20a2-ed11-9a88-000d3ad59051
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-01T00:00:00'
                      description: ''
                      reconciled: false
                      amount: -10
                      balance: -170
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: 935d5578-3ca2-ed11-9a88-000d3ad59051
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-01T00:00:00'
                      description: ''
                      reconciled: false
                      amount: -17
                      balance: -201
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: 935f4303-e3a2-ed11-9a88-002248010b7e
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-01T00:00:00'
                      description: ''
                      reconciled: false
                      amount: -17
                      balance: -239
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: d8ceb342-dba2-ed11-9a88-002248010b7e
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-01T00:00:00'
                      description: ''
                      reconciled: false
                      amount: -21
                      balance: -222
                      transactionType: Other
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: 15719c0c-22a6-ed11-9a88-002248010b7e
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-02T00:00:00'
                      description: ''
                      reconciled: false
                      amount: -20
                      balance: -292.69
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: 213d027d-b1a3-ed11-9a88-000d3ad59051
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-02T00:00:00'
                      description: ''
                      reconciled: false
                      amount: -9.35
                      balance: -265.19
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: 273d027d-b1a3-ed11-9a88-000d3ad59051
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-02T00:00:00'
                      description: Account no cat Balance Sheet
                      reconciled: false
                      amount: -7.5
                      balance: -272.69
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: 978c4a27-e0a2-ed11-9a88-002248010b7e
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-02T00:00:00'
                      description: ''
                      reconciled: false
                      amount: 2.16
                      balance: -236.84
                      transactionType: Other
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: a80f63ae-b0a3-ed11-9a88-000d3ad59051
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-02T00:00:00'
                      description: ''
                      reconciled: false
                      amount: -7.01
                      balance: -262.85
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: ad0f63ae-b0a3-ed11-9a88-000d3ad59051
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-02T00:00:00'
                      description: Account no cat Balance Sheet
                      reconciled: false
                      amount: 7.01
                      balance: -255.84
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: b5de7b74-afa3-ed11-9a88-000d3ad59051
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-02T00:00:00'
                      description: ''
                      reconciled: false
                      amount: -4.91
                      balance: -260.75
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: bbde7b74-afa3-ed11-9a88-000d3ad59051
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-02T00:00:00'
                      description: ''
                      reconciled: false
                      amount: 4.91
                      balance: -255.84
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: f9540bf4-e5a2-ed11-9a88-000d3ad5d945
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-02T00:00:00'
                      description: ''
                      reconciled: false
                      amount: -19
                      balance: -255.84
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: feca50d8-22a6-ed11-9a88-002248010b7e
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-06T00:00:00'
                      description: ''
                      reconciled: false
                      amount: -20
                      balance: -312.69
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: 4777d7ec-cfa6-ed11-9a88-000d3a7fb2e5
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-07T00:00:00'
                      description: ''
                      reconciled: false
                      amount: -2.34
                      balance: -315.03
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: 38b632de-7aac-ed11-9a88-002248410639
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-09T00:00:00'
                      description: Invalid VAT Posting Setup
                      reconciled: false
                      amount: -10
                      balance: -315.03
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: ffc0b740-68a8-ed11-9a88-6045bdd12fc1
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-09T00:00:00'
                      description: ''
                      reconciled: false
                      amount: 10
                      balance: -305.03
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: 95f27455-7cac-ed11-9a88-002248410639
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-14T00:00:00'
                      description: ''
                      reconciled: false
                      amount: -10
                      balance: -325.03
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: 0d6b1378-acae-ed11-9a88-6045bdd16279
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-16T00:00:00'
                      description: Bank Account Line
                      reconciled: false
                      amount: -12
                      balance: -337.03
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: 978da9f7-baae-ed11-9a88-6045bdc1c1f3
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-18T00:00:00'
                      description: Bank
                      reconciled: false
                      amount: 6
                      balance: -342.03
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: dd34e6eb-b6ae-ed11-9a88-6045bdc1c1f3
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-18T00:00:00'
                      description: G/L
                      reconciled: false
                      amount: -1
                      balance: -338.03
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: e234e6eb-b6ae-ed11-9a88-6045bdc1c1f3
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-18T00:00:00'
                      description: Customer
                      reconciled: false
                      amount: 2
                      balance: -336.03
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: e734e6eb-b6ae-ed11-9a88-6045bdc1c1f3
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-18T00:00:00'
                      description: Vendor
                      reconciled: false
                      amount: -3
                      balance: -339.03
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: ed34e6eb-b6ae-ed11-9a88-6045bdc1c1f3
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-18T00:00:00'
                      description: Bank
                      reconciled: false
                      amount: -4
                      balance: -343.03
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: f234e6eb-b6ae-ed11-9a88-6045bdc1c1f3
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-18T00:00:00'
                      description: Employee
                      reconciled: false
                      amount: -5
                      balance: -348.03
                      transactionType: Payment
                      modifiedDate: '2023-03-27T14:21:19Z'
                    - id: 39de1293-d3b1-ed11-9a88-6045bd0f94d6
                      accountId: c9a41bc7-6e5b-ed11-8c34-0022481b8b5b
                      clearedOnDate: '2023-02-21T00:00:00'
                      description: ''
                      reconciled: false
                      amount: -10
                      balance: -352.03
                      transactionType: Credit
                      modifiedDate: '2023-03-27T14:21:19Z'
                    pageNumber: 1
                    pageSize: 100
                    totalResults: 37
                    _links:
                      current:
                        href: /companies/d6849caf-c146-41be-8335-b73346e3bd84/connections/60acb117-5cf5-4745-b069-491551da4066/data/bankAccounts/c9a41bc7-6e5b-ed11-8c34-0022481b8b5b/bankTransactions
                      self:
                        href: /companies/d6849caf-c146-41be-8335-b73346e3bd84/connections/60acb117-5cf5-4745-b069-491551da4066/data/bankAccounts/c9a41bc7-6e5b-ed11-8c34-0022481b8b5b/bankTransactions
                FreeAgent:
                  value:
                    results:
                    - id: '261197890'
                      accountId: '738783'
                      clearedOnDate: '2020-10-28T00:00:00'
                      description: Invoice receipt against 1762
                      reconciled: true
                      amount: 111
                      transactionType: Credit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2020-10-28T16:27:10Z'
                    - id: '290878530'
                      accountId: '738783'
                      clearedOnDate: '2021-04-23T00:00:00'
                      description: Invoice receipt against 1980
                      reconciled: true
                      amount: 10
                      transactionType: Credit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2021-04-27T04:55:42Z'
                    - id: '290825614'
                      accountId: '738783'
                      clearedOnDate: '2021-04-26T00:00:00'
                      description: Invoice receipt against 1976
                      reconciled: true
                      amount: 10
                      transactionType: Credit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2021-04-26T14:05:15Z'
                    - id: '290878531'
                      accountId: '738783'
                      clearedOnDate: '2021-04-26T00:00:00'
                      description: Invoice receipt against 1981
                      reconciled: true
                      amount: 20
                      transactionType: Credit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2021-04-27T04:55:44Z'
                    - id: '291227300'
                      accountId: '738783'
                      clearedOnDate: '2021-04-28T00:00:00'
                      description: Invoice receipt against 2002
                      reconciled: true
                      amount: 20
                      transactionType: Credit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2021-04-28T13:43:56Z'
                    - id: '291242296'
                      accountId: '738783'
                      clearedOnDate: '2021-04-28T00:00:00'
                      description: Invoice receipt against 2012
                      reconciled: true
                      amount: 40
                      transactionType: Credit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2021-04-28T16:14:16Z'
                    - id: '346437532'
                      accountId: '738783'
                      clearedOnDate: '2022-03-21T00:00:00'
                      description: Invoice receipt against 2304
                      reconciled: true
                      amount: 1
                      transactionType: Credit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2022-03-21T14:59:40Z'
                    - id: '346444438'
                      accountId: '738783'
                      clearedOnDate: '2022-03-21T00:00:00'
                      description: Invoice receipt against 2304
                      reconciled: true
                      amount: 1
                      transactionType: Credit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2022-03-21T15:37:54Z'
                    - id: '346444989'
                      accountId: '738783'
                      clearedOnDate: '2022-03-21T00:00:00'
                      description: Invoice receipt against 2304
                      reconciled: true
                      amount: 1
                      transactionType: Credit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2022-03-21T15:41:22Z'
                    - id: '346457774'
                      accountId: '738783'
                      clearedOnDate: '2022-03-21T00:00:00'
                      description: Credit Note refund against 2313
                      reconciled: true
                      amount: -1
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2022-03-21T17:07:50Z'
                    - id: '346458196'
                      accountId: '738783'
                      clearedOnDate: '2022-03-21T00:00:00'
                      description: Invoice receipt against 2311
                      reconciled: true
                      amount: 1
                      transactionType: Credit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2022-03-21T17:14:15Z'
                    - id: '414441841'
                      accountId: '738783'
                      clearedOnDate: '2022-12-20T00:00:00'
                      description: 'MCDONALDS - ROYSTON - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -12.78
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:33Z'
                    - id: '414441842'
                      accountId: '738783'
                      clearedOnDate: '2022-12-20T00:00:00'
                      description: 'HERMES PARCELNET LTD T/A - 08445437147 - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -7.98
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:33Z'
                    - id: '414441845'
                      accountId: '738783'
                      clearedOnDate: '2022-12-20T00:00:00'
                      description: 'TRAVELODGE GB0000 - THAME - Card Ending: 4999//OTHER/'
                      reconciled: false
                      amount: -648.63
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:33Z'
                    - id: '414441847'
                      accountId: '738783'
                      clearedOnDate: '2022-12-20T00:00:00'
                      description: 'TRAVELODGE GB0000 - THAME - Card Ending: 4999//OTHER/'
                      reconciled: false
                      amount: -324.31
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:33Z'
                    - id: '414441849'
                      accountId: '738783'
                      clearedOnDate: '2022-12-20T00:00:00'
                      description: 'RUGBY, PRET A MANGER - RUGBY - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -11.45
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:33Z'
                    - id: '414441851'
                      accountId: '738783'
                      clearedOnDate: '2022-12-20T00:00:00'
                      description: 'Just Eat - London - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -22.52
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:33Z'
                    - id: '414441852'
                      accountId: '738783'
                      clearedOnDate: '2022-12-20T00:00:00'
                      description: 'CN TAR TAROM SA-MOBILP - ORAS OTOPENI - Card Ending: 4999//OTHER/'
                      reconciled: false
                      amount: -340.13
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:33Z'
                    - id: '414441854'
                      accountId: '738783'
                      clearedOnDate: '2022-12-21T00:00:00'
                      description: 'MOTO RUGBY SERVICES - RUGBY - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -126.12
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:33Z'
                    - id: '414441855'
                      accountId: '738783'
                      clearedOnDate: '2022-12-21T00:00:00'
                      description: 'POMANDA.COM - 138 HOLBORN, - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -9.99
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:33Z'
                    - id: '414441856'
                      accountId: '738783'
                      clearedOnDate: '2022-12-21T00:00:00'
                      description: 'RYANAIR     224BEZ3YM - LONDON - Card Ending: 4999//OTHER/'
                      reconciled: false
                      amount: -267.97
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:33Z'
                    - id: '414441857'
                      accountId: '738783'
                      clearedOnDate: '2022-12-21T00:00:00'
                      description: 'TESCO STORES 5956 - LONDON - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -9.35
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:33Z'
                    - id: '414441859'
                      accountId: '738783'
                      clearedOnDate: '2022-12-21T00:00:00'
                      description: 'SPOTIFY - LONDON - Card Ending: 4999//OTHER/'
                      reconciled: false
                      amount: -16.99
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:33Z'
                    - id: '414441860'
                      accountId: '738783'
                      clearedOnDate: '2022-12-21T00:00:00'
                      description: 'Revive My Device - London - Card Ending: 5913//OTHER/'
                      reconciled: false
                      amount: -149
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:33Z'
                    - id: '414441861'
                      accountId: '738783'
                      clearedOnDate: '2022-12-22T00:00:00'
                      description: 'DELIVEROO - LONDON - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -39.36
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:33Z'
                    - id: '414441862'
                      accountId: '738783'
                      clearedOnDate: '2022-12-22T00:00:00'
                      description: 'UPS LTD - FELTHAM - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -2.4
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:33Z'
                    - id: '414441863'
                      accountId: '738783'
                      clearedOnDate: '2022-12-22T00:00:00'
                      description: 'Amazon.co.uk*1N0N04VK4 - AMAZON.CO.UK - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -17.76
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:34Z'
                    - id: '414441864'
                      accountId: '738783'
                      clearedOnDate: '2022-12-22T00:00:00'
                      description: 'TESCO STORES 5956 - LONDON - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -10.65
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:34Z'
                    - id: '414441865'
                      accountId: '738783'
                      clearedOnDate: '2022-12-22T00:00:00'
                      description: 'GATHER & GATHER 3401 - LONDON - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -16.75
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:34Z'
                    - id: '414441866'
                      accountId: '738783'
                      clearedOnDate: '2022-12-22T00:00:00'
                      description: 'GATHER & GATHER 3401 - LONDON - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -4.55
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:34Z'
                    - id: '414441867'
                      accountId: '738783'
                      clearedOnDate: '2022-12-22T00:00:00'
                      description: 'TRAVELODGE GB0937 - LONDON - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -10.75
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:34Z'
                    - id: '414441868'
                      accountId: '738783'
                      clearedOnDate: '2022-12-22T00:00:00'
                      description: 'DELIVEROO - LONDON - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -34.2
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:34Z'
                    - id: '414441869'
                      accountId: '738783'
                      clearedOnDate: '2022-12-22T00:00:00'
                      description: 'TFL TRAVEL CH - TFL.GOV.UK/CP - Card Ending: 5913//OTHER/'
                      reconciled: false
                      amount: -2.8
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:34Z'
                    - id: '414441870'
                      accountId: '738783'
                      clearedOnDate: '2022-12-23T00:00:00'
                      description: 'SIDS DIY - LONDON E1 - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -5.99
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:34Z'
                    - id: '414441871'
                      accountId: '738783'
                      clearedOnDate: '2022-12-23T00:00:00'
                      description: 'RESOLUTION GB LTD - WHITCHURCH - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -368.72
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:34Z'
                    - id: '414441872'
                      accountId: '738783'
                      clearedOnDate: '2022-12-23T00:00:00'
                      description: 'GATHER & GATHER 3401 - LONDON - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -6.15
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:34Z'
                    - id: '414441874'
                      accountId: '738783'
                      clearedOnDate: '2022-12-23T00:00:00'
                      description: 'HERMES PARCELNET LTD T/A - 08445437147 - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -5.34
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:34Z'
                    - id: '414441875'
                      accountId: '738783'
                      clearedOnDate: '2022-12-23T00:00:00'
                      description: 'Refund: SCREWFIX DIR LTD - WHITECHAP1983 - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: 6.8
                      transactionType: Credit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:34Z'
                    - id: '414441876'
                      accountId: '738783'
                      clearedOnDate: '2022-12-23T00:00:00'
                      description: 'Refund: SCREWFIX DIR LTD - WHITECHAP1983 - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: 12.49
                      transactionType: Credit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:34Z'
                    - id: '414441877'
                      accountId: '738783'
                      clearedOnDate: '2022-12-23T00:00:00'
                      description: 'SCREWFIX DIR LTD - WHITECHAP1983 - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -6.5
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:34Z'
                    - id: '414441878'
                      accountId: '738783'
                      clearedOnDate: '2022-12-23T00:00:00'
                      description: 'SCREWFIX DIR LTD - WHITECHAP1983 - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -27.15
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:34Z'
                    - id: '414441879'
                      accountId: '738783'
                      clearedOnDate: '2022-12-23T00:00:00'
                      description: 'GOODMANS FIELD - LONDON - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -8
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:34Z'
                    - id: '414441880'
                      accountId: '738783'
                      clearedOnDate: '2022-12-23T00:00:00'
                      description: 'GOODMANS FIELD - LONDON - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -25.7
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:34Z'
                    - id: '414441881'
                      accountId: '738783'
                      clearedOnDate: '2022-12-23T00:00:00'
                      description: 'CREAMLINE DAIRIES ONLINE - MANCHESTER - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -50
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:34Z'
                    - id: '414441883'
                      accountId: '738783'
                      clearedOnDate: '2022-12-24T00:00:00'
                      description: 'AIRBNB * HMYDEXRY4N - 203-318-1111 - Card Ending: 5913//OTHER/'
                      reconciled: false
                      amount: -388.24
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:35Z'
                    - id: '414441884'
                      accountId: '738783'
                      clearedOnDate: '2022-12-24T00:00:00'
                      description: 'UPS LTD - FELTHAM - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -9.35
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:35Z'
                    - id: '414441886'
                      accountId: '738783'
                      clearedOnDate: '2022-12-24T00:00:00'
                      description: 'UBER   *TRIP - HELP.UBER.COM - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -11.9
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:35Z'
                    - id: '414441889'
                      accountId: '738783'
                      clearedOnDate: '2022-12-24T00:00:00'
                      description: 'UBER   *TRIP - HELP.UBER.COM - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -6.84
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:35Z'
                    - id: '414441891'
                      accountId: '738783'
                      clearedOnDate: '2022-12-24T00:00:00'
                      description: 'WELCOME BREAK - NEWPORT PAGNE - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -102.23
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:35Z'
                    - id: '414441892'
                      accountId: '738783'
                      clearedOnDate: '2022-12-24T00:00:00'
                      description: 'SUBWAY 63582 London Gatew - Mill Hill, Lo - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -15.38
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:35Z'
                    - id: '414441893'
                      accountId: '738783'
                      clearedOnDate: '2022-12-26T00:00:00'
                      description: 'UBER   *TRIP - HELP.UBER.COM - Card Ending: 1332//OTHER/'
                      reconciled: false
                      amount: -40.65
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:35Z'
                    - id: '414441894'
                      accountId: '738783'
                      clearedOnDate: '2022-12-26T00:00:00'
                      description: 'UBER   *TRIP - HELP.UBER.COM - Card Ending: 1332//OTHER/'
                      reconciled: false
                      amount: -2
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:35Z'
                    - id: '414441895'
                      accountId: '738783'
                      clearedOnDate: '2022-12-26T00:00:00'
                      description: 'UBER   *TRIP - HELP.UBER.COM - Card Ending: 1332//OTHER/'
                      reconciled: false
                      amount: -34.06
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:35Z'
                    - id: '414441897'
                      accountId: '738783'
                      clearedOnDate: '2022-12-26T00:00:00'
                      description: 'UBER   *TRIP - HELP.UBER.COM - Card Ending: 1332//OTHER/'
                      reconciled: false
                      amount: -2
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:35Z'
                    - id: '414441901'
                      accountId: '738783'
                      clearedOnDate: '2022-12-28T00:00:00'
                      description: 'Tesla - West Drayton - Card Ending: 1332//OTHER/'
                      reconciled: false
                      amount: -9.99
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:35Z'
                    - id: '414441904'
                      accountId: '738783'
                      clearedOnDate: '2022-12-28T00:00:00'
                      description: 'Box Deansgate - Manchester - Card Ending: 0614//OTHER/'
                      reconciled: false
                      amount: -20.65
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:35Z'
                    - id: '414441906'
                      accountId: '738783'
                      clearedOnDate: '2022-12-28T00:00:00'
                      description: 'MANCHESTER UNITED KIOSK - MANCHESTER - Card Ending: 0614//OTHER/'
                      reconciled: false
                      amount: -26.5
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:35Z'
                    - id: '414441908'
                      accountId: '738783'
                      clearedOnDate: '2022-12-29T00:00:00'
                      description: 'TFL TRAVEL CH - TFL.GOV.UK/CP - Card Ending: 5913//OTHER/'
                      reconciled: false
                      amount: -2.8
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:35Z'
                    - id: '414441909'
                      accountId: '738783'
                      clearedOnDate: '2022-12-31T00:00:00'
                      description: 'TFL TRAVEL CH - TFL.GOV.UK/CP - Card Ending: 5913//OTHER/'
                      reconciled: false
                      amount: -1.65
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:35Z'
                    - id: '414441910'
                      accountId: '738783'
                      clearedOnDate: '2023-01-01T00:00:00'
                      description: 'UBER* TRIP - LONDON - Card Ending: 1332//OTHER/'
                      reconciled: false
                      amount: -2
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:35Z'
                    - id: '414441911'
                      accountId: '738783'
                      clearedOnDate: '2023-01-01T00:00:00'
                      description: 'UBER* TRIP - LONDON - Card Ending: 1332//OTHER/'
                      reconciled: false
                      amount: -11.95
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:35Z'
                    - id: '414441912'
                      accountId: '738783'
                      clearedOnDate: '2023-01-02T00:00:00'
                      description: 'UBER* TRIP - LONDON - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -13.68
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:36Z'
                    - id: '414441913'
                      accountId: '738783'
                      clearedOnDate: '2023-01-02T00:00:00'
                      description: 'WWW.KASHFLOW.COM - DATCHET - Card Ending: 1332//OTHER/'
                      reconciled: false
                      amount: -22.8
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:36Z'
                    - id: '414441914'
                      accountId: '738783'
                      clearedOnDate: '2023-01-02T00:00:00'
                      description: 'UBER   *TRIP - HELP.UBER.COM - Card Ending: 1332//OTHER/'
                      reconciled: false
                      amount: -9.14
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:36Z'
                    - id: '414441915'
                      accountId: '738783'
                      clearedOnDate: '2023-01-02T00:00:00'
                      description: 'GOOGLE*GSUITE ISOMI.CO - DUBLIN 2 - Card Ending: 1332//OTHER/'
                      reconciled: false
                      amount: -216.2
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:36Z'
                    - id: '414441916'
                      accountId: '738783'
                      clearedOnDate: '2023-01-03T00:00:00'
                      description: 'Refund: AMZ*quickpickdeals - amazon.co.uk - Card Ending: 4999//OTHER/'
                      reconciled: false
                      amount: 10.97
                      transactionType: Credit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:36Z'
                    - id: '414441917'
                      accountId: '738783'
                      clearedOnDate: '2023-01-04T00:00:00'
                      description: Finance Charge//OTHER/
                      reconciled: false
                      amount: -0.41
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:36Z'
                    - id: '414441918'
                      accountId: '738783'
                      clearedOnDate: '2023-01-04T00:00:00'
                      description: 'WWW.KASHFLOW.COM - DATCHET - Card Ending: 1332//OTHER/'
                      reconciled: false
                      amount: -22.8
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:36Z'
                    - id: '414441919'
                      accountId: '738783'
                      clearedOnDate: '2023-01-04T00:00:00'
                      description: 'ACCU.CO.UK - HUDDERSFIELD - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -86.34
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:36Z'
                    - id: '414441920'
                      accountId: '738783'
                      clearedOnDate: '2023-01-04T00:00:00'
                      description: 'ASDA GROCERIES ONLINE - INTERNET - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -6.5
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:36Z'
                    - id: '414441922'
                      accountId: '738783'
                      clearedOnDate: '2023-01-04T00:00:00'
                      description: 'AMAZON PRIME*164AU3UZ4 AM - AMZN.CO.UK/PM - Card Ending: 1332//OTHER/'
                      reconciled: false
                      amount: -96
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:36Z'
                    - id: '414441924'
                      accountId: '738783'
                      clearedOnDate: '2023-01-05T00:00:00'
                      description: 'Amazon.co.uk*162DC7II4 - AMAZON.CO.UK - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -44.62
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:36Z'
                    - id: '414441926'
                      accountId: '738783'
                      clearedOnDate: '2023-01-05T00:00:00'
                      description: 'trainline - +443332022222 - Card Ending: 5913//OTHER/'
                      reconciled: false
                      amount: -65.46
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:36Z'
                    - id: '414441931'
                      accountId: '738783'
                      clearedOnDate: '2023-01-05T00:00:00'
                      description: 'VITAL PARTS LTD - MAIDSTONE - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -124.35
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:36Z'
                    - id: '414441934'
                      accountId: '738783'
                      clearedOnDate: '2023-01-05T00:00:00'
                      description: 'Amazon.co.uk*168E49IU4 - AMAZON.CO.UK - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -2.52
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:36Z'
                    - id: '414441935'
                      accountId: '738783'
                      clearedOnDate: '2023-01-05T00:00:00'
                      description: 'ASDA GROCERIES ONLINE - INTERNET - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -108.16
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:36Z'
                    - id: '414441936'
                      accountId: '738783'
                      clearedOnDate: '2023-01-05T00:00:00'
                      description: 'Refund: ASDA GROCERIES ONLINE - INTERNET - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: 22.96
                      transactionType: Credit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:36Z'
                    - id: '414441937'
                      accountId: '738783'
                      clearedOnDate: '2023-01-05T00:00:00'
                      description: 'Amazon.co.uk*1H31B0CO4 - AMAZON.CO.UK - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -20.52
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:36Z'
                    - id: '414441939'
                      accountId: '738783'
                      clearedOnDate: '2023-01-05T00:00:00'
                      description: 'Amazon.co.uk*1H4GR4CH4 - AMAZON.CO.UK - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -13.69
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:37Z'
                    - id: '414441941'
                      accountId: '738783'
                      clearedOnDate: '2023-01-05T00:00:00'
                      description: 'Amazon.co.uk*162V47WY4 - AMAZON.CO.UK - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -16.83
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:37Z'
                    - id: '414441945'
                      accountId: '738783'
                      clearedOnDate: '2023-01-05T00:00:00'
                      description: 'Amazon.co.uk*160J00WI4 - AMAZON.CO.UK - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -17.68
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:37Z'
                    - id: '414441946'
                      accountId: '738783'
                      clearedOnDate: '2023-01-06T00:00:00'
                      description: 'Amazon.co.uk*1692Y9YY4 - AMAZON.CO.UK - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -29.74
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:37Z'
                    - id: '414441947'
                      accountId: '738783'
                      clearedOnDate: '2023-01-06T00:00:00'
                      description: 'Amazon.co.uk*166I62Y14 - AMAZON.CO.UK - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -29.74
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:37Z'
                    - id: '414441948'
                      accountId: '738783'
                      clearedOnDate: '2023-01-06T00:00:00'
                      description: 'GMELIUS GROWTH - MEYRIN - Card Ending: 5913//OTHER/'
                      reconciled: false
                      amount: -121.3
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:37Z'
                    - id: '414441949'
                      accountId: '738783'
                      clearedOnDate: '2023-01-07T00:00:00'
                      description: 'ACCU.CO.UK - HUDDERSFIELD - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -116.34
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:37Z'
                    - id: '414441950'
                      accountId: '738783'
                      clearedOnDate: '2023-01-07T00:00:00'
                      description: 'AMZNMktplace - amazon.co.uk - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -66.79
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:37Z'
                    - id: '414441951'
                      accountId: '738783'
                      clearedOnDate: '2023-01-07T00:00:00'
                      description: 'TOOLSTATION UK - NORTHAMPTON - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -77.88
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:37Z'
                    - id: '414441952'
                      accountId: '738783'
                      clearedOnDate: '2023-01-07T00:00:00'
                      description: 'SHELL CHESTER - CHESTER - Card Ending: 9271//OTHER/'
                      reconciled: false
                      amount: -112.24
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:37Z'
                    - id: '414441953'
                      accountId: '738783'
                      clearedOnDate: '2023-01-08T00:00:00'
                      description: 'BRITISH A   1252150515112 - LONDON - Card Ending: 4999//OTHER/'
                      reconciled: false
                      amount: -450.85
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:37Z'
                    - id: '414441954'
                      accountId: '738783'
                      clearedOnDate: '2023-01-08T00:00:00'
                      description: 'BRITISH A   1254217966962 - LONDON - Card Ending: 4999//OTHER/'
                      reconciled: false
                      amount: -65
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:37Z'
                    - id: '414441955'
                      accountId: '738783'
                      clearedOnDate: '2023-01-08T00:00:00'
                      description: 'TFL TRAVEL CH - TFL.GOV.UK/CP - Card Ending: 5913//OTHER/'
                      reconciled: false
                      amount: -3.3
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:37Z'
                    - id: '414441956'
                      accountId: '738783'
                      clearedOnDate: '2023-01-09T00:00:00'
                      description: 'Amazon.co.uk*1H97Y6TL4 - AMAZON.CO.UK - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -17.45
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:37Z'
                    - id: '414441957'
                      accountId: '738783'
                      clearedOnDate: '2023-01-09T00:00:00'
                      description: 'UBER   *TRIP - HELP.UBER.COM - Card Ending: 1332//OTHER/'
                      reconciled: false
                      amount: -15.03
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:37Z'
                    - id: '414441959'
                      accountId: '738783'
                      clearedOnDate: '2023-01-09T00:00:00'
                      description: 'UBER   *TRIP - HELP.UBER.COM - Card Ending: 1332//OTHER/'
                      reconciled: false
                      amount: -16.43
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:37Z'
                    - id: '414441960'
                      accountId: '738783'
                      clearedOnDate: '2023-01-09T00:00:00'
                      description: Payment made (BACS)//OTHER/
                      reconciled: false
                      amount: 5000
                      transactionType: Credit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:37Z'
                    - id: '414441961'
                      accountId: '738783'
                      clearedOnDate: '2023-01-10T00:00:00'
                      description: 'AMZNMktplace - amazon.co.uk - Card Ending: 2327//OTHER/'
                      reconciled: false
                      amount: -32.57
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:38Z'
                    - id: '414441962'
                      accountId: '738783'
                      clearedOnDate: '2023-01-10T00:00:00'
                      description: 'TESCO STORES - LONDON - Card Ending: 5913//OTHER/'
                      reconciled: false
                      amount: -3.9
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:38Z'
                    - id: '414441963'
                      accountId: '738783'
                      clearedOnDate: '2023-01-10T00:00:00'
                      description: 'VICTORIA INN - PECKHAM - Card Ending: 5913//OTHER/'
                      reconciled: false
                      amount: -15.5
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:38Z'
                    - id: '414441965'
                      accountId: '738783'
                      clearedOnDate: '2023-01-10T00:00:00'
                      description: 'TFL TRAVEL CH - TFL.GOV.UK/CP - Card Ending: 5913//OTHER/'
                      reconciled: false
                      amount: -7.7
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:38Z'
                    - id: '414441967'
                      accountId: '738783'
                      clearedOnDate: '2023-01-10T00:00:00'
                      description: 'PRET A MANGER - 326 - Card Ending: 5913//OTHER/'
                      reconciled: false
                      amount: -13.8
                      transactionType: Debit
                      modifiedDate: '2023-04-25T14:21:41Z'
                      sourceModifiedDate: '2023-02-08T09:05:38Z'
                    pageNumber: 1
                    pageSize: 100
                    totalResults: 153
                    _links:
                      current:
                        href: /companies/071ad738-68f3-4561-afd0-69bab9df0803/connections/4fd7c69f-ecc1-45f5-83f2-42ed3391e386/data/bankAccounts/738783/bankTransactions
                      self:
                        href: /companies/071ad738-68f3-4561-afd0-69bab9df0803/connections/4fd7c69f-ecc1-45f5-83f2-42ed3391e386/data/bankAccounts/738783/bankTransactions
                      next:
                        href: /companies/071ad738-68f3-4561-afd0-69bab9df0803/connections/4fd7c69f-ecc1-45f5-83f2-42ed3391e386/data/bankAccounts/738783/bankTransactions?page=2&pageSize=100
                KashFlow:
                  value:
                    results:
                    - id: 765768:137014109
                      accountId: '765768'
                      clearedOnDate: '2020-04-28T00:00:00'
                      description: FIRST Transaction
                      reconciled: false
                      amount: 100
                      transactionType: Unknown
                      modifiedDate: '2022-09-30T10:29:15Z'
                    - id: 765768:137014143
                      accountId: '765768'
                      clearedOnDate: '2020-04-28T00:00:00'
                      description: SECOND Transaction
                      reconciled: false
                      amount: 120
                      transactionType: Unknown
                      modifiedDate: '2022-09-30T10:29:15Z'
                    - id: 765768:93269803
                      accountId: '765768'
[...]
