openapi: 3.2.0
info:
  title: Platform API
  version: 3.0.0
  summary: Platform API
  description: "An API for the common components of all of Codat's products.\n\nThese end points cover creating and managing your companies, data connections, and integrations.\n\n[Read about the building blocks of Codat...](https://docs.codat.io/core-concepts/companies) | [See our OpenAPI spec](https://github.com/codatio/oas) \n\n---\n<!-- Start Codat Tags Table -->\n## Endpoints\n\n| Endpoints | Description |\n| :- |:- |\n| Companies | Create and manage your SMB users' companies. |\n| Connections | Create new and manage existing data connections for a company. |\n| Connection management | Configure connection management UI and retrieve access tokens for authentication. |\n| Webhooks | Create and manage webhooks that listen to Codat's events. |\n| Integrations | Get a list of integrations supported by Codat and their logos. |\n| Refresh data | Initiate data refreshes, view pull status and history. |\n| Settings | Manage company profile configuration, sync settings, and API keys. |\n| Push data | Initiate and monitor Create, Update, and Delete operations. |\n| Supplemental data | Configure and pull additional data you can include in Codat's standard data types. |\n| Custom data type | Configure and pull additional data types that are not included in Codat's standardized data model. |\n<!-- End Codat Tags Table -->"
  contact:
    name: Codat
    email: support@codat.io
  termsOfService: https://www.codat.io/legals/
servers:
- description: Production
  url: https://api.codat.io
security:
- auth_header: []
tags:
- name: Platform API
paths: {}
webhooks:
  company.created:
    post:
      description: Called when a company is created in Codat.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyWebhook'
            examples:
              Company created:
                value:
                  id: ba29118f-5406-4e59-b05c-ba307ca38d01
                  eventType: company.created
                  generatedDate: '2024-08-08T17:10:34.015Z'
                  payload:
                    id: 0498e921-9b53-4396-a412-4f2f5983b0a2
                    name: Bank of Dave
                    description: Requested a loan for refurb.
                    redirect: https://link.codat.io/company/0498e921-9b53-4396-a412-4f2f5983b0a2
                    lastSync: '2022-01-01T12:00:00.000Z'
                    created: '2022-01-01T12:00:00.000Z'
                    tags:
                      customerRegion: us
                      uid: 335a086e-8563-4b03-94e3-39544225ecb6
      responses:
        '200':
          description: Return a 200 status to indicate that the webhook was received successfully.
      tags:
      - Platform API
  company.deleted:
    post:
      description: Called when a company is deleted in Codat.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyWebhook'
            examples:
              Company deleted:
                value:
                  id: ba29118f-5406-4e59-b05c-ba307ca38d01
                  eventType: company.deleted
                  generatedDate: '2024-08-08T17:10:34.015Z'
                  payload:
                    id: 0498e921-9b53-4396-a412-4f2f5983b0a2
                    name: Bank of Dave
                    description: Requested a loan for refurb.
                    redirect: https://link.codat.io/company/0498e921-9b53-4396-a412-4f2f5983b0a2
                    lastSync: '2022-01-01T12:00:00.000Z'
                    created: '2022-01-01T12:00:00.000Z'
                    tags:
                      customerRegion: uk
                      uid: f6b0c253-16c7-4da1-a0c5-9c871e9c9d6c
      responses:
        '200':
          description: Return a 200 status to indicate that the webhook was received successfully.
      tags:
      - Platform API
  connection.created:
    post:
      description: Called when a connection is created by the SMB.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionWebhook'
            examples:
              Connection created:
                value:
                  id: ba29118f-5406-4e59-b05c-ba307ca38d01
                  eventType: connection.created
                  generatedDate: '2024-08-08T17:10:34.015Z'
                  payload:
                    referenceCompany:
                      id: 0498e921-9b53-4396-a412-4f2f5983b0a2
                      name: Bank of Dave
                      description: internal_id_mxO7rLfo
                      links:
                        portal: https://app.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/summary
                      tags:
                        customerRegion: us
                        uid: 335a086e-8563-4b03-94e3-39544225ecb6
                    connection:
                      id: ee2eb431-c0fa-4dc9-93fa-d29781c12bcd
                      integrationId: bf083d72-62c7-493e-aec9-81b4dbba7e2c
                      integrationKey: dfxm
                      sourceId: bdd831ce-eebd-4896-89a7-20e5ee8989ee
                      platformName: Basiq
                      linkUrl: https://link-api.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start
                      status: PendingAuth
                      lastSync: '2022-10-27T10:22:43.6464237Z'
                      created: '2022-10-27T09:53:29Z'
                      sourceType: Banking
      responses:
        '200':
          description: Return a 200 status to indicate that the webhook was received successfully.
      tags:
      - Platform API
  connection.connected:
    post:
      description: Called when a connection is successfully linked by the SMB.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionWebhook'
            examples:
              Connection connected:
                value:
                  id: ba29118f-5406-4e59-b05c-ba307ca38d01
                  eventType: connection.connected
                  generatedDate: '2024-08-08T17:10:34.015Z'
                  payload:
                    referenceCompany:
                      id: 0498e921-9b53-4396-a412-4f2f5983b0a2
                      name: Bank of Dave
                      description: internal_id_mxO7rLfo
                      links:
                        portal: https://app.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/summary
                      tags:
                        customerRegion: us
                        uid: 335a086e-8563-4b03-94e3-39544225ecb6
                    connection:
                      id: ee2eb431-c0fa-4dc9-93fa-d29781c12bcd
                      integrationId: bf083d72-62c7-493e-aec9-81b4dbba7e2c
                      integrationKey: dfxm
                      sourceId: bdd831ce-eebd-4896-89a7-20e5ee8989ee
                      platformName: Basiq
                      linkUrl: https://link-api.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start
                      status: Linked
                      lastSync: '2022-10-27T10:22:43.6464237Z'
                      created: '2022-10-27T09:53:29Z'
                      sourceType: Banking
      responses:
        '200':
          description: Return a 200 status to indicate that the webhook was received successfully.
      tags:
      - Platform API
  connection.failed:
    post:
      description: Called when a connection failed linking to the SMB.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionWebhook'
            examples:
              Connection failed:
                value:
                  id: ba29118f-5406-4e59-b05c-ba307ca38d01
                  eventType: connection.failed
                  generatedDate: '2024-08-08T17:10:34.015Z'
                  payload:
                    referenceCompany:
                      id: 0498e921-9b53-4396-a412-4f2f5983b0a2
                      name: Bank of Dave
                      description: internal_id_mxO7rLfo
                      links:
                        portal: https://app.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/summary
                      tags:
                        customerRegion: us
                        uid: 335a086e-8563-4b03-94e3-39544225ecb6
                    connection:
                      id: ee2eb431-c0fa-4dc9-93fa-d29781c12bcd
                      integrationId: bf083d72-62c7-493e-aec9-81b4dbba7e2c
                      integrationKey: dfxm
                      sourceId: bdd831ce-eebd-4896-89a7-20e5ee8989ee
                      platformName: Basiq
                      linkUrl: https://link-api.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start
                      status: PendingAuth
                      created: '2022-10-27T09:53:29Z'
                      sourceType: Banking
                      dataConnectionErrors:
                      - statusCode: '403'
                        statusText: User cancelled linking
                        errorMessage: User cancelled
                        erroredOnUtc: '2022-10-27T09:53:29Z'
                        status: Active
      responses:
        '200':
          description: Return a 200 status to indicate that the webhook was received successfully.
      tags:
      - Platform API
  connection.disconnected:
    post:
      description: Called when a connection is disconnected either due to being unlinked or de-authorized by the SMB or integration.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionWebhook'
            examples:
              Unlinked:
                value:
                  id: ba29118f-5406-4e59-b05c-ba307ca38d01
                  eventType: connection.disconnected
                  generatedDate: '2024-08-08T17:10:34.015Z'
                  payload:
                    referenceCompany:
                      id: 0498e921-9b53-4396-a412-4f2f5983b0a2
                      name: Bank of Dave
                      description: internal_id_mxO7rLfo
                      links:
                        portal: https://app.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/summary
                      tags:
                        customerRegion: us
                        uid: 335a086e-8563-4b03-94e3-39544225ecb6
                    connection:
                      id: ee2eb431-c0fa-4dc9-93fa-d29781c12bcd
                      integrationId: bf083d72-62c7-493e-aec9-81b4dbba7e2c
                      integrationKey: dfxm
                      sourceId: bdd831ce-eebd-4896-89a7-20e5ee8989ee
                      platformName: Basiq
                      linkUrl: https://link-api.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start
                      status: Unlinked
                      lastSync: '2022-10-27T10:22:43.6464237Z'
                      created: '2022-10-27T09:53:29Z'
                      sourceType: Banking
              De-authorized:
                value:
                  id: ba29118f-5406-4e59-b05c-ba307ca38d01
                  eventType: connection.disconnected
                  generatedDate: '2024-08-08T17:10:34.015Z'
                  payload:
                    referenceCompany:
                      id: 0498e921-9b53-4396-a412-4f2f5983b0a2
                      name: Bank of Dave
                      description: internal_id_mxO7rLfo
                      links:
                        portal: https://app.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/summary
                      tags:
                        customerRegion: us
                        uid: 335a086e-8563-4b03-94e3-39544225ecb6
                    connection:
                      id: ee2eb431-c0fa-4dc9-93fa-d29781c12bcd
                      integrationId: bf083d72-62c7-493e-aec9-81b4dbba7e2c
                      integrationKey: dfxm
                      sourceId: bdd831ce-eebd-4896-89a7-20e5ee8989ee
                      platformName: Basiq
                      linkUrl: https://link-api.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start
                      status: Deauthorized
                      lastSync: '2022-10-27T10:22:43.6464237Z'
                      created: '2022-10-27T09:53:29Z'
                      sourceType: Banking
                      dataConnectionErrors:
                      - statusCode: '401'
                        statusText: The integration de-authorized access to the connection.
                        errorMessage: The integration de-authorized access to the connection.
                        erroredOnUtc: '2022-12-27T09:53:29Z'
                        status: Active
      responses:
        '200':
          description: Return a 200 status to indicate that the webhook was received successfully.
      tags:
      - Platform API
  connection.reconnected:
    post:
      description: Called when a connection is reconnected after becoming disconnected.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionWebhook'
            examples:
              Reconnected:
                value:
                  id: ba29118f-5406-4e59-b05c-ba307ca38d01
                  eventType: connection.reconnected
                  generatedDate: '2024-08-08T17:10:34.015Z'
                  payload:
                    referenceCompany:
                      id: 0498e921-9b53-4396-a412-4f2f5983b0a2
                      name: Bank of Dave
                      description: internal_id_mxO7rLfo
                      links:
                        portal: https://app.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/summary
                      tags:
                        customerRegion: us
                        uid: 335a086e-8563-4b03-94e3-39544225ecb6
                    connection:
                      id: ee2eb431-c0fa-4dc9-93fa-d29781c12bcd
                      integrationId: bf083d72-62c7-493e-aec9-81b4dbba7e2c
                      integrationKey: dfxm
                      sourceId: bdd831ce-eebd-4896-89a7-20e5ee8989ee
                      platformName: Basiq
                      linkUrl: https://link-api.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start
                      status: Linked
                      lastSync: '2022-10-27T10:22:43.6464237Z'
                      created: '2022-10-27T09:53:29Z'
                      sourceType: Banking
      responses:
        '200':
          description: Return a 200 status to indicate that the webhook was received successfully.
      tags:
      - Platform API
  connection.deleted:
    post:
      description: Called when a connection is deleted.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionWebhook'
            examples:
              Deleted:
                value:
                  id: ba29118f-5406-4e59-b05c-ba307ca38d01
                  eventType: connection.deleted
                  generatedDate: '2024-08-08T17:10:34.015Z'
                  payload:
                    referenceCompany:
                      id: 0498e921-9b53-4396-a412-4f2f5983b0a2
                      name: Bank of Dave
                      description: internal_id_mxO7rLfo
                      links:
                        portal: https://app.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/summary
                      tags:
                        customerRegion: us
                        uid: 335a086e-8563-4b03-94e3-39544225ecb6
                    connection:
                      id: ee2eb431-c0fa-4dc9-93fa-d29781c12bcd
                      integrationId: bf083d72-62c7-493e-aec9-81b4dbba7e2c
                      integrationKey: dfxm
                      sourceId: bdd831ce-eebd-4896-89a7-20e5ee8989ee
                      platformName: Basiq
                      linkUrl: https://link-api.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start
                      status: Linked
                      lastSync: '2022-10-27T10:22:43.6464237Z'
                      created: '2022-10-27T09:53:29Z'
                      sourceType: Banking
      responses:
        '200':
          description: Return a 200 status to indicate that the webhook was received successfully.
      tags:
      - Platform API
  read.completed:
    post:
      description: Called when the fetch of data types for a product has completed.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReadCompletedWebhook'
            examples:
              Read completed with validation warnings:
                value:
                  id: 743ec94a-8aa4-44bb-8bd4-e1855ee0e74b
                  eventType: read.completed
                  generatedDate: '2022-10-23T00:00:00.000Z'
                  payload:
                    referenceCompany:
                      id: 0498e921-9b53-4396-a412-4f2f5983b0a2
                      name: Toft stores
                      description: Requested early access to the new financing scheme.
                      links:
                        portal: https://app.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/summary
                    modifiedFromDate: '2022-10-23T00:00:00.000Z'
                    dataTypes:
                    - connectionId: 2e9d2c44-f675-40ba-8049-353bfcb5e171
                      dataType: invoices
                      recordsModified: false
                      status: Complete
                      issues:
                      - type: warning.validation
                        message: Something doesn't look right about these invoices. You can see more information in the logs.
                        links:
                          logs: https://api.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/sync/743ec94a-8aa4-44bb-8bd4-e1855ee0e74b/validation
                          portal: https://app.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/pull-history
                          readMore: https://docs.codat.io/using-the-api/get-data-troubleshooting#warning.validation
              Read completed without issues:
                value:
                  id: 743ec94a-8aa4-44bb-8bd4-e1855ee0e74b
                  eventType: read.completed
                  generatedDate: '2022-10-23T00:00:00.000Z'
                  payload:
                    referenceCompany:
                      id: 0498e921-9b53-4396-a412-4f2f5983b0a2
                      name: Toft stores
                      description: Requested early access to the new financing scheme.
                      links:
                        portal: https://app.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/summary
                    modifiedFromDate: '2022-10-23T00:00:00.000Z'
                    dataTypes:
                    - connectionId: 2e9d2c44-f675-40ba-8049-353bfcb5e171
                      dataType: invoices
                      recordsModified: false
                      status: Complete
                      issues: []
      responses:
        '200':
          description: Return a 200 status to indicate that the webhook was received successfully.
      tags:
      - Platform API
  read.completed.initial:
    post:
      description: Called when the initial fetch of data types for a product has been completed.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReadCompletedWebhook'
            examples:
              Initial with validation warnings:
                value:
                  id: 743ec94a-8aa4-44bb-8bd4-e1855ee0e74b
                  eventType: read.completed.initial
                  generatedDate: '2022-10-23T00:00:00.000Z'
                  payload:
                    referenceCompany:
                      id: 0498e921-9b53-4396-a412-4f2f5983b0a2
                      name: Toft stores
                      description: Requested early access to the new financing scheme.
                      links:
                        portal: https://app.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/summary
                    modifiedFromDate: '2022-10-23T00:00:00.000Z'
                    dataTypes:
                    - connectionId: 2e9d2c44-f675-40ba-8049-353bfcb5e171
                      dataType: invoices
                      recordsModified: false
                      status: Complete
                      issues:
                      - type: warning.validation
                        message: Something doesn't look right about these invoices. You can see more information in the logs.
                        links:
                          logs: https://api.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/sync/743ec94a-8aa4-44bb-8bd4-e1855ee0e74b/validation
                          portal: https://app.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/pull-history
                          readMore: https://docs.codat.io/using-the-api/get-data-troubleshooting#warning.validation
              Initial without issues:
                value:
                  id: 743ec94a-8aa4-44bb-8bd4-e1855ee0e74b
                  eventType: read.completed.initial
                  generatedDate: '2022-10-23T00:00:00.000Z'
                  payload:
                    referenceCompany:
                      id: 0498e921-9b53-4396-a412-4f2f5983b0a2
                      name: Toft stores
                      description: Requested early access to the new financing scheme.
                      links:
                        portal: https://app.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/summary
                    modifiedFromDate: '2022-10-23T00:00:00.000Z'
                    dataTypes:
                    - connectionId: 2e9d2c44-f675-40ba-8049-353bfcb5e171
                      dataType: invoices
                      recordsModified: false
                      status: Complete
                      issues: []
      responses:
        '200':
          description: Return a 200 status to indicate that the webhook was received successfully.
      tags:
      - Platform API
  '{dataType}.write.successful':
    post:
      description: "Indicates that a `dataType` has been successfully created, updated, deleted, or had an attachment uploaded in the accounting software.\n\nCodat now refers to push operations as write requests.\n\nFor example, to subscribe to events where a bill is written into the accounting software, use the `bills.write.successful` webhook.\n\n### Supported data types and write types\n\n| `dataType`       | Create  | Update  | Delete  | UploadAttachment |\n|------------------|---------|---------|---------|------------------|\n| bankAccounts     | &#9989; | &#9989; | -       | -                |  \n| bankTransactions | &#9989; | -       | -       | -                |\n| billCreditNotes  | &#9989; | &#9989; | -       | &#9989;          |  \n| billPayments     | &#9989; | -       | &#9989; | -                | \n| bills            | &#9989; | &#9989; | &#9989; | &#9989;          | \n| chartOfAccounts  | &#9989; | -       | -       | -                | \n| creditNotes      | &#9989; | &#9989; | -       | -                | \n| customers        | &#9989; | &#9989; | -       | -                | \n| directCosts      | &#9989; | -       | &#9989; | &#9989;          | \n| directIncomes    | &#9989; | -       | -       | &#9989;          | \n| invoices         | &#9989; | &#9989; | &#9989; | &#9989;          | \n| items            | &#9989; | -       | -       | -                | \n| journalEntries   | &#9989; | -       | &#9989; | -                | \n| journals         | &#9989; | -       | -       | -                | \n| payments         | &#9989; | -       | -       | -                | \n| purchaseOrders   | &#9989; | &#9989; | -       | -                | \n| suppliers        | &#9989; | &#9989; | -       | -                | \n| transfers        | &#9989; | -       | -       | &#9989;          | \n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataTypeWriteWebhook'
            examples:
              Record:
                value:
                  id: bae71d36-ff47-420a-b4a6-f8c9ddf41140
                  eventType: '{dataType}.write.successful'
                  generatedDate: '2023-05-03T10:00:23Z'
                  payload:
                    id: a9367074-b5c3-42c4-9be4-be129f43577e
                    type: Create
                    referenceCompany:
                      id: 70af3071-65d9-4ec3-b3cb-5283e8d55dac
                      name: Toft stores
                      description: cust_1MtJUT2eZvKYlo2CNaw2HvEv
                    connectionId: 12571faf-0898-47e7-afdd-0fe9eb0a9bf5
                    requestedOnDate: '2023-05-03T10:00:00Z'
                    completedOnDate: '2023-05-03T10:00:23Z'
                    status: Success
                    record:
                      id: bil_1Nispe2eZvKYlo2Cd31jOCgZ
              Attachment:
                value:
                  id: bae71d36-ff47-420a-b4a6-f8c9ddf41140
                  eventType: '{dataType}.write.successful'
                  generatedDate: '2023-05-03T10:00:23Z'
                  payload:
                    id: a9367074-b5c3-42c4-9be4-be129f43577e
                    type: UploadAttachment
                    referenceCompany:
                      id: 70af3071-65d9-4ec3-b3cb-5283e8d55dac
                      name: Toft stores
                      description: cust_1MtJUT2eZvKYlo2CNaw2HvEv
                    connectionId: 12571faf-0898-47e7-afdd-0fe9eb0a9bf5
                    requestedOnDate: '2023-05-03T10:00:00Z'
                    completedOnDate: '2023-05-03T10:00:23Z'
                    status: Success
                    record:
                      id: bil_1Nispe2eZvKYlo2Cd31jOCgZ
                    attachmentId: att_1AZtxr2eZvKYlo2CJDX8whov
      responses:
        '200':
          description: Return a 200 status to indicate that the webhook was received.
      tags:
      - Platform API
  '{dataType}.write.unsuccessful':
    post:
      description: "Indicates that a `dataType` has not been successfully created, updated, deleted, or had an attachment uploaded in the accounting software.\n\nCodat now refers to push operations as write requests.\n\nFor example, to subscribe to events where a bill is written into the accounting software, use the `bills.write.unsuccessful` webhook.\n\n### Supported data types and write types\n\n| `dataType`       | Create  | Update  | Delete  | UploadAttachment |\n|------------------|---------|---------|---------|------------------|\n| bankAccounts     | &#9989; | &#9989; | -       | -                |  \n| bankTransactions | &#9989; | -       | -       | -                |\n| billCreditNotes  | &#9989; | &#9989; | -       | &#9989;          |  \n| billPayments     | &#9989; | -       | &#9989; | -                | \n| bills            | &#9989; | &#9989; | &#9989; | &#9989;          | \n| chartOfAccounts  | &#9989; | -       | -       | -                | \n| creditNotes      | &#9989; | &#9989; | -       | -                | \n| customers        | &#9989; | &#9989; | -       | -                | \n| directCosts      | &#9989; | -       | &#9989; | &#9989;          | \n| directIncomes    | &#9989; | -       | -       | &#9989;          | \n| invoices         | &#9989; | &#9989; | &#9989; | &#9989;          | \n| items            | &#9989; | -       | -       | -                | \n| journalEntries   | &#9989; | -       | &#9989; | -                | \n| journals         | &#9989; | -       | -       | -                | \n| payments         | &#9989; | -       | -       | -                | \n| purchaseOrders   | &#9989; | &#9989; | -       | -                | \n| suppliers        | &#9989; | &#9989; | -       | -                | \n| transfers        | &#9989; | -       | -       | &#9989;          | \n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataTypeWriteWebhook'
            examples:
              Record:
                value:
                  id: bae71d36-ff47-420a-b4a6-f8c9ddf41140
                  eventType: '{dataType}.write.unsuccessful'
                  generatedDate: '2023-05-03T10:00:23Z'
                  payload:
                    id: a9367074-b5c3-42c4-9be4-be129f43577e
                    type: Update
                    referenceCompany:
                      id: 70af3071-65d9-4ec3-b3cb-5283e8d55dac
                      name: Toft stores
                      description: cust_1MtJUT2eZvKYlo2CNaw2HvEv
                    connectionId: 12571faf-0898-47e7-afdd-0fe9eb0a9bf5
                    requestedOnDate: '2023-05-03T10:00:00Z'
                    completedOnDate: '2023-05-03T10:00:23Z'
                    status: Failed
              Record timed out:
                value:
                  id: bae71d36-ff47-420a-b4a6-f8c9ddf41140
                  eventType: '{dataType}.write.unsuccessful'
                  generatedDate: '2023-05-03T10:00:23Z'
                  payload:
                    id: a9367074-b5c3-42c4-9be4-be129f43577e
                    type: Delete
                    referenceCompany:
                      id: 70af3071-65d9-4ec3-b3cb-5283e8d55dac
                      name: Toft stores
                      description: cust_1MtJUT2eZvKYlo2CNaw2HvEv
                    connectionId: 12571faf-0898-47e7-afdd-0fe9eb0a9bf5
                    requestedOnDate: '2023-05-03T10:00:00Z'
                    completedOnDate: '2023-05-03T10:00:23Z'
                    status: TimedOut
              Attachment:
                value:
                  id: bae71d36-ff47-420a-b4a6-f8c9ddf41140
                  eventType: '{dataType}.write.unsuccessful'
                  generatedDate: '2023-05-03T10:00:23Z'
                  payload:
                    id: a9367074-b5c3-42c4-9be4-be129f43577e
                    type: UploadAttachment
                    referenceCompany:
                      id: 70af3071-65d9-4ec3-b3cb-5283e8d55dac
                      name: Toft stores
                      description: cust_1MtJUT2eZvKYlo2CNaw2HvEv
                    connectionId: 12571faf-0898-47e7-afdd-0fe9eb0a9bf5
                    requestedOnDate: '2023-05-03T10:00:00Z'
                    completedOnDate: '2023-05-03T10:00:23Z'
                    status: TimedOut
                    record:
                      id: bil_1Nispe2eZvKYlo2Cd31jOCgZ
      responses:
        '200':
          description: Return a 200 status to indicate that the webhook was received.
      tags:
      - Platform API
  client.rateLimit.reached:
    post:
      description: Called when your client’s request count to Codat's API surpasses the allocated quota.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientRateLimitWebhook'
            examples:
              Reached:
                value:
                  id: 743ec94a-8aa4-44bb-8bd4-e1855ee0e74b
                  eventType: client.rateLimit.reached
                  generatedDate: '2024-09-01T00:00:00Z'
                  payload:
                    dailyQuota: 12000
                    quotaRemaining: 0
                    expiryDate: '2024-09-01T12:14:14Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the webhook was received successfully.
      tags:
      - Platform API
  client.rateLimit.reset:
    post:
      description: Called when your client's rate limit quota is reset, allowing additional requests to Codat's API.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientRateLimitWebhook'
            examples:
              Reset:
                value:
                  id: 743ec94a-8aa4-44bb-8bd4-e1855ee0e74b
                  eventType: client.rateLimit.reset
                  generatedDate: '2024-09-01T00:00:00Z'
                  payload:
                    dailyQuota: 12000
                    quotaRemaining: 11993
                    expiryDate: '2024-09-01T23:59:99Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the webhook was received successfully.
      tags:
      - Platform API
components:
  schemas:
    ReadCompletedWebhook:
      title: Read completed webhook
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 743ec94a-8aa4-44bb-8bd4-e1855ee0e74b
          description: Unique identifier of the event.
        eventType:
          type: string
          description: The type of event.
        generatedDate:
          $ref: '#/components/schemas/DateTime'
          description: The date time in UTC the event was generated in Codat.
        payload:
          $ref: '#/components/schemas/ReadCompletedWebhook/definitions/readCompletedWebhookPayload'
      definitions:
        readCompletedWebhookPayload:
          title: Read result webhook payload
          type: object
          properties:
            referenceCompany:
              $ref: '#/components/schemas/Company/definitions/companyReference'
            modifiedFromDate:
              $ref: '#/components/schemas/DateTime'
              description: The date time in UTC when the data types were last fetched and input into Codat's cache.
              nullable: true
            dataTypes:
              type: array
              items:
                $ref: '#/components/schemas/ReadCompletedWebhook/definitions/dataTypeReadSummary'
        dataTypeReadSummary:
          title: Summary of data type reads
          type: object
          properties:
            connectionId:
              $ref: '#/components/parameters/connectionId/schema'
            dataType:
              $ref: '#/components/schemas/DataStatus/properties/dataType'
            recordsModified:
              type: boolean
              example: false
              description: '`True` if records have been created, updated or deleted in Codat''s cache.'
            status:
              $ref: '#/components/schemas/PullOperation/properties/status'
            issues:
              type: array
              nullable: true
              description: A array of issues encountered during a data read.
              items:
                $ref: '#/components/schemas/ReadCompletedWebhook/definitions/issue'
        customProductReadCompleteWebhook:
          title: Read completed webhook
          type: object
          properties:
            id:
              $ref: '#/components/schemas/ReadCompletedWebhook/properties/id'
            eventType:
              $ref: '#/components/schemas/ReadCompletedWebhook/properties/eventType'
            generatedDate:
              $ref: '#/components/schemas/ReadCompletedWebhook/properties/generatedDate'
            payload:
              $ref: '#/components/schemas/ReadCompletedWebhook/definitions/customProductReadCompleteWebhookPayload'
        customProductReadCompleteWebhookPayload:
          title: Read result webhook payload
          type: object
          properties:
            referenceCompany:
              $ref: '#/components/schemas/Company/definitions/companyReference'
            modifiedFromDate:
              $ref: '#/components/schemas/ReadCompletedWebhook/definitions/readCompletedWebhookPayload/properties/modifiedFromDate'
            dataTypes:
              type: array
              description: Contains all data types configured for the product or a subset of data types defined in the manual refresh call.
              items:
                type: object
                title: Summary of data type reads
                properties:
                  connectionId:
                    $ref: '#/components/parameters/connectionId/schema'
                  dataType:
                    $ref: '#/components/schemas/DataStatus/properties/dataType'
                  recordsModified:
                    $ref: '#/components/schemas/ReadCompletedWebhook/definitions/dataTypeReadSummary/properties/recordsModified'
                  status:
                    $ref: '#/components/schemas/PullOperation/properties/status'
                  issues:
                    type: array
                    nullable: true
                    description: A array of issues encountered during a data read.
                    items:
                      $ref: '#/components/schemas/ReadCompletedWebhook/definitions/issue'
        issue:
          title: Issue
          type: object
          description: Details of a problem encountered during a data read.
          properties:
            type:
              type: string
              description: The type of issue.
              example: warning.validation
            message:
              type: string
              description: A message describing the issue.
              example: Something doesn't look right about these accounts from Xero. You can see more information in the logs.
            links:
              title: Links
              type: object
              properties:
                logs:
                  type: string
                  description: A link to the validation logs, providing details on any errors or warnings encountered.
                  example: https://api.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/sync/{datasetId}/validation
                portal:
                  type: string
                  description: A link to the company's past data read history in the Codat portal.
                  example: https://app.codat.io/companies/0498e921-9b53-4396-a412-4f2f5983b0a2/pull-history
                readMore:
                  type: string
                  description: A link to Codat's documentation with additional information on how to troubleshoot this issue.
                  example: https://docs.codat.io/using-the-api/get-data-troubleshooting#warning.validation
    CompanyWebhook:
      title: Company webhook
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: ba29118f-5406-4e59-b05c-ba307ca38d01
          description: Unique identifier of the event
        eventType:
          type: string
          description: The type of event.
          examples:
          - company.created
          - company.deleted
        generatedDate:
          $ref: '#/components/schemas/DateTime'
          description: The date time in UTC the event was generated in Codat.
        payload:
          $ref: '#/components/schemas/Company/definitions/companyDetails'
    Company:
      title: Company
      description: "\uFEFFIn Codat, a company represents a business sharing access to their data. Each company can have multiple [connections](https://docs.codat.io/platform-api#/schemas/Connection) to different data sources such as one connection to [Xero](https://docs.codat.io/integrations/accounting/xero/accounting-xero) for accounting data, two connections to [Plaid](https://docs.codat.io/integrations/banking/plaid/banking-plaid) for two bank accounts and a connection to [Zettle](https://docs.codat.io/integrations/commerce/zettle/commerce-zettle) for POS data.\n\nTypically each company is one of your customers.\n\nWhen you create a company, you can specify a `name` and we will automatically generate a unique `id` for the company. You can also add a `description` to store any additional information about the company."
      type: object
      allOf:
      - $ref: '#/components/schemas/Company/definitions/companyDetails'
      - type: object
        properties:
          dataConnections:
            type: array
            items:
              $ref: '#/components/schemas/Connection'
      definitions:
        companyDetails:
          title: Company details
          type: object
          properties:
            id:
              $ref: '#/paths/~1companies~1%7BcompanyId%7D~1syncSettings/post/requestBody/content/application~1json/schema/allOf/0/properties/companyId'
            name:
              type: string
              description: The name of the company
              example: Codat Ltd.
            description:
              $ref: '#/components/schemas/CompanyRequestBody/properties/description'
              nullable: true
            redirect:
              type: string
              format: uri
              description: The `redirect` [Link URL](https://docs.codat.io/auth-flow/authorize-hosted-link) enabling the customer to start their auth flow journey for the company.
              example: https://link.codat.io/company/27628208-459c-46a2-a705-5641ce25f739
            lastSync:
              $ref: '#/components/schemas/DateTime'
              nullable: true
            created:
              $ref: '#/components/schemas/DateTime'
            createdByUserName:
              type: string
              description: Name of user that created the company in Codat.
              nullable: true
            products:
              type: array
              items:
                type: string
              description: An array of products that are currently enabled for the company.
            tags:
              title: Tags
              type: object
              maxProperties: 10
              propertyNames:
                pattern: ^.{1,27}$
              additionalProperties:
                type: string
                maxLength: 100
              description: A collection of user-defined key-value pairs that store custom metadata against the company.
            referenceParentCompany:
              $ref: '#/components/schemas/Company/definitions/companyReference'
              nullable: true
              description: The parent entity or controlling organization of this company. Null if the company has no parent.
            referenceSubsidiaryCompanies:
              type: array
              nullable: false
              description: A list of subsidiary companies owned or controlled by this entity. Empty if the company has no children.
              minItems: 0
              items:
                $ref: '#/components/schemas/Company/definitions/companyReference'
          required:
          - id
          - name
          - redirect
        companyReference:
          title: Company reference
          type: object
          properties:
            id:
              $ref: '#/paths/~1companies~1%7BcompanyId%7D~1syncSettings/post/requestBody/content/application~1json/schema/allOf/0/properties/companyId'
            name:
              $ref: '#/components/schemas/Company/definitions/companyDetails/properties/name'
            description:
              $ref: '#/components/schemas/Company/definitions/companyDetails/properties/description'
            links:
              type: object
              description: A collection of links for the company.
              properties:
                portal:
                  type: string
                  format: uri
                  description: Link to the company page in the portal.
            tags:
              $ref: '#/components/schemas/Company/definitions/companyDetails/properties/tags'
      examples:
      - id: 0498e921-9b53-4396-a412-4f2f5983b0a2
        name: string
        redirect: https://link.codat.io/company/27628208-459c-46a2-a705-5641ce25f739
        lastSync: '2022-01-01T12:00:00.000Z'
        created: '2022-01-01T12:00:00.000Z'
        createdByUserName: string
        tags:
          region: us
          uid: f6b0c253-16c7-4da1-a0c5-9c871e9c9d6c
        dataConnections:
        - id: ee2eb431-c0fa-4dc9-93fa-d29781c12bcd
          integrationId: bf083d72-62c7-493e-aec9-81b4dbba7e2c
          integrationKey: dfxm
          sourceId: bdd831ce-eebd-4896-89a7-20e5ee8989ee
          platformName: Basiq
          linkUrl: https://link-api.codat.io/companies/86bd88cb-44ab-4dfb-b32f-87b19b14287f/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start
          status: Linked
          lastSync: '2022-10-27T10:22:43.6464237Z'
          created: '2022-10-27T09:53:29Z'
          sourceType: Banking
        products:
        - spend-insights
        - lending
    Connection:
      title: Connection
      description: "\uFEFFA connection represents a [company's](https://docs.codat.io/platform-api#/schemas/Company) connection to a data source and allows you to synchronize data (pull and/or push) with that source.\n\nA company can have multiple data connections depending on the type of data source it is connecting to. For example, a single company can link to:\n\n- [Accounting data](https://docs.codat.io/accounting-api/overview) - 1 active connection.\n- [Banking data](https://docs.codat.io/banking-api/overview) - Multiple active connections.\n- [Commerce data](https://docs.codat.io/commerce-api/overview) - Multiple active connections.\nAny combination of accounting, banking, and commerce data connections is allowed.\n\nBefore you can use a data connection to pull or push data, the company must grant you access to their business data by [linking the connection](https://docs.codat.io/auth-flow/overview)."
      type: object
      properties:
        id:
          $ref: '#/components/parameters/connectionId/schema'
        integrationId:
          type: string
          format: uuid
          example: fd321cb6-7963-4506-b873-e99593a45e30
          description: A Codat ID representing the integration.
        integrationKey:
          type: string
          description: A unique four-character ID that identifies the platform of the company's data connection. This ensures continuity if the platform changes its name in the future.
        sourceId:
          $ref: '#/components/schemas/Branding/properties/sourceId'
        sourceType:
          $ref: '#/components/schemas/Integration/definitions/sourceType'
        platformName:
          type: string
          description: Name of integration connected to company.
        linkUrl:
          type: string
          format: uri
          description: The link URL your customers can use to authorize access to their business application.
          example: https://link-api.codat.io/companies/86bd88cb-44ab-4dfb-b32f-87b19b14287f/connections/2e2eb431-c1fa-4dc9-93fa-d29781c12bcd/start
        status:
          $ref: '#/components/schemas/Connection/definitions/dataConnectionStatus'
        lastSync:
          $ref: '#/components/schemas/DateTime'
          nullable: true
        created:
          $ref: '#/components/schemas/DateTime'
        dataConnectionErrors:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/Connection/definitions/dataConnectionError'
        connectionInfo:
          type: object
          nullable: true
          additionalProperties: true
      additionalProperties: false
      required:
      - id
      - integrationId
      - integrationKey
      - sourceId
      - platformName
      - linkUrl
      - status
      - created
      - sourceType
      definitions:
        dataConnectionStatus:
          title: Data connection status
          description: The current authorization status of the data connection.
          type: string
          enum:
          - PendingAuth
          - Linked
          - Unlinked
          - Deauthorized
        dataConnectionError:
          title: Data connection error
          type: object
          properties:
            statusCode:
              type: string
              description: The HTTP status code returned by the source platform when the error occurred.
            statusText:
              type: string
              description: A non-numeric status code/text returned by the source platform when the error occurred.
            errorMessage:
              type: string
              description: A message about a error returned by Codat.
            erroredOnUtc:
              $ref: '#/components/schemas/DateTime'
            status:
              title: Error status
              description: The current status of a transient error. Null statuses indicate that the error is not transient.
              type: string
              nullable: true
              enum:
              - Active
              - Resolved
            resolvedOnUtc:
              description: The datetime in Utc that the error was resolved.
              nullable: true
              $ref: '#/components/schemas/DateTime'
        dataConnectionSourceType:
          title: Source Type
          description: The type of platform of the connection.
          type: string
          enum:
          - Accounting
          - Banking
          - BankFeed
          - Commerce
          - Expense
          - Other
          - Unknown
          example: Accounting
      example:
        id: ee2eb431-c0fa-4dc9-93fa-d29781c12bcd
        integrationId: bf083d72-62c7-493e-aec9-81b4dbba7e2c
        integrationKey: dfxm
        sourceId: bdd831ce-eebd-4896-89a7-20e5ee8989ee
        platformName: Basiq
        linkUrl: https://link-api.codat.io/companies/86bd88cb-44ab-4dfb-b32f-87b19b14287f/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start
        status: Linked
        lastSync: '2022-10-27T10:22:43.6464237Z'
        created: '2022-10-27T09:53:29Z'
        sourceType: Banking
    DataStatus:
      title: Data status
      description: Describes the state of data in the Codat cache for a company and data type
      type: object
      required:
      - dataType
      - currentStatus
      properties:
        dataType:
          title: Data types
          x-internal: true
          type: string
          description: Available data types
          enum:
          - accountTransactions
          - balanceSheet
          - bankAccounts
          - bankTransactions
          - billCreditNotes
          - billPayments
          - bills
          - cashFlowStatement
          - chartOfAccounts
          - company
          - creditNotes
          - customers
          - directCosts
          - directIncomes
          - invoices
          - itemReceipts
          - items
          - journalEntries
          - journals
          - paymentMethods
          - payments
          - profitAndLoss
          - purchaseOrders
          - salesOrders
          - suppliers
          - taxRates
          - trackingCategories
          - transfers
          - banking-accountBalances
          - banking-accounts
          - banking-transactionCategories
          - banking-transactions
          - commerce-companyInfo
          - commerce-customers
          - commerce-disputes
          - commerce-locations
          - commerce-orders
          - commerce-paymentMethods
          - commerce-payments
          - commerce-productCategories
          - commerce-products
          - commerce-taxComponents
          - commerce-transactions
          example: invoices
        lastSuccessfulSync:
          $ref: '#/components/schemas/DateTime'
        currentStatus:
          $ref: '#/components/schemas/PullOperation/properties/status'
        latestSyncId:
          type: string
          description: Unique identifier for most recent sync of data type.
          format: uuid
          example: ad474a37-2003-478e-baee-9af9f1ec2fe3
        latestSuccessfulSyncId:
          type: string
          description: Unique identifier for the most recent successful sync of data type.
          format: uuid
          example: 8220fc90-55b6-47bc-9417-48ac6ea93101
      examples:
      - dataType: string
        lastSuccessfulSync: '2022-01-01T13:00:00.000Z'
        currentStatus: string
        latestSyncId: ad474a37-2003-478e-baee-9af9f1ec2fe3
        latestSuccessfulSyncId: 8220fc90-55b6-47bc-9417-48ac6ea93101
    PullOperation:
      title: Pull operation
      description: 'Information about a queued, in progress or completed pull operation.

        *Formally called `dataset`*'
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the pull operation.
          example: 943accd0-4247-42d8-865b-363c8629e1da
        companyId:
          type: string
          format: uuid
          description: Unique identifier of the company associated to this pull operation.
          example: 22ece347-e5f6-4896-95e0-35a4c7f17023
        connectionId:
          type: string
          format: uuid
          description: Unique identifier of the connection associated to this pull operation.
          example: 50830828-7d39-4367-b0eb-5ddb2de5faa5
        dataType:
          title: Data types
          x-internal: true
          type: string
          description: The data type you are requesting in a pull operation.
        status:
          title: Dataset status
          type: string
          description: The current status of the dataset.
          enum:
          - Initial
          - Queued
          - Fetching
          - MapQueued
          - Mapping
          - Complete
          - FetchError
          - MapError
          - InternalError
          - ProcessingQueued
          - Processing
          - ProcessingError
          - ValidationQueued
          - Validating
          - ValidationError
          - AuthError
          - Cancelled
          - NotSupported
          - RateLimitError
          - PermissionsError
          - PrerequisiteNotMet
        statusDescription:
          type: string
          nullable: true
          description: Additional information about the dataset status.
          example: Paused until 2022-10-23T00:00:00.000Z
        errorMessage:
          type: string
          nullable: true
          description: A message about a transient or persistent error returned by Codat or the source platform.
        requested:
          $ref: '#/components/schemas/DateTime'
        completed:
          $ref: '#/components/schemas/DateTime'
        progress:
          type: integer
          description: An integer signifying the progress of the pull operation.
        isCompleted:
          type: boolean
          description: '`True` if the pull operation is completed successfully. The `isCompleted` property is not queryable. To filter failed pull operations, query by `status!=Complete&&status!=NotSupported` instead.'
        isErrored:
          type: boolean
          description: '`True` if the pull operation entered an error state.'
      required:
      - id
      - companyId
      - connectionId
      - dataType
      - status
      - requested
      - progress
      - isCompleted
      - isErrored
      examples:
      - id: 97d60846-f07a-4d42-b5a0-0bdcc6ebf56b
        companyId: 4645bd78-8988-45bc-ac9e-67ba5df6e4e5
        connectionId: 51baa045-4836-4317-a42e-3542e991e581
        dataType: invoices
        status: Initial
        statusDescription: Paused until 2022-10-23T00:00:00.000Z
        requested: '2022-11-14T11:18:37.2798351Z'
        progress: 10
        isCompleted: false
        isErrored: false
    Integration:
      title: Integration
      description: An integration that Codat supports
      examples:
      - key: gbol
        logoUrl: http://example.com
        name: Xero
        enabled: true
        sourceId: accounting
        sourceType: 8193a927-ab7a-45a3-9dc2-d357a4932dfe
        integrationId: 497a18ca-284e-40c0-985d-f72be35d468e
        isOfflineConnector: true
        isBeta: true
        dataProvidedBy: string
        datatypeFeatures:
        - datatype: invoices
          supportedFeatures:
          - featureType: get
            featureState: release
      type: object
      properties:
        key:
          $ref: '#/components/parameters/platformKey/schema'
        logoUrl:
          type: string
          format: uri
          description: Static url for integration's logo.
        name:
          type: string
          example: Xero
          description: Name of integration.
        enabled:
          type: boolean
          description: Whether this integration is enabled for your customers to use.
        sourceId:
          $ref: '#/components/schemas/Branding/properties/sourceId'
        sourceType:
          $ref: '#/components/schemas/Integration/definitions/sourceType'
        integrationId:
          $ref: '#/components/schemas/Connection/properties/integrationId'
        isOfflineConnector:
          type: boolean
          description: '`True` if the integration is to an application installed and run locally on an SMBs computer.'
        isBeta:
          type: boolean
          description: '`True` if the integration is currently in beta release.'
        dataProvidedBy:
          type: string
          description: The name of the data provider.
        datatypeFeatures:
          type: array
          items:
            $ref: '#/components/schemas/Integration/definitions/dataTypeFeature'
      required:
      - key
      - logoUrl
      - name
      - enabled
      definitions:
        sourceType:
          title: Source Type
          description: The type of platform of the connection.
          type: string
          enum:
          - Accounting
          - Banking
          - BankFeed
          - Commerce
          - Expense
          - Other
          - Unknown
          example: Accounting
        dataTypeFeature:
          title: Data type feature
          description: Describes support for a given datatype and associated operations
          type: object
          properties:
            dataType:
              $ref: '#/components/schemas/DataStatus/properties/dataType'
            supportedFeatures:
              type: array
              items:
                $ref: '#/components/schemas/Integration/definitions/supportedFeature'
          required:
          - datatype
          - supportedFeatures
          examples:
          - datatype: invoices
            supportedFeatures:
            - featureType: Get
              featureState: Release
        supportedFeature:
          type: object
          x-internal: true
          properties:
            featureType:
              $ref: '#/components/schemas/Integration/definitions/featureType'
            featureState:
              $ref: '#/components/schemas/Integration/definitions/featureState'
          required:
          - featureType
          - featureState
        featureState:
          title: Feature state
          type: string
          example: Release
          description: The current release state of the feature.
          enum:
          - Release
          - Alpha
          - Beta
          - Deprecated
          - NotSupported
          - NotImplemented
        featureType:
          type: string
          x-internal: true
          description: The type of feature.
          enum:
          - Get
          - Post
          - Categorization
          - Delete
          - Put
          - GetAsPdf
          - DownloadAttachment
          - GetAttachment
          - GetAttachments
          - UploadAttachment
          example: Get
    DataTypeWriteWebhook:
      title: Write data type webhook
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: ba29118f-5406-4e59-b05c-ba307ca38d01
          description: Unique identifier of the event.
        eventType:
          type: string
          description: The type of event.
          examples:
          - bills.write.successful
          - bills.write.unsuccessful
        generatedDate:
          $ref: '#/components/schemas/DateTime'
          description: The date time in UTC the event was generated in Codat.
        payload:
          $ref: '#/components/schemas/DataTypeWriteWebhook/definitions/dataTypeWriteWebhookPayload'
      definitions:
        dataTypeWriteWebhookPayload:
          title: Payload
          type: object
          properties:
            id:
              type: string
              description: Unique identifier of the write request. This is also known as the push operation ID.
            type:
              $ref: '#/components/schemas/DataTypeWriteWebhook/definitions/writeType'
            referenceCompany:
              $ref: '#/components/schemas/Company/definitions/companyReference'
            connectionId:
              $ref: '#/components/parameters/connectionId/schema'
            requestedOnDate:
              $ref: '#/components/schemas/DateTime'
              description: The date time in UTC the write request was submitted.
            completedOnDate:
              $ref: '#/components/schemas/DateTime'
              description: The date time in UTC the write request completed.
            status:
              $ref: '#/components/schemas/DataTypeWriteWebhook/definitions/writeStatus'
            record:
              $ref: '#/components/schemas/DataTypeWriteWebhook/definitions/dataTypeWriteWebhookRecord'
              nullable: true
            attachmentId:
              type: string
              nullable: true
              description: Unique identifier for the uploaded attachment, null if no attachment uploaded.
        dataTypeWriteWebhookRecord:
          type: object
          properties:
            id:
              type: string
              description: The unique identifier of the data type created, updated, deleted, or had an attachment uploaded in the accounting platform.
        writeType:
          title: Write type
          description: Type of write request.
          type: string
          enum:
          - Create
          - Update
          - Delete
          - UploadAttachment
        writeStatus:
          title: Write request status
          type: string
          enum:
          - Pending
          - Failed
          - Success
          - TimedOut
          description: The current status of the write request, which is the same as the push operation status.
    Branding:
      title: Branding
      type: object
      properties:
        logo:
          $ref: '#/components/schemas/Branding/definitions/brandingLogo'
        button:
          $ref: '#/components/schemas/Branding/definitions/brandingButton'
        sourceId:
          type: string
          format: uuid
          example: 35b92968-9851-4095-ad60-395c95cbcba4
          description: A source-specific ID used to distinguish between different sources originating from the same data connection. In general, a data connection is a single data source. However, for TrueLayer, `sourceId` is associated with a specific bank and has a many-to-one relationship with the `integrationId`.
      definitions:
        brandingLogo:
          description: Logo branding references.
          type: object
          properties:
            full:
              $ref: '#/components/schemas/Branding/definitions/brandingImage'
            square:
              $ref: '#/components/schemas/Branding/definitions/brandingImage'
        brandingButton:
          type: object
          description: Button branding references.
          properties:
            default:
              $ref: '#/components/schemas/Branding/definitions/brandingImage'
            hover:
              $ref: '#/components/schemas/Branding/definitions/brandingImage'
        brandingImage:
          title: Branding Image
          type: object
          properties:
            image:
              $ref: '#/components/schemas/Branding/definitions/imageReference'
          examples: []
        imageReference:
          type: object
          title: Image Reference
          description: Image reference.
          properties:
            src:
              type: string
              format: uri
              description: Source URL for image.
            alt:
              type: string
              description: Alternative text when image is not available.
      examples:
      - logo:
          full:
            image:
              src: https://static.codat.io/public/officialLogos/Full/8A156A5A-39CB-4F9D-856E-76EF9B9A9607.png
              alt: xero full icon
          square:
            image:
              src: https://static.codat.io/public/officialLogos/Square/8A156A5A-39CB-4F9D-856E-76EF9B2W3607.png
              alt: xero square icon
        button:
          default:
            image:
              src: https://static.codat.io/public/officialButtons/Full/8A156A5A-39CB-4F9D-856E-76EF9Q7A9607.png
              alt: xero default button icon
          hover:
            image:
              src: https://static.codat.io/public/officialLogos/Full/8A156A5A-39CB-4F9D-856E-76EF9B9A9607.png
              alt: xero hover button icon
        sourceId: 35b92968-9851-4095-ad60-395c95cbcba4
    DateTime:
      title: Date time
      type: string
      examples:
      - '2022-10-23T00:00:00Z'
      - '2022-10-23'
      description: "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced."
    ClientRateLimitWebhook:
      title: Client rate limit webhook
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 743ec94a-8aa4-44bb-8bd4-e1855ee0e74b
          description: Unique identifier of the event.
        eventType:
          type: string
          description: The type of event.
          examples:
          - client.rateLimit.reset
          - client.rateLimit.reached
        generatedDate:
          $ref: '#/components/schemas/DateTime'
          description: The date time in UTC the event was generated in Codat.
        payload:
          $ref: '#/components/schemas/ClientRateLimitWebhook/definitions/clientRateLimitWebhookPayload'
      definitions:
        clientRateLimitWebhookPayload:
          title: Client rate limit webhook payload
          type: object
          properties:
            dailyQuota:
              type: integer
              description: The number of available requests per day.
            quotaRemaining:
              type: integer
              description: Total number of requests remaining for your client.
            expiryDate:
              $ref: '#/components/schemas/DateTime'
              description: The date time in UTC when your daily quota is reset.
    ConnectionWebhook:
      title: Connection webhook
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: ba29118f-5406-4e59-b05c-ba307ca38d01
          description: Unique identifier of the event.
        eventType:
          type: string
          description: The type of event.
          examples:
          - connection.created
          - connection.connected
          - connection.disconnected
          - connection.reconnected
          - connection.deleted
          - connection.failed
        generatedDate:
          $ref: '#/components/schemas/DateTime'
          description: The date time in UTC the event was generated in Codat.
        payload:
          $ref: '#/components/schemas/ConnectionWebhook/definitions/connectionWebhookPayload'
      definitions:
        connectionWebhookPayload:
          title: Connection webhook payload
          type: object
          properties:
            referenceCompany:
              $ref: '#/components/schemas/Company/definitions/companyReference'
            connection:
              $ref: '#/components/schemas/Connection'
    CompanyRequestBody:
      title: Create company request
      x-internal: true
      type: object
      properties:
        name:
          type: string
          description: Name of company being connected.
          pattern: ^[A-Za-z0-9\s\-',&@.,?!\s]+$
          minLength: 1
          example: Bank of Dave
        description:
          type: string
          example: Requested early access to the new financing scheme.
          description: Additional information about the company. This can be used to store foreign IDs, references, etc.
        tags:
          $ref: '#/components/schemas/Company/definitions/companyDetails/properties/tags'
      required:
      - name
  parameters:
    connectionId:
      name: connectionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: 2e9d2c44-f675-40ba-8049-353bfcb5e171
        description: Unique identifier for a company's data connection.
      description: Unique identifier for a connection.
  securitySchemes:
    auth_header:
      name: Authorization
      description: The word "Basic" followed by a space and your API key. [API keys](https://docs.codat.io/platform-api#/schemas/ApiKeyDetails) are tokens used to control access to the API. You can get an API key via [the Codat Portal](https://app.codat.io/developers/api-keys), via [the API](https://docs.codat.io/platform-api#/operations/list-api-keys), or [read more](https://docs.codat.io/using-the-api/authentication) about authentication at Codat.
      type: apiKey
      in: header
      x-speakeasy-example: Basic BASE_64_ENCODED(API_KEY)
x-stoplight:
  id: 466k6ayziv9at
x-speakeasy-retries:
  strategy: backoff
  backoff:
    initialInterval: 500
    maxInterval: 60000
    maxElapsedTime: 3600000
    exponent: 1.5
  statusCodes:
  - 408
  - 429
  - 5XX
  retryConnectionErrors: true
x-speakeasy-name-override:
- operationId: ^list-.*?
  methodNameOverride: list
- operationId: ^list-.*?-attachments
  methodNameOverride: list-attachments
- operationId: ^get-.*?
  methodNameOverride: get
- operationId: ^get-create-.*?-model
  methodNameOverride: get-create-model
- operationId: ^get-create-update.*?-model
  methodNameOverride: get-create-update-model
- operationId: ^get-.*?-attachment
  methodNameOverride: get-attachment
- operationId: ^update-.*?
  methodNameOverride: update
- operationId: ^create-.*?
  methodNameOverride: create
- operationId: ^delete-.*?
  methodNameOverride: delete
- operationId: ^delete-.*?-attachment
  methodNameOverride: delete-attachment
- operationId: ^download-.*?-attachment
  methodNameOverride: download-attachment
- operationId: ^upload-.*?-attachment
  methodNameOverride: upload-attachment
x-codat-docs-path: platform-api
x-codat-keep-docs-paths-local: true
x-codat-speakeasy-pagination:
  type: offsetLimit
  inputs:
  - name: page
    in: parameters
    type: page
  outputs:
    results: $.results
