openapi: 3.1.0
info:
  title: Bank Feeds Account mapping Loan writeback API
  version: 3.0.0
  contact:
    email: support@codat.io
    name: Codat
  description: 'Bank Feeds solution enables your SMB users to set up bank feeds from accounts in your application to supported accounting software.


    A bank feed is a connection between a source bank account in your application and a target bank account in a supported accounting software.


    [Explore solution](https://docs.codat.io/bank-feeds-api/overview) | [See OpenAPI spec](https://github.com/codatio/oas)


    ---

    <!-- Start Codat Tags Table -->

    ## Endpoints


    | Endpoints | Description |

    | :- |:- |

    | Companies | Create and manage your SMB users'' companies. |

    | Connections | Create new and manage existing data connections for a company. |

    | Source accounts | Provide and manage lists of source bank accounts. |

    | Account mapping | Extra functionality for building an account management UI. |

    | Company information | Get detailed information about a company from the underlying platform. |

    | Transactions | Create new bank account transactions for a company''s connections, and see previous operations. |

    <!-- End Codat Tags Table -->'
  termsOfService: https://www.codat.io/legals/
servers:
- description: Production
  url: https://api.codat.io
security:
- auth_header: []
tags:
- name: Loan writeback
  description: Implement the [loan writeback](https://docs.codat.io/lending/guides/loan-writeback/introduction) procedure in your lending process to maintain an accurate position of a loan during the entire lending cycle.
paths:
  /companies/{companyId}/connections/{connectionId}/options/bankAccounts:
    parameters:
    - $ref: '#/components/parameters/companyId'
    - $ref: '#/components/parameters/connectionId'
    get:
      summary: Get create/update bank account model
      tags:
      - Loan writeback
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushOption'
              examples:
                Dynamics 365 Business Central:
                  value:
                    type: Object
                    displayName: Bank Account
                    description: An account that bank transactions may be recorded against
                    properties:
                      accountName:
                        type: String
                        displayName: Name
                        description: The name of the bank account in the originating system
                        required: true
                        validation:
                          warnings: []
                          information:
                          - field: AccountName
                            details: Needs to be of the format '{No.}-{Name}'
                      currency:
                        type: String
                        displayName: Currency
                        description: The currency of the bank account
                        required: true
                      accountNumber:
                        type: String
                        displayName: Account Number
                        description: The account number for the bank account
                        required: false
                      nominalCode:
                        type: String
                        displayName: Nominal Code
                        description: The external reference given to each nominal account for a business
                        required: false
                        validation:
                          warnings: []
                          information:
                          - field: NominalCode
                            details: Bank Account Posting Group with Nominal Account must exist
                      sortCode:
                        type: String
                        displayName: Sort Code
                        description: The sort code for the bank account
                        required: false
                        validation:
                          warnings: []
                          information:
                          - field: SortCode
                            details: Must have a length between 0 and 20 characters
                      iBan:
                        type: String
                        displayName: IBAN
                        description: The international bank account number of the account. Often used when making or receiving international payments
                        required: false
                      overdraftLimit:
                        type: Number
                        displayName: Overdraft Limit
                        description: The pre-arranged overdraft limit of the account
                        required: false
                        validation:
                          warnings: []
                          information:
                          - field: OverdraftLimit
                            details: Default value is 0
                    required: true
                Exact (Netherlands):
                  value:
                    type: Object
                    displayName: Bank Account
                    description: An account that bank transactions may be recorded against
                    properties:
                      accountName:
                        type: String
                        displayName: Name
                        description: The name of the bank account in the originating system
                        required: true
                      accountNumber:
                        type: String
                        displayName: Account Number
                        description: The account number for the bank account
                        required: true
                        validation:
                          warnings:
                          - field: AccountNumber
                            details: Should not exceed the maximum length of 14 characters if the specified currency is GBP.
                          information: []
                      sortCode:
                        type: String
                        displayName: Sort Code
                        description: The sort code for the bank account
                        required: false
                        validation:
                          warnings:
                          - field: SortCode
                            details: Must be 6 characters long if the specified currency is GBP.
                          - field: SortCode
                            details: Must be provided if the specified currency is GBP.
                          information: []
                      currency:
                        type: String
                        displayName: Currency
                        description: The currency of the bank account
                        required: false
                      nominalCode:
                        type: String
                        displayName: Nominal Code
                        description: The external reference given to each nominal account for a business
                        required: false
                    required: true
                Exact (UK):
                  value:
                    type: Object
                    displayName: Bank Account
                    description: An account that bank transactions may be recorded against
                    properties:
                      accountName:
                        type: String
                        displayName: Name
                        description: The name of the bank account in the originating system
                        required: true
                      accountNumber:
                        type: String
                        displayName: Account Number
                        description: The account number for the bank account
                        required: true
                        validation:
                          warnings:
                          - field: AccountNumber
                            details: Should not exceed the maximum length of 14 characters if the specified currency is GBP.
                          information: []
                      sortCode:
                        type: String
                        displayName: Sort Code
                        description: The sort code for the bank account
                        required: false
                        validation:
                          warnings:
                          - field: SortCode
                            details: Must be 6 characters long if the specified currency is GBP.
                          - field: SortCode
                            details: Must be provided if the specified currency is GBP.
                          information: []
                      currency:
                        type: String
                        displayName: Currency
                        description: The currency of the bank account
                        required: false
                      nominalCode:
                        type: String
                        displayName: Nominal Code
                        description: The external reference given to each nominal account for a business
                        required: false
                    required: true
                FreeAgent:
                  value:
                    type: Object
                    displayName: Bank Account
                    description: An account that bank transactions may be recorded against
                    properties:
                      accountName:
                        type: String
                        displayName: Name
                        description: The name of the bank account in the originating system
                        required: true
                      sortCode:
                        type: String
                        displayName: Sort Code
                        description: The sort code for the bank account
                        required: false
                        validation:
                          warnings:
                          - field: SortCode
                            details: Must have a length between 0 and 8 characters
                          information: []
                      accountNumber:
                        type: String
                        displayName: Account Number
                        description: The account number for the bank account
                        required: false
                      iBan:
                        type: String
                        displayName: IBAN
                        description: The international bank account number of the account. Often used when making or receiving international payments
                        required: false
                      currency:
                        type: String
                        displayName: Currency
                        description: The currency of the bank account
                        options:
                        - value: AED
                          type: String
                          displayName: AED
                          required: false
                        - value: AMD
                          type: String
                          displayName: AMD
                          required: false
                        - value: AOA
                          type: String
                          displayName: AOA
                          required: false
                        - value: ARS
                          type: String
                          displayName: ARS
                          required: false
                        - value: AUD
                          type: String
                          displayName: AUD
                          required: false
                        - value: AWG
                          type: String
                          displayName: AWG
                          required: false
                        - value: AZN
                          type: String
                          displayName: AZN
                          required: false
                        - value: BBD
                          type: String
                          displayName: BBD
                          required: false
                        - value: BDT
                          type: String
                          displayName: BDT
                          required: false
                        - value: BGN
                          type: String
                          displayName: BGN
                          required: false
                        - value: BRL
                          type: String
                          displayName: BRL
                          required: false
                        - value: BWP
                          type: String
                          displayName: BWP
                          required: false
                        - value: CAD
                          type: String
                          displayName: CAD
                          required: false
                        - value: CHF
                          type: String
                          displayName: CHF
                          required: false
                        - value: CLP
                          type: String
                          displayName: CLP
                          required: false
                        - value: CNY
                          type: String
                          displayName: CNY
                          required: false
                        - value: COP
                          type: String
                          displayName: COP
                          required: false
                        - value: CRC
                          type: String
                          displayName: CRC
                          required: false
                        - value: CUC
                          type: String
                          displayName: CUC
                          required: false
                        - value: CUP
                          type: String
                          displayName: CUP
                          required: false
                        - value: CZK
                          type: String
                          displayName: CZK
                          required: false
                        - value: DKK
                          type: String
                          displayName: DKK
                          required: false
                        - value: DOP
                          type: String
                          displayName: DOP
                          required: false
                        - value: EGP
                          type: String
                          displayName: EGP
                          required: false
                        - value: EUR
                          type: String
                          displayName: EUR
                          required: false
                        - value: FJD
                          type: String
                          displayName: FJD
                          required: false
                        - value: GBP
                          type: String
                          displayName: GBP
                          required: false
                        - value: GEL
                          type: String
                          displayName: GEL
                          required: false
                        - value: GHS
                          type: String
                          displayName: GHS
                          required: false
                        - value: GTQ
                          type: String
                          displayName: GTQ
                          required: false
                        - value: GYD
                          type: String
                          displayName: GYD
                          required: false
                        - value: HKD
                          type: String
                          displayName: HKD
                          required: false
                        - value: HNL
                          type: String
                          displayName: HNL
                          required: false
                        - value: HRK
                          type: String
                          displayName: HRK
                          required: false
                        - value: HUF
                          type: String
                          displayName: HUF
                          required: false
                        - value: IDR
                          type: String
                          displayName: IDR
                          required: false
                        - value: ILS
                          type: String
                          displayName: ILS
                          required: false
                        - value: INR
                          type: String
                          displayName: INR
                          required: false
                        - value: ISK
                          type: String
                          displayName: ISK
                          required: false
                        - value: JMD
                          type: String
                          displayName: JMD
                          required: false
                        - value: JPY
                          type: String
                          displayName: JPY
                          required: false
                        - value: KES
                          type: String
                          displayName: KES
                          required: false
                        - value: KRW
                          type: String
                          displayName: KRW
                          required: false
                        - value: KWD
                          type: String
                          displayName: KWD
                          required: false
                        - value: KYD
                          type: String
                          displayName: KYD
                          required: false
                        - value: KZT
                          type: String
                          displayName: KZT
                          required: false
                        - value: LAK
                          type: String
                          displayName: LAK
                          required: false
                        - value: LBP
                          type: String
                          displayName: LBP
                          required: false
                        - value: LKR
                          type: String
                          displayName: LKR
                          required: false
                        - value: LTL
                          type: String
                          displayName: LTL
                          required: false
                        - value: LVL
                          type: String
                          displayName: LVL
                          required: false
                        - value: MAD
                          type: String
                          displayName: MAD
                          required: false
                        - value: MDL
                          type: String
                          displayName: MDL
                          required: false
                        - value: MGA
                          type: String
                          displayName: MGA
                          required: false
                        - value: MUR
                          type: String
                          displayName: MUR
                          required: false
                        - value: MVR
                          type: String
                          displayName: MVR
                          required: false
                        - value: MWK
                          type: String
                          displayName: MWK
                          required: false
                        - value: MXN
                          type: String
                          displayName: MXN
                          required: false
                        - value: MYR
                          type: String
                          displayName: MYR
                          required: false
                        - value: MZN
                          type: String
                          displayName: MZN
                          required: false
                        - value: NAD
                          type: String
                          displayName: NAD
                          required: false
                        - value: NGN
                          type: String
                          displayName: NGN
                          required: false
                        - value: NOK
                          type: String
                          displayName: NOK
                          required: false
                        - value: NPR
                          type: String
                          displayName: NPR
                          required: false
                        - value: NZD
                          type: String
                          displayName: NZD
                          required: false
                        - value: OMR
                          type: String
                          displayName: OMR
                          required: false
                        - value: PEN
                          type: String
                          displayName: PEN
                          required: false
                        - value: PHP
                          type: String
                          displayName: PHP
                          required: false
                        - value: PKR
                          type: String
                          displayName: PKR
                          required: false
                        - value: PLN
                          type: String
                          displayName: PLN
                          required: false
                        - value: QAR
                          type: String
                          displayName: QAR
                          required: false
                        - value: RON
                          type: String
                          displayName: RON
                          required: false
                        - value: RSD
                          type: String
                          displayName: RSD
                          required: false
                        - value: RUB
                          type: String
                          displayName: RUB
                          required: false
                        - value: RWF
                          type: String
                          displayName: RWF
                          required: false
                        - value: SAR
                          type: String
                          displayName: SAR
                          required: false
                        - value: SCR
                          type: String
                          displayName: SCR
                          required: false
                        - value: SEK
                          type: String
                          displayName: SEK
                          required: false
                        - value: SGD
                          type: String
                          displayName: SGD
                          required: false
                        - value: THB
                          type: String
                          displayName: THB
                          required: false
                        - value: TND
                          type: String
                          displayName: TND
                          required: false
                        - value: TRY
                          type: String
                          displayName: TRY
                          required: false
                        - value: TTD
                          type: String
                          displayName: TTD
                          required: false
                        - value: TWD
                          type: String
                          displayName: TWD
                          required: false
                        - value: TZS
                          type: String
                          displayName: TZS
                          required: false
                        - value: UAH
                          type: String
                          displayName: UAH
                          required: false
                        - value: UGX
                          type: String
                          displayName: UGX
                          required: false
                        - value: USD
                          type: String
                          displayName: USD
                          required: false
                        - value: UYU
                          type: String
                          displayName: UYU
                          required: false
                        - value: VEF
                          type: String
                          displayName: VEF
                          required: false
                        - value: VND
                          type: String
                          displayName: VND
                          required: false
                        - value: VUV
                          type: String
                          displayName: VUV
                          required: false
                        - value: XAF
                          type: String
                          displayName: XAF
                          required: false
                        - value: XCD
                          type: String
                          displayName: XCD
                          required: false
                        - value: XOF
                          type: String
                          displayName: XOF
                          required: false
                        - value: ZAR
                          type: String
                          displayName: ZAR
                          required: false
                        - value: ZMK
                          type: String
                          displayName: ZMK
                          required: false
                        required: true
                      balance:
                        type: Number
                        displayName: Balance
                        description: The balance of the bank account
                        required: false
                        validation:
                          warnings: []
                          information:
                          - field: Balance
                            details: The opening balance, in the account currency
                      institution:
                        type: String
                        displayName: Institution
                        description: The institution of the bank account
                        required: false
                    required: true
                KashFlow:
                  value:
                    type: Object
                    displayName: Bank Account
                    description: An account that bank transactions may be recorded against
                    properties:
                      accountName:
                        type: String
                        displayName: Account Name
                        description: Name of the bank account as it appears in Kashflow.
                        required: true
                      balance:
                        type: Number
                        displayName: Balance
                        description: The opening balance, in the account currency.
                        required: false
                      currency:
                        type: String
                        displayName: Currency
                        description: The currency of the bank account.
                        required: true
                    required: true
                QuickBooks Desktop:
                  value:
                    type: Object
                    displayName: Bank Account
                    description: An account that bank transactions may be recorded against
                    properties:
                      nominalCode:
                        type: String
                        displayName: Nominal Code
                        description: The external reference given to each nominal account for a business
                        required: true
                        validation:
                          warnings:
                          - field: NominalCode
                            details: Max length of 7 characters.
                          information: []
                      accountName:
                        type: String
                        displayName: Name
                        description: The name of the bank account in the originating system
                        required: true
                        validation:
                          warnings:
                          - field: AccountName
                            details: Max length of 31 characters.
                          information: []
                      currency:
                        type: String
                        displayName: Currency
                        description: The currency of the bank account
                        required: false
                        validation:
                          warnings:
                          - field: Currency
                            details: The currency must match the base currency of the QuickBooks Desktop company unless the FullyQualifiedCategory is 'Asset.AccountsReceivable','Liability.AccountsPayable' or 'Liability.CreditCard'
                          - field: Currency
                            details: Must be a three letter ISO code that matches an existing active currency in the QuickBooks Desktop company
                          - field: Currency
                            details: Can only be set if the QuickBooks Desktop company has Multicurrency enabled.
                          information:
                          - field: Currency
                            details: If not set, will default to the base currency of the QuickBooks Desktop company
                      balance:
                        type: Number
                        displayName: Balance
                        description: The balance of the bank account
                        required: false
                    required: true
                QuickBooks Online Sandbox:
                  value:
                    type: Object
                    displayName: Bank Account
                    description: An account that bank transactions may be recorded against
                    properties:
                      accountName:
                        type: String
                        displayName: Account Name
                        description: Name of account as it appears in the chart of accounts or general ledger.
                        required: true
                      accountNumber:
                        type: String
                        displayName: Account Number
                        description: User-defined account number to help the user in identifying the account within the chart-of-accounts and in deciding what should be posted to the account.
                        required: true
                      currency:
                        type: String
                        displayName: Currency
                        description: Currency of the bank account.
                        required: true
                    required: true
                Sage Business Cloud Accounting:
                  value:
                    type: Object
                    displayName: Bank Account
                    description: An account that bank transactions may be recorded against
                    properties:
                      accountName:
                        type: String
                        displayName: Name
                        description: The name of the bank account in the originating system
                        required: true
                        validation:
                          warnings: []
                          information:
                          - field: AccountName
                            details: Must be provided.
                          - field: AccountName
                            details: Should not be longer than 50 characters.
                      currency:
                        type: String
                        displayName: Currency
                        description: The currency of the bank account
                        required: true
                        validation:
                          warnings: []
                          information:
                          - field: Currency
                            details: Must be provided.
                          - field: Currency
                            details: Must match the company's base currency.
                      sortCode:
                        type: String
                        displayName: Sort Code
                        description: The sort code for the bank account
                        required: false
                        validation:
                          warnings: []
                          information:
                          - field: SortCode
                            details: Should be a 6 digit number.
                      accountNumber:
                        type: String
                        displayName: Account Number
                        description: The account number for the bank account
                        required: false
                        validation:
                          warnings: []
                          information:
                          - field: AccountNumber
                            details: Should not be longer than 25 characters.
                      iBan:
                        type: String
                        displayName: IBAN
                        description: The international bank account number of the account. Often used when making or receiving international payments
                        required: false
                        validation:
                          warnings: []
                          information:
                          - field: IBan
                            details: Should be in the international bank account number format.
                      nominalCode:
                        type: String
                        displayName: Nominal Code
                        description: The external reference given to each nominal account for a business
                        required: false
                        validation:
                          warnings: []
                          information:
                          - field: NominalCode
                            details: Should be a number between 1 and 99999999.
                    required: true
                Sandbox:
                  value:
                    type: Object
                    displayName: Bank Account
                    description: An account that bank transactions may be recorded against
                    properties:
                      accountName:
                        type: String
                        displayName: Name
                        description: The name of the bank account in the originating system
                        required: true
                      accountType:
                        type: String
                        displayName: Account Type
                        description: The type of account
                        required: true
                      nominalCode:
                        type: String
                        displayName: Nominal Code
                        description: The external reference given to each nominal account for a business
                        required: true
                      sortCode:
                        type: String
                        displayName: Sort Code
                        description: The sort code for the bank account
                        required: true
                      accountNumber:
                        type: String
                        displayName: Account Number
                        description: The account number for the bank account
                        required: true
                      iBan:
                        type: String
                        displayName: IBAN
                        description: The international bank account number of the account. Often used when making or receiving international payments
                        required: true
                      currency:
                        type: String
                        displayName: Currency
                        description: The currency of the bank account
                        required: true
                      balance:
                        type: Number
                        displayName: Balance
                        description: The balance of the bank account
                        required: true
                      availableBalance:
                        type: Number
                        displayName: Available Balance
                        description: The available balance of the bank account
                        required: true
                      overdraftLimit:
                        type: Number
                        displayName: Overdraft Limit
                        description: The pre-arranged overdraft limit of the account
                        required: true
                      institution:
                        type: String
                        displayName: Institution
                        description: The institution of the bank account
                        required: true
                      metadata:
                        type: Object
                        displayName: Metadata
                        description: Miscellaneous data about the item
                        properties:
                          isDeleted:
                            type: Boolean
                            displayName: IsDeleted
                            description: A boolean to indicate whether the object has been deleted
                            required: true
                        required: true
                    required: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/Payment-Required'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
      operationId: get-create-update-bankAccounts-model
      x-speakeasy-group: loan-writeback.bank-accounts
      description: "The *Get create/update bank account model* endpoint returns the expected data for the request payload when creating and updating a [bank account](https://docs.codat.io/lending-api#/schemas/BankAccount) for a given company and integration.\r\n\r\n[Bank accounts](https://docs.codat.io/lending-api#/schemas/BankAccount) are financial accounts maintained by a bank or other financial institution.\r\n\r\n**Integration-specific behavior**\r\n\r\nSee the *response examples* for integration-specific indicative models.\r\n"
  /companies/{companyId}/connections/{connectionId}/push/bankAccounts:
    parameters:
    - $ref: '#/components/parameters/companyId'
    - $ref: '#/components/parameters/connectionId'
    post:
      tags:
      - Loan writeback
      summary: Create bank account
      parameters:
      - $ref: '#/components/parameters/timeoutInMinutes'
      - $ref: '#/components/parameters/allowSyncOnPushComplete'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingBankAccount'
            examples: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCreateBankAccountResponse'
              examples: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/Payment-Required'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
      description: "The *Create bank account* endpoint creates a new [bank account](https://docs.codat.io/lending-api#/schemas/BankAccount) for a given company's connection.\r\n\r\n[Bank accounts](https://docs.codat.io/lending-api#/schemas/BankAccount) are financial accounts maintained by a bank or other financial institution.\r\n\r\n**Integration-specific behavior**\r\n\r\nRequired data may vary by integration. To see what data to post, first call [Get create/update bank account model](https://docs.codat.io/lending-api#/operations/get-create-update-bankAccounts-model)."
      operationId: create-bank-account
      x-speakeasy-group: loan-writeback.bank-accounts
  /companies/{companyId}/connections/{connectionId}/options/chartOfAccounts:
    parameters:
    - $ref: '#/components/parameters/companyId'
    - $ref: '#/components/parameters/connectionId'
    get:
      summary: Get create account model
      tags:
      - Loan writeback
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushOption'
              examples:
                Exact (Netherlands):
                  value:
                    type: Object
                    displayName: Nominal Account
                    description: Nominal Accounts are the categories a business uses to record transactions
                    properties:
                      nominalCode:
                        type: String
                        displayName: Nominal Code
                        description: The external reference given to each nominal account for a business
                        required: true
                        validation:
                          warnings: []
                          information:
                          - field: NominalCode
                            details: Must be provided.
                      name:
                        type: String
                        displayName: Name
                        description: Name of the account
                        required: true
                        validation:
                          warnings: []
                          information:
                          - field: Name
                            details: Must be provided.
                      fullyQualifiedCategory:
                        type: String
                        displayName: Fully Qualified Category
                        description: The full category of the account e.g. Liability.Current or Income.Revenue
                        options:
                        - value: Asset.Assets.Cash
                          type: String
                          displayName: Asset.Assets.Cash
                          required: false
                        - value: Asset.Assets.Bank
                          type: String
                          displayName: Asset.Assets.Bank
                          required: false
                        - value: Asset.Assets.PaymentServices
                          type: String
                          displayName: Asset.Assets.PaymentServices
                          required: false
                        - value: Asset.Assets.AccountsReceivable
                          type: String
                          displayName: Asset.Assets.AccountsReceivable
                          required: false
                        - value: Liability.EquityAndLiabilities.AccountsPayable
                          type: String
                          displayName: Liability.EquityAndLiabilities.AccountsPayable
                          required: false
                        - value: Asset.Assets.VAT
                          type: String
                          displayName: Asset.Assets.VAT
                          required: false
                        - value: Liability.EquityAndLiabilities.EmployeesPayable
                          type: String
                          displayName: Liability.EquityAndLiabilities.EmployeesPayable
                          required: false
                        - value: Asset.Assets.PrepaidExpenses
                          type: String
                          displayName: Asset.Assets.PrepaidExpenses
                          required: false
                        - value: Liability.EquityAndLiabilities.AccruedExpenses
                          type: String
                          displayName: Liability.EquityAndLiabilities.AccruedExpenses
                          required: false
                        - value: Liability.EquityAndLiabilities.IncomeTaxesPayable
                          type: String
                          displayName: Liability.EquityAndLiabilities.IncomeTaxesPayable
                          required: false
                        - value: Asset.Assets.FixedAssets
                          type: String
                          displayName: Asset.Assets.FixedAssets
                          required: false
                        - value: Asset.Assets.OtherAssets
                          type: String
                          displayName: Asset.Assets.OtherAssets
                          required: false
                        - value: Asset.Assets.AccumulatedDeprecation
                          type: String
                          displayName: Asset.Assets.AccumulatedDeprecation
                          required: false
                        - value: Asset.Assets.Inventory
                          type: String
                          displayName: Asset.Assets.Inventory
                          required: false
                        - value: Equity.EquityAndLiabilities.CapitalStock
                          type: String
                          displayName: Equity.EquityAndLiabilities.CapitalStock
                          required: false
                        - value: Equity.EquityAndLiabilities.RetainedEarnings
                          type: String
                          displayName: Equity.EquityAndLiabilities.RetainedEarnings
                          required: false
                        - value: Liability.EquityAndLiabilities.LongTermDebt
                          type: String
                          displayName: Liability.EquityAndLiabilities.LongTermDebt
                          required: false
                        - value: Liability.EquityAndLiabilities.CurrentPortionOfDebt
                          type: String
                          displayName: Liability.EquityAndLiabilities.CurrentPortionOfDebt
                          required: false
                        - value: Unknown.EquityAndLiabilities.Intercompany
                          type: String
                          displayName: Unknown.EquityAndLiabilities.Intercompany
                          required: false
                        - value: Unknown.General.General
                          type: String
                          displayName: Unknown.General.General
                          required: false
                        - value: Income.NetIncome.Revenue
                          type: String
                          displayName: Income.NetIncome.Revenue
                          required: false
                        - value: Expense.NetIncome.CostOfGoods
                          type: String
                          displayName: Expense.NetIncome.CostOfGoods
                          required: false
                        - value: Expense.NetIncome.OtherCosts
                          type: String
                          displayName: Expense.NetIncome.OtherCosts
                          required: false
                        - value: Expense.NetIncome.SalesGeneralAdministrativeExpenses
                          type: String
                          displayName: Expense.NetIncome.SalesGeneralAdministrativeExpenses
                          required: false
                        - value: Expense.NetIncome.DeprecationCosts
                          type: String
                          displayName: Expense.NetIncome.DeprecationCosts
                          required: false
                        - value: Expense.NetIncome.ResearchAndDevelopment
                          type: String
                          displayName: Expense.NetIncome.ResearchAndDevelopment
                          required: false
                        - value: Expense.NetIncome.EmployeeCosts
                          type: String
                          displayName: Expense.NetIncome.EmployeeCosts
                          required: false
                        - value: Expense.NetIncome.EmploymentCosts
                          type: String
                          displayName: Expense.NetIncome.EmploymentCosts
                          required: false
                        - value: Expense.ExceptionalIncome.ExceptionalCosts
                          type: String
                          displayName: Expense.ExceptionalIncome.ExceptionalCosts
                          required: false
                        - value: Income.ExceptionalIncome.ExceptionalIncome
                          type: String
                          displayName: Income.ExceptionalIncome.ExceptionalIncome
                          required: false
                        - value: Expense.ExceptionalIncome.IncomeTaxes
                          type: String
                          displayName: Expense.ExceptionalIncome.IncomeTaxes
                          required: false
                        - value: Income.ExceptionalIncome.InterestIncome
                          type: String
                          displayName: Income.ExceptionalIncome.InterestIncome
                          required: false
                        required: true
                        validation:
                          warnings: []
                          information:
                          - field: FullyQualifiedCategory
                            details: Must be provided.
                      status:
                        type: String
                        displayName: Account Status
                        description: The status of the account
                        options:
                        - value: Active
                          type: String
                          displayName: Active
                          required: false
                        - value: Pending
                          type: String
                          displayName: Pending
                          required: false
                        - value: Unknown
                          type: String
                          displayName: Unknown
                          required: false
                        required: true
                        validation:
                          warnings: []
                          information:
                          - field: Status
                            details: Must be provided.
                    required: true
                Exact (UK):
                  value:
                    type: Object
                    displayName: Nominal Account
                    description: Nominal Accounts are the categories a business uses to record transactions
                    properties:
                      nominalCode:
                        type: String
                        displayName: Nominal Code
                        description: The external reference given to each nominal account for a business
                        required: true
                        validation:
                          warnings: []
                          information:
                          - field: NominalCode
                            details: Must be provided.
                      name:
                        type: String
                        displayName: Name
                        description: Name of the account
                        required: true
                        validation:
                          warnings: []
                          information:
                          - field: Name
                            details: Must be provided.
                      fullyQualifiedCategory:
                        type: String
                        displayName: Fully Qualified Category
                        description: The full category of the account e.g. Liability.Current or Income.Revenue
                        options:
                        - value: Asset.Assets.Cash
                          type: String
                          displayName: Asset.Assets.Cash
                          required: false
                        - value: Asset.Assets.Bank
                          type: String
                          displayName: Asset.Assets.Bank
                          required: false
                        - value: Asset.Assets.PaymentServices
                          type: String
                          displayName: Asset.Assets.PaymentServices
                          required: false
                        - value: Asset.Assets.AccountsReceivable
                          type: String
                          displayName: Asset.Assets.AccountsReceivable
                          required: false
                        - value: Liability.EquityAndLiabilities.AccountsPayable
                          type: String
                          displayName: Liability.EquityAndLiabilities.AccountsPayable
                          required: false
                        - value: Asset.Assets.VAT
                          type: String
                          displayName: Asset.Assets.VAT
                          required: false
                        - value: Liability.EquityAndLiabilities.EmployeesPayable
                          type: String
                          displayName: Liability.EquityAndLiabilities.EmployeesPayable
                          required: false
                        - value: Asset.Assets.PrepaidExpenses
                          type: String
                          displayName: Asset.Assets.PrepaidExpenses
                          required: false
                        - value: Liability.EquityAndLiabilities.AccruedExpenses
                          type: String
                          displayName: Liability.EquityAndLiabilities.AccruedExpenses
                          required: false
                        - value: Liability.EquityAndLiabilities.IncomeTaxesPayable
                          type: String
                          displayName: Liability.EquityAndLiabilities.IncomeTaxesPayable
                          required: false
                        - value: Asset.Assets.FixedAssets
                          type: String
                          displayName: Asset.Assets.FixedAssets
                          required: false
                        - value: Asset.Assets.OtherAssets
                          type: String
                          displayName: Asset.Assets.OtherAssets
                          required: false
                        - value: Asset.Assets.AccumulatedDeprecation
                          type: String
                          displayName: Asset.Assets.AccumulatedDeprecation
                          required: false
                        - value: Asset.Assets.Inventory
                          type: String
                          displayName: Asset.Assets.Inventory
                          required: false
                        - value: Equity.EquityAndLiabilities.CapitalStock
                          type: String
                          displayName: Equity.EquityAndLiabilities.CapitalStock
                          required: false
                        - value: Equity.EquityAndLiabilities.RetainedEarnings
                          type: String
                          displayName: Equity.EquityAndLiabilities.RetainedEarnings
                          required: false
                        - value: Liability.EquityAndLiabilities.LongTermDebt
                          type: String
                          displayName: Liability.EquityAndLiabilities.LongTermDebt
                          required: false
                        - value: Liability.EquityAndLiabilities.CurrentPortionOfDebt
                          type: String
                          displayName: Liability.EquityAndLiabilities.CurrentPortionOfDebt
                          required: false
                        - value: Unknown.EquityAndLiabilities.Intercompany
                          type: String
                          displayName: Unknown.EquityAndLiabilities.Intercompany
                          required: false
                        - value: Unknown.General.General
                          type: String
                          displayName: Unknown.General.General
                          required: false
                        - value: Income.NetIncome.Revenue
                          type: String
                          displayName: Income.NetIncome.Revenue
                          required: false
                        - value: Expense.NetIncome.CostOfGoods
                          type: String
                          displayName: Expense.NetIncome.CostOfGoods
                          required: false
                        - value: Expense.NetIncome.OtherCosts
                          type: String
                          displayName: Expense.NetIncome.OtherCosts
                          required: false
                        - value: Expense.NetIncome.SalesGeneralAdministrativeExpenses
                          type: String
                          displayName: Expense.NetIncome.SalesGeneralAdministrativeExpenses
                          required: false
                        - value: Expense.NetIncome.DeprecationCosts
                          type: String
                          displayName: Expense.NetIncome.DeprecationCosts
                          required: false
                        - value: Expense.NetIncome.ResearchAndDevelopment
                          type: String
                          displayName: Expense.NetIncome.ResearchAndDevelopment
                          required: false
                        - value: Expense.NetIncome.EmployeeCosts
                          type: String
                          displayName: Expense.NetIncome.EmployeeCosts
                          required: false
                        - value: Expense.NetIncome.EmploymentCosts
                          type: String
                          displayName: Expense.NetIncome.EmploymentCosts
                          required: false
                        - value: Expense.ExceptionalIncome.ExceptionalCosts
                          type: String
                          displayName: Expense.ExceptionalIncome.ExceptionalCosts
                          required: false
                        - value: Income.ExceptionalIncome.ExceptionalIncome
                          type: String
                          displayName: Income.ExceptionalIncome.ExceptionalIncome
                          required: false
                        - value: Expense.ExceptionalIncome.IncomeTaxes
                          type: String
                          displayName: Expense.ExceptionalIncome.IncomeTaxes
                          required: false
                        - value: Income.ExceptionalIncome.InterestIncome
                          type: String
                          displayName: Income.ExceptionalIncome.InterestIncome
                          required: false
                        required: true
                        validation:
                          warnings: []
                          information:
                          - field: FullyQualifiedCategory
                            details: Must be provided.
                      status:
                        type: String
                        displayName: Account Status
                        description: The status of the account
                        options:
                        - value: Active
                          type: String
                          displayName: Active
                          required: false
                        - value: Pending
                          type: String
                          displayName: Pending
                          required: false
                        - value: Unknown
                          type: String
                          displayName: Unknown
                          required: false
                        required: true
                        validation:
                          warnings: []
                          information:
                          - field: Status
                            details: Must be provided.
                    required: true
                MYOB AccountRight and Essentials:
                  value:
                    type: Object
                    displayName: Nominal Account
                    description: Nominal Accounts are the categories a business uses to record transactions
                    properties:
                      nominalCode:
                        type: String
                        displayName: Nominal Code
                        description: The external reference given to each nominal account for a business
                        required: true
                        validation:
                          warnings:
                          - field: NominalCode
                            details: If alphanumeric is supported, must be between 1 and 10 characters. Otherwise format is x-xxxx
                          information: []
                      name:
                        type: String
                        displayName: Name
                        description: Name of the account
                        required: false
                        validation:
                          warnings:
                          - field: Name
                            details: Must have a length between 1 and 60 characters
                          information: []
                      description:
                        type: String
                        displayName: Description
                        description: Description of the account
                        required: false
                        validation:
                          warnings:
                          - field: Description
                            details: Must have a length between 1 and 255 characters
                          information: []
                      fullyQualifiedCategory:
                        type: String
                        displayName: Fully Qualified Category
                        description: The full category of the account e.g. Liability.Current or Income.Revenue
                        options:
                        - value: Asset.Bank
                          type: String
                          displayName: Bank
                          required: false
                        - value: Asset.AccountReceivable
                          type: String
                          displayName: Accounts Receivable
                          required: false
                        - value: Asset.OtherCurrentAsset
                          type: String
                          displayName: Other Current Asset
                          required: false
                        - value: Asset.FixedAsset
                          type: String
                          displayName: Fixed Asset
                          required: false
                        - value: Asset.OtherAsset
                          type: String
                          displayName: Other Asset
                          required: false
                        - value: Asset.CashAndBank
                          type: String
                          displayName: Cash
                          required: false
                        - value: Asset.Property Plant and Equipment
                          type: String
                          displayName: Equipment Machinery
                          required: false
                        - value: Liability.CreditCard
                          type: String
                          displayName: Credit Card
                          required: false
                        - value: Liability.AccountsPayable
                          type: String
                          displayName: Accounts Payable
                          required: false
                        - value: Liability.OtherCurrentLiability
                          type: String
                          displayName: Other Current Liability
                          required: false
                        - value: Liability.LongTermLiability
                          type: String
                          displayName: Long Term Liability
                          required: false
                        - value: Liability.OtherLiability
                          type: String
                          displayName: Other Liability
                          required: false
                        - value: Equity
                          type: String
                          displayName: Equity
                          required: false
                        - value: Equity.Equity
                          type: String
                          displayName: Retained Earnings
                          required: false
                        - value: Equity.Equity.RetainedEarnings
                          type: String
                          displayName: Retained Earnings
                          required: false
                        - value: Equity.Owner's Equity
                          type: String
                          displayName: Retained Earnings
                          required: false
                        - value: Income
                          type: String
                          displayName: Income
                          required: false
                        - value: OtherIncome
                          type: String
                          displayName: Other Income
                          required: false
                        - value: Expense
                          type: String
                          displayName: Expense
                          required: false
                        - value: Expense.Expense
                          type: String
                          displayName: Sales Marketing
                          required: false
                        - value: Expense.Expense.Insurance
                          type: String
                          displayName: General Administrative
                          required: false
                        - value: Expense.Overhead
                          type: String
                          displayName: General Administrative
                          required: false
                        - value: Expense.Expense.RepairMaintenance
                          type: String
                          displayName: Repairs Maintenance
                          required: false
                        - value: OtherExpense
                          type: String
                          displayName: Other Expense
                          required: false
                        - value: CostOfSales
                          type: String
                          displayName: Cost of Sales
                          required: false
                        - value: Cost Of Goods Sold.Cost of Sales
                          type: String
                          displayName: Other
                          required: false
                        required: true
                      status:
                        type: String
                        displayName: Account Status
                        description: The status of the account
                        options:
                        - value: Active
                          type: String
                          displayName: Active
                          required: false
                        - value: Archived
                          type: String
                          displayName: Archived
                          required: false
                        required: true
                    required: true
                QuickBooks Desktop:
                  value:
                    type: Object
                    displayName: Nominal Account
                    description: Nominal Accounts are the categories a business uses to record transactions
                    properties:
                      nominalCode:
                        type: String
                        displayName: Nominal Code
                        description: The external reference given to each nominal account for a business
                        required: true
                        validation:
                          warnings:
                          - field: NominalCode
                            details: Max length of 7 characters.
                          information: []
                      name:
                        type: String
                        displayName: Name
                        description: Name of the account
                        required: true
                        validation:
                          warnings:
                          - field: Name
                            details: Max length of 31 characters.
                          information: []
                      description:
                        type: String
                        displayName: Description
                        description: Description of the account
                        required: false
                        validation:
                          warnings:
                          - field: Description
                            details: Max length of 200 characters.
                          information: []
                      currency:
                        type: String
                        displayName: Currency
                        description: The currency of the account
                        required: false
                        validation:
                          warnings:
                          - field: Currency
                            details: The currency must match the base currency of the QuickBooks Desktop company unless the FullyQualifiedCategory is 'Asset.AccountsReceivable','Liability.AccountsPayable' or 'Liability.CreditCard'
                          - field: Currency
                            details: Must be a three letter ISO code that matches an existing active currency in the QuickBooks Desktop company
                          - field: Currency
                            details: Can only be set if the QuickBooks Desktop company has Multicurrency enabled.
                          information:
                          - field: Currency
                            details: If not set, will default to the base currency of the QuickBooks Desktop company
                      fullyQualifiedCategory:
                        type: String
                        displayName: Fully Qualified Category
                        description: The full category of the account e.g. Liability.Current or Income.Revenue
                        options:
                        - value: Asset.AccountsReceivable
                          type: String
                          displayName: Account Receivable
                          required: false
                        - value: Asset.FixedAsset
                          type: String
                          displayName: Fixed Asset
                          required: false
                        - value: Asset.OtherCurrentAsset
                          type: String
                          displayName: Other Current Asset
                          required: false
                        - value: Asset.OtherAsset
                          type: String
                          displayName: Other Asset
                          required: false
                        - value: Income.Income
                          type: String
                          displayName: Income
                          required: false
                        - value: Income.OtherIncome
                          type: String
                          displayName: Other Income
                          required: false
                        - value: Liability.AccountsPayable
                          type: String
                          displayName: Accounts Payable
                          required: false
                        - value: Liability.CreditCard
                          type: String
                          displayName: Credit Card
                          required: false
                        - value: Liability.LongTermLiability
                          type: String
                          displayName: Long Term Liability
                          required: false
                        - value: Liability.OtherCurrentLiability
                          type: String
                          displayName: Other Current Liability
                          required: false
                        - value: Liability.CostOfGoodsSold
                          type: String
                          displayName: Cost Of Goods Sold
                          required: false
                        - value: Equity.Equity
                          type: String
                          displayName: Equity
                          required: false
                        - value: Expense.Expense
                          type: String
                          displayName: Expense
                          required: false
                        - value: Expense.OtherExpense
                          type: String
                          displayName: Other Expense
                          required: false
                        required: true
                      currentBalance:
                        type: Number
                        displayName: Current Balance
                        description: The current balance in the account
                        required: false
                    required: true
                QuickBooks Online Sandbox:
                  value:
                    type: Object
                    displayName: Nominal Account
                    description: Nominal Accounts are the categories a business uses to record transactions
                    properties:
                      nominalCode:
                        type: String
                        displayName: Nominal Code
                        description: The external reference given to each nominal account for a business
                        required: false
                        validation:
                          warnings: []
                          information:
                          - field: NominalCode
                            details: If included must have a length between 1 and 7 characters
                      name:
                        type: String
                        displayName: Name
                        description: Name of the account
                        required: true
                        validation:
                          warnings:
                          - field: Name
                            details: Must have a length between 1 and 100 characters
                          information: []
                      currency:
                        type: String
                        displayName: Currency
                        description: The currency of the account
                        required: false
                        validation:
                          warnings: []
                          information:
                          - field: Currency
                            details: When not specified company base currency will be used
                      fullyQualifiedCategory:
                        type: String
                        displayName: Fully Qualified Category
                        description: The full category of the account e.g. Liability.Current or Income.Revenue
                        options:
                        - value: Asset.Bank.CashOnHand
                          type: String
                          displayName: Cash On Hand
                          required: false
                        - value: Asset.Bank.Checking
                          type: String
                          displayName: Checking
                          required: false
                        - value: Asset.Bank.MoneyMarket
                          type: String
                          displayName: Money Market
                          required: false
                        - value: Asset.Bank.RentsHeldInTrust
                          type: String
                          displayName: Rents Held In Trust
                          required: false
                        - value: Asset.Bank.Savings
                          type: String
                          displayName: Savings
                          required: false
                        - value: Asset.Bank.TrustAccounts
                          type: String
                          displayName: Trust Accounts
                          required: false
                        - value: Asset.Bank.CashAndCashEquivalents
                          type: String
                          displayName: Cash And Cash Equivalents
                          required: false
                        - value: Asset.Bank.OtherEarmarkedBankAccounts
                          type: String
                          displayName: Other Earmarked Bank Accounts
                          required: false
                        - value: Asset.Other Current Asset.AllowanceForBadDebts
                          type: String
                          displayName: Allowance For Bad Debts
                          required: false
                        - value: Asset.Other Current Asset.DevelopmentCosts
                          type: String
                          displayName: Development Costs
                          required: false
                        - value: Asset.Other Current Asset.EmployeeCashAdvances
                          type: String
                          displayName: Employee Cash Advances
                          required: false
                        - value: Asset.Other Current Asset.OtherCurrentAssets
                          type: String
                          displayName: Other Current Assets
                          required: false
                        - value: Asset.Other Current Asset.Inventory
                          type: String
                          displayName: Inventory
                          required: false
                        - value: Asset.Other Current Asset.Investment_MortgageRealEstateLoans
                          type: String
                          displayName: Investment Mortgage Real Estate Loans
                          required: false
                        - value: Asset.Other Current Asset.Investment_Other
                          type: String
                          displayName: Investment Other
                          required: false
                        - value: Asset.Other Current Asset.Investment_TaxExemptSecurities
                          type: String
                          displayName: Investment Tax Exempt Securities
                          required: false
                        - value: Asset.Other Current Asset.Investment_USGovernmentObligations
                          type: String
                          displayName: Investment US Government Obligations
                          required: false
                        - value: Asset.Other Current Asset.LoansToOfficers
                          type: String
                          displayName: Loans To Officers
                          required: false
                        - value: Asset.Other Current Asset.LoansToOthers
                          type: String
                          displayName: Loans To Others
                          required: false
                        - value: Asset.Other Current Asset.LoansToStockholders
                          type: String
                          displayName: Loans To Stockholders
                          required: false
                        - value: Asset.Other Current Asset.PrepaidExpenses
                          type: String
                          displayName: Prepaid Expenses
                          required: false
                        - value: Asset.Other Current Asset.Retainage
                          type: String
                          displayName: Retainage
                          required: false
                        - value: Asset.Other Current Asset.UndepositedFunds
                          type: String
                          displayName: Undeposited Funds
                          required: false
                        - value: Asset.Other Current Asset.AssetsAvailableForSale
                          type: String
                          displayName: Assets Available For Sale
                          required: false
                        - value: Asset.Other Current Asset.BalWithGovtAuthorities
                          type: String
                          displayName: Balance With Govt Authorities
                          required: false
                        - value: Asset.Other Current Asset.CalledUpShareCapitalNotPaid
                          type: String
                          displayName: Called Up Share Capital Not Paid
                          required: false
                        - value: Asset.Other Current Asset.ExpenditureAuthorisationsAndLettersOfCredit
                          type: String
                          displayName: Expenditure Authorisations And Letters Of Credit
                          required: false
                        - value: Asset.Other Current Asset.GlobalTaxDeferred
                          type: String
                          displayName: Global Tax Deferred
                          required: false
                        - value: Asset.Other Current Asset.GlobalTaxRefund
                          type: String
                          displayName: Global Tax Refund
                          required: false
                        - value: Asset.Other Current Asset.InternalTransfers
                          type: String
                          displayName: Internal Transfers
                          required: false
                        - value: Asset.Other Current Asset.OtherConsumables
                          type: String
                          displayName: Other Consumables
                          required: false
                        - value: Asset.Other Current Asset.ProvisionsCurrentAssets
                          type: String
                          displayName: Provisions Current Assets
                          required: false
                        - value: Asset.Other Current Asset.ShortTermInvestmentsInRelatedParties
                          type: String
                          displayName: Short Term Investments In Related Parties
                          required: false
                        - value: Asset.Other Current Asset.ShortTermLoansAndAdvancesToRelatedParties
                          type: String
                          displayName: Short Term Loans And Advances To Related Parties
                          required: false
                        - value: Asset.Other Current Asset.TradeAndOtherReceivables
                          type: String
                          displayName: Trade And Other Receivables
                          required: false
                        - value: Asset.Fixed Asset.AccumulatedDepletion
                          type: String
                          displayName: Accumulated Depletion
                          required: false
                        - value: Asset.Fixed Asset.AccumulatedDepreciation
                          type: String
                          displayName: Accumulated Depreciation
                          required: false
                        - value: Asset.Fixed Asset.DepletableAssets
                          type: String
                          displayName: Depletable Assets
                          required: false
                        - value: Asset.Fixed Asset.FixedAssetComputers
                          type: String
                          displayName: Fixed Asset Computers
                          required: false
                        - value: Asset.Fixed Asset.FixedAssetCopiers
                          type: String
                          displayName: Fixed Asset Copiers
                          required: false
                        - value: Asset.Fixed Asset.FixedAssetFurniture
                          type: String
                          displayName: Fixed Asset Furniture
                          required: false
                        - value: Asset.Fixed Asset.FixedAssetPhone
                          type: String
                          displayName: Fixed Asset Phone
                          required: false
                        - value: Asset.Fixed Asset.FixedAssetPhotoVideo
                          type: String
                          displayName: Fixed Asset Photo Video
                          required: false
                        - value: Asset.Fixed Asset.FixedAssetSoftware
                          type: String
                          displayName: Fixed Asset Software
                          required: false
                        - value: Asset.Fixed Asset.FixedAssetOtherToolsEquipment
                          type: String
                          displayName: Fixed Asset Other Tools Equipment
                          required: false
                        - value: Asset.Fixed Asset.FurnitureAndFixtures
                          type: String
                          displayName: Furniture And Fixtures
                          required: false
                        - value: Asset.Fixed Asset.Land
                          type: String
                          displayName: Land
                          required: false
                        - value: Asset.Fixed Asset.LeaseholdImprovements
                          type: String
                          displayName: Leasehold Improvements
                          required: false
                        - value: Asset.Fixed Asset.OtherFixedAssets
                          type: String
                          displayName: Other Fixed Assets
                          required: false
                        - value: Asset.Fixed Asset.AccumulatedAmortization
                          type: String
                          displayName: Accumulated Amortization
                          required: false
                        - value: Asset.Fixed Asset.Buildings
                          type: String
                          displayName: Buildings
                          required: false
                        - value: Asset.Fixed Asset.IntangibleAssets
                          type: String
                          displayName: Intangible Assets
                          required: false
                        - value: Asset.Fixed Asset.MachineryAndEquipment
                          type: String
                          displayName: Machinery And Equipment
                          required: false
                        - value: Asset.Fixed Asset.Vehicles
                          type: String
                          displayName: Vehicles
                          required: false
                        - value: Asset.Fixed Asset.AssetsInCourseOfConstruction
                          type: String
                          displayName: Assets In Course Of Construction
                          required: false
                        - value: Asset.Fixed Asset.CapitalWip
                          type: String
                          displayName: Capital Wip
                          required: false
                        - value: Asset.Fixed Asset.CumulativeDepreciationOnIntangibleAssets
                          type: String
                          displayName: Cumulative Depreciation On Intangible Assets
                          required: false
                        - value: Asset.Fixed Asset.IntangibleAssetsUnderDevelopment
                          type: String
                          displayName: Intangible Assets Under Development
                          required: false
                        - value: Asset.Fixed Asset.LandAsset
                          type: String
                          displayName: Land Asset
                          required: false
                        - value: Asset.Fixed Asset.NonCurrentAssets
                          type: String
                          displayName: Non Current Assets
                          required: false
                        - value: Asset.Fixed Asset.ParticipatingInterests
                          type: String
                          displayName: Participating Interests
                          required: false
                        - value: Asset.Fixed Asset.ProvisionsFixedAssets
                          type: String
                          displayName: Provisions Fixed Assets
                          required: false
                        - value: Asset.Other Asset.LeaseBuyout
                          type: String
                          displayName: Lease Buyout
                          required: false
                        - value: Asset.Other Asset.OtherLongTermAssets
                          type: String
                          displayName: Other Long Term Assets
                          required: false
                        - value: Asset.Other Asset.SecurityDeposits
                          type: String
                          displayName: Security Deposits
                          required: false
                        - value: Asset.Other Asset.AccumulatedAmortizationOfOtherAssets
                          type: String
                          displayName: Accumulated Amortization Of Other Assets
                          required: false
                        - value: Asset.Other Asset.Goodwill
                          type: String
                          displayName: Goodwill
                          required: false
                        - value: Asset.Other Asset.Licenses
                          type: String
                          displayName: Licenses
                          required: false
                        - value: Asset.Other Asset.OrganizationalCosts
                          type: String
                          displayName: Organizational Costs
                          required: false
                        - value: Asset.Other Asset.AssetsHeldForSale
                          type: String
                          displayName: Assets Held For Sale
                          required: false
                        - value: Asset.Other Asset.AvailableForSaleFinancialAssets
                          type: String
                          displayName: Available For Sale Financial Assets
                          required: false
                        - value: Asset.Other Asset.DeferredTax
                          type: String
                          displayName: Deferred Tax
                          required: false
                        - value: Asset.Other Asset.Investments
                          type: String
                          displayName: Investments
                          required: false
                        - value: Asset.Other Asset.LongTermInvestments
                          type: String
                          displayName: Long Term Investments
                          required: false
                        - value: Asset.Other Asset.LongTermLoansAndAdvancesToRelatedParties
                          type: String
                          displayName: Long Term Loans And Advances To Related Parties
                          required: false
                        - value: Asset.Other Asset.OtherIntangibleAssets
                          type: String
                          displayName: Other Intangible Assets
                          required: false
                        - value: Asset.Other Asset.OtherLongTermInvestments
                          type: String
                          displayName: Other Long Term Investments
                          required: false
                        - value: Asset.Other Asset.OtherLongTermLoansAndAdvances
                          type: String
                          displayName: Other Long Term Loans And Advances
                          required: false
                        - value: Asset.Other Asset.PrepaymentsAndAccruedIncome
                          type: String
                          displayName: Prepayments And Accrued Income
                          required: false
                        - value: Asset.Other Asset.ProvisionsNonCurrentAssets
                          type: String
                          displayName: Provisions Non-Current Assets
                          required: false
                        - value: Asset.Accounts Receivable.AccountsReceivable
                          type: String
                          displayName: Accounts Receivable
                          required: false
                        - value: Expense.Expense.AdvertisingPromotional
                          type: String
                          displayName: Advertising/Promotional
                          required: false
                        - value: Expense.Expense.BadDebts
                          type: String
                          displayName: Bad Debts
                          required: false
                        - value: Expense.Expense.BankCharges
                          type: String
                          displayName: Bank Charges
                          required: false
                        - value: Expense.Expense.CharitableContributions
                          type: String
                          displayName: Charitable Contributions
                          required: false
                        - value: Expense.Expense.CommissionsAndFees
                          type: String
                          displayName: Commissions And Fees
                          required: false
                        - value: Expense.Expense.Entertainment
                          type: String
                          displayName: Entertainment
                          required: false
                        - value: Expense.Expense.EntertainmentMeals
                          type: String
                          displayName: Entertainment Meals
                          required: false
                        - value: Expense.Expense.EquipmentRental
                          type: String
                          displayName: Equipment Rental
                          required: false
                        - value: Expense.Expense.FinanceCosts
                          type: String
                          displayName: Finance Costs
                          required: false
                        - value: Expense.Expense.GlobalTaxExpense
                          type: String
                          displayName: Global Tax Expense
                          required: false
                        - value: Expense.Expense.Insurance
                          type: String
                          displayName: Insurance
                          required: false
                        - value: Expense.Expense.InterestPaid
                          type: String
                          displayName: Interest Paid
                          required: false
                        - value: Expense.Expense.LegalProfessionalFees
                          type: String
                          displayName: Legal And Professional Fees
                          required: false
                        - value: Expense.Expense.OfficeExpenses
                          type: String
                          displayName: Office Expenses
                          required: false
                        - value: Expense.Expense.OfficeGeneralAdministrativeExpenses
                          type: String
                          displayName: Office/General Administrative Expenses
                          required: false
                        - value: Expense.Expense.OtherBusinessExpenses
                          type: String
                          displayName: Other Business Expenses
                          required: false
                        - value: Expense.Expense.OtherMiscellaneousServiceCost
                          type: String
                          displayName: Other Miscellaneous Service Cost
                          required: false
                        - value: Expense.Expense.PromotionalMeals
                          type: String
                          displayName: Promotional Meals
                          required: false
                        - value: Expense.Expense.RentOrLeaseOfBuildings
                          type: String
                          displayName: Rent Or Lease Of Buildings
                          required: false
[...]
