openapi: 3.2.0
info:
  title: Lending Accounts payable API
  description: 'Our Lending solution helps you make smarter credit decisions on small businesses by enabling you to pull your customers'' latest data from accounting, banking, and commerce software they are already using. It also includes features to help providers verify the accuracy of data and process it more efficiently.


    The Lending solution is built on top of the latest accounting, commerce, and banking data, providing you with the most important data points you need to get a full picture of SMB creditworthiness and make a comprehensive assessment of your customers.


    [Explore solution](https://docs.codat.io/lending/overview) | [See OpenAPI spec](https://github.com/codatio/oas)


    <!-- Start Codat Tags Table -->

    ## Endpoints


    | Endpoints | Description |

    | :- |:- |

    | Companies | Create and manage your SMB users'' companies. |

    | Connections | Create new and manage existing data connections for a company. |

    | Bank statements | Retrieve banking data from linked bank accounts. |

    | Sales | Retrieve standardized sales data from a linked commerce software. |

    | Financial statements | Financial data and reports from a linked accounting software. |

    | Liabilities | Debt and other liabilities. |

    | Accounts payable | Data from a linked accounting software representing money the business owes money to its suppliers. |

    | Accounts receivable | Data from a linked accounting software representing money owed to the business for sold goods or services. |

    | Transactions | Data from a linked accounting software representing transactions. |

    | Company info | View company information fetched from the source platform. |

    | Data integrity | Match mutable accounting data with immutable banking data to increase confidence in financial data. |

    | Excel reports | Download reports in Excel format. |

    | Manage data | Control how data is retrieved from an integration. |

    | File upload | Endpoints to manage uploaded files. |

    | Loan writeback | Implement the [loan writeback](https://docs.codat.io/lending/guides/loan-writeback/introduction) procedure in your lending process to maintain an accurate position of a loan during the entire lending cycle. |

    <!-- End Codat Tags Table -->'
  version: 3.0.0
  contact:
    name: Codat
    email: support@codat.io
  termsOfService: https://www.codat.io/legals/
servers:
- description: Production
  url: https://api.codat.io
security:
- auth_header: []
tags:
- name: Accounts payable
  description: Data from a linked accounting software representing money the business owes money to its suppliers.
paths:
  /companies/{companyId}/data/billCreditNotes:
    parameters:
    - $ref: '#/components/parameters/companyId'
    get:
      tags:
      - Accounts payable
      summary: List bill credit notes
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/orderBy'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBillCreditNotes'
              examples:
                Dynamics 365 Business Central:
                  value:
                    results:
                    - id: 0deaed0a-9f51-eb11-89f9-00224800af18
                      billCreditNoteNumber: '109001'
                      supplierRef:
                        id: be1217b3-89d1-ea11-bbaa-000d3a2b9185
                        supplierName: Fabrikam, Inc.
                      withholdingTax: []
                      totalAmount: 8
                      totalDiscount: 0
                      subTotal: 8
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 8
                      status: Submitted
                      issueDate: '2020-12-21T00:00:00'
                      currency: GBP
                      lineItems:
                      - description: Abdi Item No VAT
                        unitAmount: 8
                        quantity: 1
                        discountAmount: 0
                        subTotal: 8
                        taxAmount: 0
                        totalAmount: 8
                        accountRef:
                          id: 6a1217b3-89d1-ea11-bbaa-000d3a2b9185
                          name: Inventory
                        discountPercentage: 0
                        taxRateRef:
                          id: 6bbc0fb9-89d1-ea11-bbaa-000d3a2b9185
                          name: Setup for EXPORT / ZERO
                          effectiveTaxRate: 0
                        itemRef:
                          id: ITEM-dbc37b18-4209-eb11-bbf6-0022481ad2e8-EXPORT-EXPORT
                          name: 'Abdi Item No VAT / General Business Posting Group: ''EXPORT'' / VAT Business Posting Group: ''EXPORT'''
                        trackingCategoryRefs: []
                      paymentAllocations: []
                      modifiedDate: '2023-03-27T14:21:26Z'
                      metadata:
                        isDeleted: false
                      note: BCN001
                    - id: 157c025f-a19e-eb11-8ce6-0022481a7bed
                      billCreditNoteNumber: '109002'
                      supplierRef:
                        id: be1217b3-89d1-ea11-bbaa-000d3a2b9185
                        supplierName: Fabrikam, Inc.
                      withholdingTax: []
                      totalAmount: 20
                      totalDiscount: 0
                      subTotal: 20
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 10
                      status: PartiallyPaid
                      issueDate: '2021-01-26T00:00:00'
                      currency: GBP
                      lineItems:
                      - description: Abdi Item No VAT
                        unitAmount: 20
                        quantity: 1
                        discountAmount: 0
                        subTotal: 20
                        taxAmount: 0
                        totalAmount: 20
                        accountRef:
                          id: 6a1217b3-89d1-ea11-bbaa-000d3a2b9185
                          name: Inventory
                        discountPercentage: 0
                        taxRateRef:
                          id: 6bbc0fb9-89d1-ea11-bbaa-000d3a2b9185
                          name: Setup for EXPORT / ZERO
                          effectiveTaxRate: 0
                        itemRef:
                          id: ITEM-dbc37b18-4209-eb11-bbf6-0022481ad2e8-EXPORT-EXPORT
                          name: 'Abdi Item No VAT / General Business Posting Group: ''EXPORT'' / VAT Business Posting Group: ''EXPORT'''
                        trackingCategoryRefs: []
                      paymentAllocations:
                      - payment:
                          id: 257c025f-a19e-eb11-8ce6-0022481a7bed
                          note: Credit Memo 1002
                          reference: '109002'
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2021-01-26T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          allocatedOnDate: '2021-04-16T00:00:00'
                          totalAmount: 10
                      modifiedDate: '2023-03-27T14:21:26Z'
                      metadata:
                        isDeleted: false
                      note: '16042021'
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 224
                    _links:
                      current:
                        href: /companies/d6849caf-c146-41be-8335-b73346e3bd84/data/billCreditNotes?page=1&pageSize=2
                      self:
                        href: /companies/d6849caf-c146-41be-8335-b73346e3bd84/data/billCreditNotes
                      next:
                        href: /companies/d6849caf-c146-41be-8335-b73346e3bd84/data/billCreditNotes?page=2&pageSize=2
                Exact (Netherlands):
                  value:
                    results:
                    - id: 443bd109-e1ed-4de2-b1ab-3b13e980d288
                      billCreditNoteNumber: '19600007'
                      supplierRef:
                        id: 5e6f49b9-6489-4b82-83e7-291d308919bb
                        supplierName: Mickey Mouse
                      withholdingTax: []
                      totalAmount: 12.1
                      totalDiscount: 0
                      subTotal: 10
                      totalTaxAmount: 2.1
                      discountPercentage: 0
                      remainingCredit: 12.1
                      status: Submitted
                      issueDate: '2019-12-16T00:00:00Z'
                      currency: EUR
                      currencyRate: 1
                      lineItems:
                      - description: Cheesecake
                        unitAmount: 10
                        quantity: 1
                        discountAmount: 0
                        subTotal: 10
                        taxAmount: 2.1
                        totalAmount: 12.1
                        accountRef:
                          id: 5f139759-b554-4314-862e-b9d88e5b2e1b
                          name: Af te dragen loonheffing
                        taxRateRef:
                          id: 84277189-ad16-456c-b501-ca31f0a483cc
                          name: BTW prive gebruik
                          effectiveTaxRate: 21
                        trackingCategoryRefs: []
                      paymentAllocations: []
                      modifiedDate: '2022-10-26T13:32:18Z'
                      sourceModifiedDate: '2020-01-03T15:06:19Z'
                    - id: 6643f559-d7e9-4cfe-802f-60beddbc4ed9
                      billCreditNoteNumber: '20600003'
                      supplierRef:
                        id: f87070e2-bbd7-4383-a7c9-824748c1d70e
                        supplierName: Exact Software Nederland B.V.
                      withholdingTax: []
                      totalAmount: 13.57
                      totalDiscount: 0
                      subTotal: 13.57
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 13.57
                      status: Submitted
                      issueDate: '2020-01-20T00:00:00Z'
                      currency: EUR
                      currencyRate: 1
                      lineItems:
                      - description: 1 transactions of type CARD_PAYMENT_FEE_REFUND
                        unitAmount: 13.57
                        quantity: 1
                        discountAmount: 0
                        subTotal: 13.57
                        totalAmount: 13.57
                        accountRef:
                          id: f6c251f5-21d0-4164-9b8f-17789fd2fee9
                          name: Kosten werkgeverslasten vakantiegeld
                        trackingCategoryRefs: []
                      paymentAllocations: []
                      modifiedDate: '2022-10-26T13:32:18Z'
                      sourceModifiedDate: '2020-01-20T19:38:37Z'
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 42
                    _links:
                      current:
                        href: /companies/b83b1923-4db6-45a8-a779-b4e320c15979/data/billCreditNotes?page=1&pageSize=2
                      self:
                        href: /companies/b83b1923-4db6-45a8-a779-b4e320c15979/data/billCreditNotes
                      next:
                        href: /companies/b83b1923-4db6-45a8-a779-b4e320c15979/data/billCreditNotes?page=2&pageSize=2
                Exact (UK):
                  value:
                    results:
                    - id: f9083d38-40c7-4b5f-a693-f4670e3d85bc
                      billCreditNoteNumber: '19600008'
                      supplierRef:
                        id: 1c703cce-967c-4476-a86a-32e35341a8f5
                        supplierName: Customer Bill Supplier
                      withholdingTax: []
                      totalAmount: 99999
                      totalDiscount: 0
                      subTotal: 99999
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 99999
                      status: Submitted
                      issueDate: '2019-10-30T00:00:00Z'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Oil Change
                        unitAmount: -150
                        quantity: 1000.5
                        discountAmount: 0
                        subTotal: -150075
                        totalAmount: -150075
                        accountRef:
                          id: 885ff551-664d-451b-995b-cb114c9877d0
                          name: Unallocated Cash
                        itemRef:
                          id: '3001'
                        trackingCategoryRefs: []
                      - description: description
                        unitAmount: 250074
                        quantity: 1
                        discountAmount: 0
                        subTotal: 250074
                        totalAmount: 250074
                        accountRef:
                          id: 885ff551-664d-451b-995b-cb114c9877d0
                          name: Unallocated Cash
                        trackingCategoryRefs: []
                      paymentAllocations: []
                      modifiedDate: '2022-10-26T13:33:23Z'
                      sourceModifiedDate: '2019-10-30T13:12:56Z'
                    - id: 05023688-5bd5-4034-ae4c-5e3e5099bbfb
                      billCreditNoteNumber: '19600009'
                      supplierRef:
                        id: 1c703cce-967c-4476-a86a-32e35341a8f5
                        supplierName: Customer Bill Supplier
                      withholdingTax: []
                      totalAmount: 10
                      totalDiscount: 0
                      subTotal: 10
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 10
                      status: Submitted
                      issueDate: '2019-11-01T00:00:00Z'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: 'Credit note line item #5'
                        unitAmount: 10
                        quantity: 1
                        discountAmount: 0
                        subTotal: 10
                        totalAmount: 10
                        accountRef:
                          id: 62be6536-f4ea-49b8-9797-1adc23982334
                          name: Depreciation
                        trackingCategoryRefs: []
                      paymentAllocations: []
                      modifiedDate: '2022-10-26T13:33:23Z'
                      sourceModifiedDate: '2019-11-01T15:07:18Z'
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 40
                    _links:
                      current:
                        href: /companies/d95030cd-22b2-482b-9c7b-2980dcc2b1ce/data/billCreditNotes?page=1&pageSize=2
                      self:
                        href: /companies/d95030cd-22b2-482b-9c7b-2980dcc2b1ce/data/billCreditNotes
                      next:
                        href: /companies/d95030cd-22b2-482b-9c7b-2980dcc2b1ce/data/billCreditNotes?page=2&pageSize=2
                FreeAgent:
                  value:
                    results:
                    - id: '10665024'
                      billCreditNoteNumber: Bill Credit
                      supplierRef:
                        id: '6161941'
                        supplierName: A & J Fabtech Ltd
                      withholdingTax: []
                      totalAmount: 1500
                      totalDiscount: 0
                      subTotal: 1250
                      totalTaxAmount: 250
                      discountPercentage: 0
                      remainingCredit: 1500
                      status: Submitted
                      issueDate: '2018-08-22T00:00:00'
                      currency: GBP
                      lineItems:
                      - description: A & J Fabtech Ltd - Bill Credit Note Bill Credit
                        unitAmount: 1250
                        quantity: 1
                        taxAmount: 250
                        totalAmount: 1500
                        accountRef:
                          id: '285'
                          name: Accommodation and Meals
                        trackingCategoryRefs: []
                      paymentAllocations: []
                      modifiedDate: '2023-04-25T14:19:10Z'
                      sourceModifiedDate: '2018-08-22T13:22:08Z'
                      metadata:
                        isDeleted: false
                    - id: '11007024'
                      billCreditNoteNumber: Draft test
                      supplierRef:
                        id: '6161963'
                        supplierName: ABB Ltd
                      withholdingTax: []
                      totalAmount: 10
                      totalDiscount: 0
                      subTotal: 8.33
                      totalTaxAmount: 1.67
                      discountPercentage: 0
                      remainingCredit: 10
                      status: Submitted
                      issueDate: '2018-10-17T00:00:00'
                      currency: GBP
                      lineItems:
                      - description: ABB Ltd - Bill Credit Note Draft test
                        unitAmount: 8.33
                        quantity: 1
                        taxAmount: 1.67
                        totalAmount: 10
                        accountRef:
                          id: '285'
                          name: Accommodation and Meals
                        trackingCategoryRefs: []
                      paymentAllocations: []
                      modifiedDate: '2023-04-25T14:19:10Z'
                      sourceModifiedDate: '2018-10-17T12:56:54Z'
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 45
                    _links:
                      current:
                        href: /companies/071ad738-68f3-4561-afd0-69bab9df0803/data/billCreditNotes?page=1&pageSize=2
                      self:
                        href: /companies/071ad738-68f3-4561-afd0-69bab9df0803/data/billCreditNotes
                      next:
                        href: /companies/071ad738-68f3-4561-afd0-69bab9df0803/data/billCreditNotes?page=2&pageSize=2
                KashFlow:
                  value:
                    results:
                    - id: '91339087'
                      billCreditNoteNumber: '5'
                      supplierRef:
                        id: '6202387'
                        supplierName: Dell
                      withholdingTax: []
                      totalAmount: 10
                      totalDiscount: 0
                      subTotal: 0
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2020-02-25T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Oil refund
                        unitAmount: 10
                        quantity: 1
                        subTotal: 10
                        taxAmount: 0
                        totalAmount: 10
                        accountRef:
                          id: '21481832'
                          name: Oil
                        itemRef:
                          id: '114817740'
                        trackingCategoryRefs: []
                      paymentAllocations: []
                      modifiedDate: '2022-09-30T10:29:16Z'
                    - id: '91341939'
                      billCreditNoteNumber: '6'
                      supplierRef:
                        id: '6202387'
                        supplierName: Dell
                      withholdingTax: []
                      totalAmount: 240
                      totalDiscount: 0
                      subTotal: 0
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2020-02-25T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: ''
                        unitAmount: -200
                        quantity: -1
                        subTotal: 200
                        taxAmount: -40
                        totalAmount: 240
                        accountRef:
                          id: '21481820'
                          name: Materials purchased
                        itemRef:
                          id: '114821376'
                        trackingCategoryRefs: []
                      paymentAllocations: []
                      modifiedDate: '2022-09-30T10:29:16Z'
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 8
                    _links:
                      current:
                        href: /companies/3a707a99-89da-4b16-a5d6-595333a16352/data/billCreditNotes?page=1&pageSize=2
                      self:
                        href: /companies/3a707a99-89da-4b16-a5d6-595333a16352/data/billCreditNotes
                      next:
                        href: /companies/3a707a99-89da-4b16-a5d6-595333a16352/data/billCreditNotes?page=2&pageSize=2
                Oracle NetSuite:
                  value:
                    results:
                    - id: '1781'
                      billCreditNoteNumber: VENDCRED1
                      supplierRef:
                        id: '749'
                        supplierName: Jo's Cheese
                      withholdingTax: []
                      totalAmount: 174.6
                      totalDiscount: 0
                      subTotal: 145.5
                      totalTaxAmount: 29.1
                      discountPercentage: 0
                      remainingCredit: 174.6
                      status: Submitted
                      issueDate: '2021-11-02T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: billcredit_test
                        unitAmount: 145.5
                        quantity: 1
                        unitOfMeasurement: pack
                        subTotal: 145.5
                        totalAmount: 145.5
                        accountRef:
                          id: '713'
                          name: Inventory Asset
                        trackingCategoryRefs:
                        - id: department-1
                        - id: location-1
                        tracking:
                          categoryRefs:
                          - id: department-1
                          - id: location-1
                          isBilledTo: Unknown
                          isRebilledTo: Unknown
                      paymentAllocations: []
                      modifiedDate: '2022-09-20T08:16:22Z'
                      sourceModifiedDate: '2021-11-02T19:58:58'
                      note: Codat1
                    - id: '1782'
                      billCreditNoteNumber: VENDCRED2
                      supplierRef:
                        id: '749'
                        supplierName: Jo's Cheese
                      withholdingTax: []
                      totalAmount: 642.3
                      totalDiscount: 0
                      subTotal: 535.25
                      totalTaxAmount: 107.05
                      discountPercentage: 0
                      remainingCredit: 342.3
                      status: PartiallyPaid
                      issueDate: '2021-11-02T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Cheese
                        unitAmount: 400
                        quantity: 1
                        unitOfMeasurement: pack
                        subTotal: 400
                        totalAmount: 400
                        accountRef:
                          id: '714'
                          name: Cost of Goods Sold
                        createdFromLineRef:
                          id: '7462'
                          dataType: bills
                          lineNumber: '1'
                        trackingCategoryRefs:
                        - id: location-1
                        tracking:
                          categoryRefs:
                          - id: location-1
                          isBilledTo: Unknown
                          isRebilledTo: Unknown
                      - description: double cream
                        unitAmount: 100
                        quantity: 1
                        subTotal: 100
                        totalAmount: 100
                        accountRef:
                          id: '714'
                          name: Cost of Goods Sold
                        trackingCategoryRefs:
                        - id: location-1
                        tracking:
                          categoryRefs:
                          - id: location-1
                          isBilledTo: Unknown
                          isRebilledTo: Unknown
                      - description: ''
                        unitAmount: 35.25
                        quantity: 1
                        subTotal: 35.25
                        totalAmount: 35.25
                        accountRef:
                          id: '54'
                          name: Sales
                        itemRef:
                          id: '128'
                          name: Test Item
                        trackingCategoryRefs:
                        - id: location-1
                        tracking:
                          categoryRefs:
                          - id: location-1
                          isBilledTo: Unknown
                          isRebilledTo: Unknown
                      paymentAllocations:
                      - payment:
                          id: '1782'
                          note: Codat1
                          reference: Bill Credit 02/11/2021
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2021-11-02T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 300
                      createdFromRefs:
                      - id: '7462'
                        dataType: bills
                      modifiedDate: '2022-09-20T08:16:22Z'
                      sourceModifiedDate: '2021-11-03T18:27:14'
                      note: Codat1
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 16
                    _links:
                      current:
                        href: /companies/973341cc-ca0a-4a88-88de-e5954157818b/data/billCreditNotes?page=1&pageSize=2
                      self:
                        href: /companies/973341cc-ca0a-4a88-88de-e5954157818b/data/billCreditNotes
                      next:
                        href: /companies/973341cc-ca0a-4a88-88de-e5954157818b/data/billCreditNotes?page=2&pageSize=2
                QuickBooks Desktop:
                  value:
                    results:
                    - id: 6D2C-1197698059
                      billCreditNoteNumber: Return
                      supplierRef:
                        id: E0000-933272656
                        supplierName: Timberloft Lumber
                      withholdingTax: []
                      totalAmount: 475
                      totalDiscount: 0
                      subTotal: 475
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 475
                      status: Submitted
                      issueDate: '2024-10-30T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Lumber:Rough - Rough lumber
                        unitAmount: 475
                        quantity: 0
                        discountAmount: 0
                        subTotal: 475
                        taxAmount: 0
                        totalAmount: 475
                        discountPercentage: 0
                        itemRef:
                          id: 1C0000-933272656
                          name: Lumber:Rough
                        trackingCategoryRefs:
                        - id: 10000-933272658
                          name: New Construction
                        tracking:
                          categoryRefs:
                          - id: 10000-933272658
                            name: New Construction
                          isBilledTo: Unknown
                          isRebilledTo: Unknown
                      paymentAllocations:
                      - payment:
                          id: 6D2C-1197698059
                          reference: Return
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2024-10-30T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 475
                      modifiedDate: '2023-04-26T09:12:30Z'
                      sourceModifiedDate: '2023-12-16T05:06:19'
                      metadata:
                        isDeleted: false
                    - id: F3A-933787869
                      billCreditNoteNumber: CR-1098
                      supplierRef:
                        id: 80000-933272656
                        supplierName: Sloan Roofing
                      withholdingTax: []
                      totalAmount: 850
                      totalDiscount: 0
                      subTotal: 850
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 850
                      status: Submitted
                      issueDate: '2024-12-12T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Subs:Roofing - Roofing
                        unitAmount: 850
                        quantity: 0
                        discountAmount: 0
                        subTotal: 850
                        taxAmount: 0
                        totalAmount: 850
                        discountPercentage: 0
                        itemRef:
                          id: D0000-933272656
                          name: Subs:Roofing
                        trackingCategoryRefs:
                        - id: 10000-933272658
                          name: New Construction
                        tracking:
                          categoryRefs:
                          - id: 10000-933272658
                            name: New Construction
                          isBilledTo: Unknown
                          isRebilledTo: Unknown
                      paymentAllocations:
                      - payment:
                          id: F3A-933787869
                          reference: CR-1098
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2024-12-12T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 850
                      modifiedDate: '2023-04-26T09:12:30Z'
                      sourceModifiedDate: '2023-12-16T05:05:03'
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 3
                    _links:
                      current:
                        href: /companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/data/billCreditNotes?page=1&pageSize=2
                      self:
                        href: /companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/data/billCreditNotes
                      next:
                        href: /companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/data/billCreditNotes?page=2&pageSize=2
                QuickBooks Online:
                  value:
                    results:
                    - id: '19'
                      billCreditNoteNumber: '19'
                      supplierRef:
                        id: '4'
                        supplierName: BILLy elliot
                      withholdingTax: []
                      totalAmount: 5
                      totalDiscount: 0
                      subTotal: 5
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2019-05-13T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: ''
                        unitAmount: 5
                        quantity: 1
                        subTotal: 5
                        taxAmount: 0
                        totalAmount: 5
                        accountRef:
                          id: '16'
                          name: Advertising
                        taxRateRef:
                          id: NON
                          name: NON
                          effectiveTaxRate: 0
                        trackingCategoryRefs: []
                        tracking:
                          categoryRefs: []
                          isBilledTo: Unknown
                          isRebilledTo: NotApplicable
                      paymentAllocations:
                      - payment:
                          id: '20'
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2019-05-13T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 5
                      modifiedDate: '2023-01-18T11:02:37Z'
                      sourceModifiedDate: '2019-05-13T13:14:06Z'
                    - id: '677'
                      billCreditNoteNumber: '677'
                      supplierRef:
                        id: '4'
                        supplierName: BILLy elliot
                      withholdingTax: []
                      totalAmount: 5
                      totalDiscount: 0
                      subTotal: 5
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2020-03-20T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: ''
                        unitAmount: 5
                        quantity: 1
                        subTotal: 5
                        taxAmount: 0
                        totalAmount: 5
                        accountRef:
                          id: '16'
                          name: Advertising
                        taxRateRef:
                          id: NON
                          name: NON
                          effectiveTaxRate: 0
                        trackingCategoryRefs: []
                        tracking:
                          categoryRefs: []
                          isBilledTo: Unknown
                          isRebilledTo: NotApplicable
                      paymentAllocations:
                      - payment:
                          id: '678'
                          note: payment note test
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2020-03-23T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 5
                      modifiedDate: '2023-01-18T11:02:37Z'
                      sourceModifiedDate: '2020-03-23T10:44:06Z'
                      note: Codat Note field
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 11
                    _links:
                      current:
                        href: /companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/data/billCreditNotes?page=1&pageSize=2
                      self:
                        href: /companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/data/billCreditNotes
                      next:
                        href: /companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/data/billCreditNotes?page=2&pageSize=2
                QuickBooks Online Sandbox:
                  value:
                    results:
                    - id: '424'
                      billCreditNoteNumber: '424'
                      supplierRef:
                        id: '24'
                        supplierName: Brijesh Jain
                      withholdingTax: []
                      totalAmount: 69
                      totalDiscount: 0
                      subTotal: 69
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 69
                      status: Submitted
                      issueDate: '2019-06-20T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Refund of iZettle Fees
                        unitAmount: 69
                        quantity: 1
                        subTotal: 69
                        taxAmount: 0
                        totalAmount: 69
                        accountRef:
                          id: '30'
                          name: Janitorial Expense
                        taxRateRef:
                          id: 20_Bills
                          name: 5.0% RC CIS Bills
                          effectiveTaxRate: 0
                        trackingCategoryRefs: []
                        tracking:
                          categoryRefs: []
                          isBilledTo: Unknown
                          isRebilledTo: NotApplicable
                      paymentAllocations: []
                      modifiedDate: '2023-04-26T09:35:58Z'
                      sourceModifiedDate: '2019-06-20T15:48:50Z'
                      metadata:
                        isDeleted: false
                    - id: '455'
                      billCreditNoteNumber: '455'
                      supplierRef:
                        id: '53'
                        supplierName: Bank of AnyCity
                      withholdingTax: []
                      totalAmount: 10
                      totalDiscount: 0
                      subTotal: 10
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2019-06-26T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: a
                        unitAmount: 10
                        quantity: 1
                        subTotal: 10
                        taxAmount: 0
                        totalAmount: 10
                        accountRef:
                          id: '11'
                          name: Ask My Accountant
                        taxRateRef:
                          id: 20_Bills
                          name: 5.0% RC CIS Bills
                          effectiveTaxRate: 0
                        trackingCategoryRefs: []
                        tracking:
                          categoryRefs: []
                          isBilledTo: Unknown
                          isRebilledTo: NotApplicable
                      paymentAllocations:
                      - payment:
                          id: '530'
                          reference: '4'
                          accountRef:
                            id: '100'
                            name: Savings2
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2019-07-16T00:00:00'
                          totalAmount: 170
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: 10
                      modifiedDate: '2023-04-26T09:35:58Z'
                      sourceModifiedDate: '2019-07-16T09:49:14Z'
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 26
                    _links:
                      current:
                        href: /companies/5a7f3597-36e1-4216-86fe-289ad36088a6/data/billCreditNotes?page=1&pageSize=2
                      self:
                        href: /companies/5a7f3597-36e1-4216-86fe-289ad36088a6/data/billCreditNotes
                      next:
                        href: /companies/5a7f3597-36e1-4216-86fe-289ad36088a6/data/billCreditNotes?page=2&pageSize=2
                Sage 200cloud:
                  value:
                    results:
                    - id: '45391'
                      billCreditNoteNumber: Return 1
                      supplierRef:
                        id: CON001
                        supplierName: Concept Stationery Supplies
                      withholdingTax: []
                      totalAmount: 120
                      totalDiscount: 2.5
                      subTotal: 100
                      totalTaxAmount: 20
                      discountPercentage: 2.5
                      remainingCredit: 109.5
                      status: Submitted
                      issueDate: '2020-07-22T00:00:00Z'
                      allocatedOnDate: '2020-01-20T00:00:00Z'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Tax Summary - Tax Rate 1
                        unitAmount: 0
                        quantity: 0
                        discountAmount: 0.5
                        subTotal: 0
                        taxAmount: 20
                        totalAmount: 20
                        taxRateRef:
                          id: '1729'
                          name: Standard rate
                          effectiveTaxRate: 20
                        trackingCategoryRefs: []
                      - description: Goods Summary
                        unitAmount: 0
                        quantity: 0
                        discountAmount: 2.5
                        subTotal: 100
                        taxAmount: 0
                        totalAmount: 100
                        trackingCategoryRefs: []
                      paymentAllocations:
                      - payment:
                          id: '45391'
                          note: ret1
                          reference: Return 1
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2020-01-20T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          totalAmount: -10.5
                      modifiedDate: '2022-10-14T09:35:52Z'
                      sourceModifiedDate: '2020-02-28T14:23:46Z'
                      note: ret1
                    - id: '45421'
                      billCreditNoteNumber: Return 2
                      supplierRef:
                        id: QUA001
                        supplierName: Quality Motors
                      withholdingTax: []
                      totalAmount: 60
                      totalDiscount: 1.25
                      subTotal: 50
                      totalTaxAmount: 10
                      discountPercentage: 2.5
                      remainingCredit: 60
                      status: Submitted
                      issueDate: '2020-07-22T00:00:00Z'
                      allocatedOnDate: '2020-02-03T00:00:00Z'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Tax Summary - Tax Rate 1
                        unitAmount: 0
                        quantity: 0
                        discountAmount: 0.25
                        subTotal: 0
                        taxAmount: 10
                        totalAmount: 10
                        taxRateRef:
                          id: '1729'
                          name: Standard rate
                          effectiveTaxRate: 20
                        trackingCategoryRefs: []
                      - description: Goods Summary
                        unitAmount: 0
                        quantity: 0
                        discountAmount: 1.25
                        subTotal: 50
                        taxAmount: 0
                        totalAmount: 50
                        trackingCategoryRefs: []
                      paymentAllocations: []
                      modifiedDate: '2022-10-14T09:35:52Z'
                      sourceModifiedDate: '2020-02-28T14:23:46Z'
                      note: ret2
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 21
                    _links:
                      current:
                        href: /companies/93c21e2d-049c-4d24-b41b-57e61c30b69e/data/billCreditNotes?page=1&pageSize=2
                      self:
                        href: /companies/93c21e2d-049c-4d24-b41b-57e61c30b69e/data/billCreditNotes
                      next:
                        href: /companies/93c21e2d-049c-4d24-b41b-57e61c30b69e/data/billCreditNotes?page=2&pageSize=2
                Sage 50 (UK):
                  value:
                    results:
                    - id: '20'
                      billCreditNoteNumber: O/BAL
                      supplierRef:
                        id: NEW001
                        supplierName: Newtown Builders Ltd
                      withholdingTax: []
                      totalAmount: 0.01
                      totalDiscount: 0
                      subTotal: 0.01
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 0.01
                      status: Submitted
                      issueDate: '2021-12-31T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Opening Balance
                        unitAmount: 0.01
                        quantity: 1
                        subTotal: 0.01
                        taxAmount: 0
                        totalAmount: 0.01
                        accountRef:
                          id: '9998'
                          name: Suspense Account
                        taxRateRef:
                          id: '9'
                          name: Non-Vatable Tax Code
                          effectiveTaxRate: 0
                        trackingCategoryRefs:
                        - id: department_0
                          name: Default
                        tracking:
                          categoryRefs:
                          - id: department_0
                            name: Default
                          isBilledTo: Unknown
                          isRebilledTo: Unknown
                      paymentAllocations: []
                      modifiedDate: '2023-03-30T14:42:37Z'
                      sourceModifiedDate: '2022-11-25T09:43:54'
                      metadata:
                        isDeleted: false
                      note: Opening Balance
                    - id: '323'
                      billCreditNoteNumber: Return
                      supplierRef:
                        id: UNI001
                        supplierName: Unique Systems
                      withholdingTax: []
                      totalAmount: 103.4
                      totalDiscount: 0
                      subTotal: 88
                      totalTaxAmount: 15.4
                      discountPercentage: 0
                      remainingCredit: 103.4
                      status: Submitted
                      issueDate: '2022-02-28T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Returned Goods, damaged
                        unitAmount: 103.4
                        quantity: 1
                        subTotal: 88
                        taxAmount: 15.4
                        totalAmount: 103.4
                        accountRef:
                          id: '5000'
                          name: Materials Purchased
                        taxRateRef:
                          id: '1'
                          name: Standard rate
                          effectiveTaxRate: 20
                        trackingCategoryRefs:
                        - id: department_0
                          name: Default
                        tracking:
                          categoryRefs:
                          - id: department_0
                            name: Default
                          isBilledTo: Unknown
                          isRebilledTo: Unknown
                      paymentAllocations: []
                      modifiedDate: '2023-03-30T14:42:37Z'
                      sourceModifiedDate: '2022-11-25T09:43:54'
                      metadata:
                        isDeleted: false
                      note: Returned Goods, damaged
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 12
                    _links:
                      current:
                        href: /companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/data/billCreditNotes?page=1&pageSize=2
                      self:
                        href: /companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/data/billCreditNotes
                      next:
                        href: /companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/data/billCreditNotes?page=2&pageSize=2
                Sage Business Cloud Accounting:
                  value:
                    results:
                    - id: b6c6fce9866849b0b44cac99ab7dc579
                      billCreditNoteNumber: Supplier credit note
                      supplierRef:
                        id: ec716559789111e8aaa5027d54329956
                        supplierName: Bagels Limited
                      withholdingTax: []
                      totalAmount: 10
                      totalDiscount: 0
                      subTotal: 10
                      totalTaxAmount: 0
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2018-11-23T00:00:00'
                      currency: USD
                      currencyRate: 0.776970973
                      lineItems:
                      - description: Consulting services
                        unitAmount: 10
                        quantity: 1
                        discountAmount: 0
                        subTotal: 10
                        taxAmount: 0
                        totalAmount: 10
                        accountRef:
                          id: 9a995955267a11e797950a57719b2edb
                          name: Cost of sales - goods
                        discountPercentage: 0
                        taxRateRef:
                          id: GB_ZERO
                          name: Zero Rated 0.00%
                          effectiveTaxRate: 0
                        itemRef:
                          id: a87b922b33de11e797950a57719b2edb
                          name: Consulting services
                        trackingCategoryRefs: []
                      paymentAllocations:
                      - payment:
                          id: bf6496aaf0294883b27c423ce8266113
                          note: Supplier refund using credit/debit card
                          accountRef:
                            id: 9a25937b267a11e797950a57719b2edb
                            name: Current
                          currency: USD
                          currencyRate: 0.771449236
                          paidOnDate: '2019-11-19T00:00:00'
                          totalAmount: -10
                        allocation:
                          currency: USD
                          currencyRate: 1
                          totalAmount: 10
                      modifiedDate: '2022-10-24T14:53:32Z'
                      sourceModifiedDate: '2019-11-19T14:17:32Z'
                    - id: 23d866f6367d4f11956a36a71e47bc37
                      supplierRef:
                        id: ca430e0d156011e8b45c025132dab352
                        supplierName: Test Supplier
                      withholdingTax: []
                      totalAmount: 60
                      totalDiscount: 0
                      subTotal: 50
                      totalTaxAmount: 10
                      discountPercentage: 0
                      remainingCredit: 60
                      status: Submitted
                      issueDate: '2019-01-29T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Consulting services
                        unitAmount: 10
                        quantity: 5
                        discountAmount: 0
                        subTotal: 50
                        taxAmount: 10
                        totalAmount: 60
                        accountRef:
                          id: 9a995955267a11e797950a57719b2edb
                          name: Cost of sales - goods
                        discountPercentage: 0
                        taxRateRef:
                          id: GB_STANDARD
                          name: Standard 20.00%
                          effectiveTaxRate: 20
                        itemRef:
                          id: a87b922b33de11e797950a57719b2edb
                          name: Consulting services
                        trackingCategoryRefs: []
                      paymentAllocations: []
                      modifiedDate: '2022-10-24T14:53:32Z'
                      sourceModifiedDate: '2020-07-16T15:00:36Z'
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 747
                    _links:
                      current:
                        href: /companies/390083e2-351b-407c-a3be-55081c36c182/data/billCreditNotes?page=1&pageSize=2
                      self:
                        href: /companies/390083e2-351b-407c-a3be-55081c36c182/data/billCreditNotes
                      next:
                        href: /companies/390083e2-351b-407c-a3be-55081c36c182/data/billCreditNotes?page=2&pageSize=2
                Sage Intacct:
                  value:
                    results:
                    - id: '3359'
                      billCreditNoteNumber: APADJ0001
                      supplierRef:
                        id: '3'
                        supplierName: ADP
                      withholdingTax: []
                      totalAmount: 12
                      totalDiscount: 0
                      subTotal: 10
                      totalTaxAmount: 2
                      discountPercentage: 0
                      remainingCredit: 12
                      status: Submitted
                      issueDate: '2021-09-20T00:00:00'
                      currency: USD
                      currencyRate: 0.7283
                      lineItems:
                      - description: No Description Provided
                        unitAmount: 5
                        quantity: 1
                        subTotal: 5
                        taxAmount: 1
                        totalAmount: 6
                        accountRef:
                          id: '197'
                          name: Software and Licenses
                        taxRateRef:
                          id: '47'
                          name: EC Purchase Goods Standard Rate Input
                          effectiveTaxRate: 20
                        trackingCategoryRefs:
                        - id: LOCATION-8
                          name: United Kingdom
                        - id: SUPPLIER-3
                          name: ADP
                        tracking:
                          categoryRefs:
                          - id: LOCATION-8
                            name: United Kingdom
                          - id: SUPPLIER-3
                            name: ADP
                          isBilledTo: Unknown
                          isRebilledTo: Unknown
                      - description: No Description Provided
                        unitAmount: 5
                        quantity: 1
                        subTotal: 5
                        taxAmount: 1
                        totalAmount: 6
                        accountRef:
                          id: '197'
                          name: Software and Licenses
                        taxRateRef:
                          id: '47'
                          name: EC Purchase Goods Standard Rate Input
                          effectiveTaxRate: 20
                        trackingCategoryRefs:
                        - id: LOCATION-8
                          name: United Kingdom
                        - id: SUPPLIER-3
                          name: ADP
                        tracking:
                          categoryRefs:
                          - id: LOCATION-8
                            name: United Kingdom
                          - id: SUPPLIER-3
                            name: ADP
                          isBilledTo: Unknown
                          isRebilledTo: Unknown
                      paymentAllocations: []
                      modifiedDate: '2022-10-28T11:10:22Z'
                      sourceModifiedDate: '2021-09-20T13:50:16'
                      note: ''
                    - id: '3399'
                      billCreditNoteNumber: APADJ0002
                      supplierRef:
                        id: '3'
                        supplierName: ADP
                      withholdingTax: []
                      totalAmount: 360
                      totalDiscount: 0
                      subTotal: 300
                      totalTaxAmount: 60
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2021-09-24T00:00:00'
                      allocatedOnDate: '2021-09-29T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: No Description Provided
                        unitAmount: 300
                        quantity: 1
                        subTotal: 300
                        taxAmount: 60
                        totalAmount: 360
                        accountRef:
                          id: '197'
                          name: Software and Licenses
                        taxRateRef:
                          id: '81'
                          name: UK Purchase Goods Standard Rate
                          effectiveTaxRate: 20
                        trackingCategoryRefs:
                        - id: LOCATION-8
                          name: United Kingdom
                        - id: SUPPLIER-3
                          name: ADP
                        tracking:
                          categoryRefs:
                          - id: LOCATION-8
                            name: United Kingdom
                          - id: SUPPLIER-3
                            name: ADP
                          isBilledTo: Unknown
                          isRebilledTo: Unknown
                      paymentAllocations: []
                      modifiedDate: '2022-10-28T11:10:22Z'
                      sourceModifiedDate: '2021-09-29T13:34:47'
                      note: ''
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 82
                    _links:
                      current:
                        href: /companies/71ca2b28-8e86-41e7-8c55-f681042b11a0/data/billCreditNotes?page=1&pageSize=2
                      self:
                        href: /companies/71ca2b28-8e86-41e7-8c55-f681042b11a0/data/billCreditNotes
                      next:
                        href: /companies/71ca2b28-8e86-41e7-8c55-f681042b11a0/data/billCreditNotes?page=2&pageSize=2
                Xero:
                  value:
                    results:
                    - id: ee8bec08-2be8-40ba-acd0-d53d5df11235
                      billCreditNoteNumber: RPT429-1
                      supplierRef:
                        id: 3a0d40a2-2698-4cf5-b7b2-30133c632ab6
                        supplierName: Swanston Security
                      withholdingTax: []
                      totalAmount: 25.44
                      totalDiscount: 0
                      subTotal: 25.44
                      totalTaxAmount: 4.24
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2022-12-12T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Refund as agreed due to window break when guard absent
                        unitAmount: 21.2
                        quantity: 1
                        discountAmount: 0
                        subTotal: 21.2
                        taxAmount: 4.24
                        totalAmount: 25.44
                        accountRef:
                          id: f96c9458-d724-47bf-8f74-a9d5726465ce
                          name: General Expenses
                        discountPercentage: 0
                        taxRateRef:
                          id: INPUT2
                          name: 20% (VAT on Expenses)
                          effectiveTaxRate: 20
                        trackingCategoryRefs: []
                      paymentAllocations:
                      - payment:
                          id: ee8bec08-2be8-40ba-acd0-d53d5df11235
                          reference: ''
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2022-12-12T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          allocatedOnDate: '2022-12-12T00:00:00'
                          totalAmount: 25.44
                      modifiedDate: '2023-03-15T20:36:09Z'
                      sourceModifiedDate: '2011-04-07T07:26:30'
                      metadata:
                        isDeleted: false
                    - id: 7d1f4e11-e909-43b0-901c-2c824dff1e82
                      billCreditNoteNumber: 720-2
                      supplierRef:
                        id: cf8fa320-a527-496c-823e-22dd069d29e6
                        supplierName: PC Complete
                      withholdingTax: []
                      totalAmount: 270.36
                      totalDiscount: 0
                      subTotal: 270.36
                      totalTaxAmount: 45.06
                      discountPercentage: 0
                      remainingCredit: 0
                      status: Paid
                      issueDate: '2022-12-16T00:00:00'
                      currency: GBP
                      currencyRate: 1
                      lineItems:
                      - description: Unable to supply DVD writer for laptop
                        unitAmount: 225.3
                        quantity: 1
                        discountAmount: 0
                        subTotal: 225.3
                        taxAmount: 45.06
                        totalAmount: 270.36
                        accountRef:
                          id: f96c9458-d724-47bf-8f74-a9d5726465ce
                          name: General Expenses
                        discountPercentage: 0
                        taxRateRef:
                          id: INPUT2
                          name: 20% (VAT on Expenses)
                          effectiveTaxRate: 20
                        trackingCategoryRefs: []
                      paymentAllocations:
                      - payment:
                          id: 7d1f4e11-e909-43b0-901c-2c824dff1e82
                          reference: ''
                          currency: GBP
                          currencyRate: 1
                          paidOnDate: '2022-12-16T00:00:00'
                          totalAmount: 0
                        allocation:
                          currency: GBP
                          currencyRate: 1
                          allocatedOnDate: '2022-12-16T00:00:00'
                          totalAmount: 270.36
                      modifiedDate: '2023-03-15T20:36:09Z'
                      sourceModifiedDate: '2011-04-06T21:00:33'
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 2
                    _links:
                      current:
                        href: /companies/5ced9667-a310-443a-a711-958d36377141/data/billCreditNotes?page=1&pageSize=2
                      self:
                        href: /companies/5ced9667-a310-443a-a711-958d36377141/data/billCreditNotes
        '400':
          $ref: '#/components/responses/Malformed-Query'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/Payment-Required'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
      description: "The *List bill credit notes* endpoint returns a list of [bill credit notes](https://docs.codat.io/lending-api#/schemas/BillCreditNote) for a given company's connection.\n\n[Bill credit notes](https://docs.codat.io/lending-api#/schemas/BillCreditNote) are issued by a supplier for the purpose of recording credit.\n\nBefore using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/lending-api#/operations/refresh-company-data).\n    "
      operationId: list-accounting-bill-credit-notes
      x-speakeasy-group: accounts-payable.bill-credit-notes
  /companies/{companyId}/data/billCreditNotes/{billCreditNoteId}:
    parameters:
    - $ref: '#/components/parameters/companyId'
    - name: billCreditNoteId
      in: path
      required: true
      schema:
        type: string
        examples:
        - 13d946f0-c5d5-42bc-b092-97ece17923ab
        - 9wg4lep4ush5cxs79pl8sozmsndbaukll3ind4g7buqbm1h2
        - 7110701885
        - EILBDVJVNUAGVKRQ
      description: Unique identifier for a bill credit note.
    get:
      tags:
      - Accounts payable
      summary: Get bill credit note
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBillCreditNote'
              examples:
                Dynamics 365 Business Central:
                  value:
                    id: 0deaed0a-9f51-eb11-89f9-00224800af18
                    billCreditNoteNumber: '109001'
                    supplierRef:
                      id: be1217b3-89d1-ea11-bbaa-000d3a2b9185
                      supplierName: Fabrikam, Inc.
                    withholdingTax: []
                    totalAmount: 8
                    totalDiscount: 0
                    subTotal: 8
                    totalTaxAmount: 0
                    discountPercentage: 0
                    remainingCredit: 8
                    status: Submitted
                    issueDate: '2020-12-21T00:00:00'
                    currency: GBP
                    lineItems:
                    - description: Abdi Item No VAT
                      unitAmount: 8
                      quantity: 1
                      discountAmount: 0
                      subTotal: 8
                      taxAmount: 0
                      totalAmount: 8
                      accountRef:
                        id: 6a1217b3-89d1-ea11-bbaa-000d3a2b9185
                        name: Inventory
                      discountPercentage: 0
                      taxRateRef:
                        id: 6bbc0fb9-89d1-ea11-bbaa-000d3a2b9185
                        name: Setup for EXPORT / ZERO
                        effectiveTaxRate: 0
                      itemRef:
                        id: ITEM-dbc37b18-4209-eb11-bbf6-0022481ad2e8-EXPORT-EXPORT
                        name: 'Abdi Item No VAT / General Business Posting Group: ''EXPORT'' / VAT Business Posting Group: ''EXPORT'''
                      trackingCategoryRefs: []
                    paymentAllocations: []
                    modifiedDate: '2023-03-27T14:21:26Z'
                    metadata:
                      isDeleted: false
                    note: BCN001
                Exact (Netherlands):
                  value:
                    id: 443bd109-e1ed-4de2-b1ab-3b13e980d288
                    billCreditNoteNumber: '19600007'
                    supplierRef:
                      id: 5e6f49b9-6489-4b82-83e7-291d308919bb
                      supplierName: Mickey Mouse
                    withholdingTax: []
                    totalAmount: 12.1
                    totalDiscount: 0
                    subTotal: 10
                    totalTaxAmount: 2.1
                    discountPercentage: 0
                    remainingCredit: 12.1
                    status: Submitted
                    issueDate: '2019-12-16T00:00:00Z'
                    currency: EUR
                    currencyRate: 1
                    lineItems:
                    - description: Cheesecake
                      unitAmount: 10
                      quantity: 1
                      discountAmount: 0
                      subTotal: 10
                      taxAmount: 2.1
                      totalAmount: 12.1
                      accountRef:
                        id: 5f139759-b554-4314-862e-b9d88e5b2e1b
                        name: Af te dragen loonheffing
                      taxRateRef:
                        id: 84277189-ad16-456c-b501-ca31f0a483cc
                        name: BTW prive gebruik
                        effectiveTaxRate: 21
                      trackingCategoryRefs: []
                    paymentAllocations: []
                    modifiedDate: '2022-10-26T13:32:18Z'
                    sourceModifiedDate: '2020-01-03T15:06:19Z'
                Exact (UK):
                  value:
                    id: f9083d38-40c7-4b5f-a693-f4670e3d85bc
                    billCreditNoteNumber: '19600008'
                    supplierRef:
                      id: 1c703cce-967c-4476-a86a-32e35341a8f5
                      supplierName: Customer Bill Supplier
                    withholdingTax: []
                    totalAmount: 99999
                    totalDiscount: 0
                    subTotal: 99999
                    totalTaxAmount: 0
                    discountPercentage: 0
                    remainingCredit: 99999
                    status: Submitted
                    issueDate: '2019-10-30T00:00:00Z'
                    currency: GBP
                    currencyRate: 1
                    lineItems:
                    - description: Oil Change
                      unitAmount: -150
                      quantity: 1000.5
                      discountAmount: 0
                      subTotal: -150075
                      totalAmount: -150075
                      accountRef:
                        id: 885ff551-664d-451b-995b-cb114c9877d0
                        name: Unallocated Cash
                      itemRef:
                        id: '3001'
                      trackingCategoryRefs: []
                    - description: description
                      unitAmount: 250074
                      quantity: 1
                      discountAmount: 0
                      subTotal: 250074
                      totalAmount: 250074
                      accountRef:
                        id: 885ff551-664d-451b-995b-cb114c9877d0
                        name: Unallocated Cash
                      trackingCategoryRefs: []
                    paymentAllocations: []
                    modifiedDate: '2022-10-26T13:33:23Z'
                    sourceModifiedDate: '2019-10-30T13:12:56Z'
                FreeAgent:
                  value:
                    id: '10665024'
                    billCreditNoteNumber: Bill Credit
                    supplierRef:
                      id: '6161941'
                      supplierName: A & J Fabtech Ltd
                    withholdingTax: []
                    totalAmount: 1500
                    totalDiscount: 0
                    subTotal: 1250
                    totalTaxAmount: 250
                    discountPercentage: 0
                    remainingCredit: 1500
                    status: Submitted
                    issueDate: '2018-08-22T00:00:00'
                    currency: GBP
                    lineItems:
                    - description: A & J Fabtech Ltd - Bill Credit Note Bill Credit
                      unitAmount: 1250
                      quantity: 1
                      taxAmount: 250
                      totalAmount: 1500
                      accountRef:
                        id: '285'
                        name: Accommodation and Meals
                      trackingCategoryRefs: []
                    paymentAllocations: []
                    modifiedDate: '2023-04-25T14:19:10Z'
                    sourceModifiedDate: '2018-08-22T13:22:08Z'
                    metadata:
                      isDeleted: false
                KashFlow:
                  value:
                    id: '91339087'
                    billCreditNoteNumber: '5'
                    supplierRef:
                      id: '6202387'
                      supplierName: Dell
                    withholdingTax: []
                    totalAmount: 10
                    totalDiscount: 0
                    subTotal: 0
                    totalTaxAmount: 0
                    discountPercentage: 0
                    remainingCredit: 0
                    status: Paid
                    issueDate: '2020-02-25T00:00:00'
                    currency: GBP
                    currencyRate: 1
                    lineItems:
                    - description: Oil refund
                      unitAmount: 10
                      quantity: 1
                      subTotal: 10
                      taxAmount: 0
                      totalAmount: 10
                      accountRef:
                        id: '21481832'
                        name: Oil
                      itemRef:
                        id: '114817740'
                      trackingCategoryRefs: []
                    paymentAllocations: []
                    modifiedDate: '2022-09-30T10:29:16Z'
                Oracle NetSuite:
                  value:
                    id: '1781'
                    billCreditNoteNumber: VENDCRED1
                    supplierRef:
                      id: '749'
                      supplierName: Jo's Cheese
                    withholdingTax: []
                    totalAmount: 174.6
                    totalDiscount: 0
                    subTotal: 145.5
                    totalTaxAmount: 29.1
                    discountPercentage: 0
                    remainingCredit: 174.6
                    status: Submitted
                    issueDate: '2021-11-02T00:00:00'
                    currency: GBP
                    currencyRate: 1
                    lineItems:
                    - description: billcredit_test
                      unitAmount: 145.5
                      quantity: 1
                      unitOfMeasurement: pack
                      subTotal: 145.5
                      totalAmount: 145.5
                      accountRef:
                        id: '713'
                        name: Inventory Asset
                      createdFromLineRef:
                        id: '1432'
                        dataType: bills
                        lineNumber: '1'
                      trackingCategoryRefs:
                      - id: department-1
                      - id: location-1
                      tracking:
                        categoryRefs:
                        - id: department-1
                        - id: location-1
                        isBilledTo: Unknown
                        isRebilledTo: Unknown
                    paymentAllocations: []
                    createdFromRefs:
                    - id: '1432'
                      dataType: bills
                    modifiedDate: '2022-09-20T08:16:22Z'
                    sourceModifiedDate: '2021-11-02T19:58:58'
                    note: Codat1
                QuickBooks Desktop:
                  value:
                    id: 6D2C-1197698059
                    billCreditNoteNumber: Return
                    supplierRef:
                      id: E0000-933272656
                      supplierName: Timberloft Lumber
                    withholdingTax: []
                    totalAmount: 475
                    totalDiscount: 0
                    subTotal: 475
                    totalTaxAmount: 0
                    discountPercentage: 0
                    remainingCredit: 475
                    status: Submitted
                    issueDate: '2024-10-30T00:00:00'
                    currency: GBP
                    currencyRate: 1
                    lineItems:
                    - description: Lumber:Rough - Rough lumber
                      unitAmount: 475
                      quantity: 0
                      discountAmount: 0
                      subTotal: 475
                      taxAmount: 0
                      totalAmount: 475
                      discountPercentage: 0
                      itemRef:
                        id: 1C0000-933272656
                        name: Lumber:Rough
                      trackingCategoryRefs:
                      - id: 10000-933272658
                        name: New Construction
                      tracking:
                        categoryRefs:
                        - id: 10000-933272658
                          name: New Construction
                        isBilledTo: Unknown
                        isRebilledTo: Unknown
                    paymentAllocations:
                    - payment:
                        id: 6D2C-1197698059
                        reference: Return
                        currency: GBP
                        currencyRate: 1
                        paidOnDate: '2024-10-30T00:00:00'
                        totalAmount: 0
                      allocation:
                        currency: GBP
                        currencyRate: 1
                        totalAmount: 475
                    modifiedDate: '2023-04-26T09:12:30Z'
                    sourceModifiedDate: '2023-12-16T05:06:19'
                    metadata:
                      isDeleted: false
                QuickBooks Online:
                  value:
                    id: '19'
                    billCreditNoteNumber: '19'
                    supplierRef:
                      id: '4'
                      supplierName: BILLy elliot
                    withholdingTax: []
                    totalAmount: 5
                    totalDiscount: 0
                    subTotal: 5
                    totalTaxAmount: 0
                    discountPercentage: 0
                    remainingCredit: 0
                    status: Paid
                    issueDate: '2019-05-13T00:00:00'
                    currency: GBP
                    currencyRate: 1
                    lineItems:
                    - description: ''
                      unitAmount: 5
                      quantity: 1
                      subTotal: 5
                      taxAmount: 0
                      totalAmount: 5
                      accountRef:
                        id: '16'
                        name: Advertising
                      taxRateRef:
                        id: NON
                        name: NON
                        effectiveTaxRate: 0
                      trackingCategoryRefs: []
                      tracking:
                        categoryRefs: []
                        isBilledTo: Unknown
                        isRebilledTo: NotApplicable
                    paymentAllocations:
                    - payment:
                        id: '20'
                        currency: GBP
                        currencyRate: 1
                        paidOnDate: '2019-05-13T00:00:00'
                        totalAmount: 0
                      allocation:
                        currency: GBP
                        currencyRate: 1
                        totalAmount: 5
                    modifiedDate: '2023-01-18T11:02:37Z'
                    sourceModifiedDate: '2019-05-13T13:14:06Z'
                QuickBooks Online Sandbox:
                  value:
                    id: '424'
                    billCreditNoteNumber: '424'
                    supplierRef:
                      id: '24'
                      supplierName: Brijesh Jain
                    withholdingTax: []
                    totalAmount: 69
                    totalDiscount: 0
                    subTotal: 69
                    totalTaxAmount: 0
                    discountPercentage: 0
                    remainingCredit: 69
                    status: Submitted
                    issueDate: '2019-06-20T00:00:00'
                    currency: GBP
                    currencyRate: 1
                    lineItems:
                    - description: Refund of iZettle Fees
                      unitAmount: 69
                      quantity: 1
                      subTotal: 69
                      taxAmount: 0
                      totalAmount: 69
                      accountRef:
                        id: '30'
                        name: Janitorial Expense
                      taxRateRef:
                        id: 20_Bills
                        name: 5.0% RC CIS Bills
                        effectiveTaxRate: 0
                      trackingCategoryRefs: []
                      tracking:
                        categoryRefs: []
                        isBilledTo: Unknown
                        isRebilledTo: NotApplicable
                    paymentAllocations: []
                    modifiedDate: '2023-04-26T09:35:58Z'
                    sourceModifiedDate: '2019-06-20T15:48:50Z'
                    metadata:
                      isDeleted: false
                Sage 200cloud:
                  value:
                    id: '45391'
                    billCreditNoteNumber: Return 1
                    supplierRef:
                      id: CON001
                      supplierName: Concept Stationery Supplies
                    withholdingTax: []
                    totalAmount: 120
                    totalDiscount: 2.5
                    subTotal: 100
                    totalTaxAmount: 20
                    discountPercentage: 2.5
                    remainingCredit: 109.5
                    status: Submitted
                    issueDate: '2020-07-22T00:00:00Z'
                    allocatedOnDate: '2020-01-20T00:00:00Z'
                    currency: GBP
                    currencyRate: 1
                    lineItems:
                    - description: Tax Summary - Tax Rate 1
                      unitAmount: 0
                      quantity: 0
                      discountAmount: 0.5
                      subTotal: 0
                      taxAmount: 20
                      totalAmount: 20
                      taxRateRef:
                        id: '1729'
                        name: Standard rate
                        effectiveTaxRate: 20
                      trackingCategoryRefs: []
                    - description: Goods Summary
                      unitAmount: 0
                      quantity: 0
                      discountAmount: 2.5
                      subTotal: 100
                      taxAmount: 0
                      totalAmount: 100
                      trackingCategoryRefs: []
                    paymentAllocations:
                    - payment:
                        id: '45391'
                        note: ret1
                        reference: Return 1
                        currency: GBP
                        currencyRate: 1
                        paidOnDate: '2020-01-20T00:00:00'
                        totalAmount: 0
                      allocation:
                        currency: GBP
                        currencyRate: 1
                        totalAmount: -10.5
                    modifiedDate: '2022-10-14T09:35:52Z'
                    sourceModifiedDate: '2020-02-28T14:23:46Z'
                    note: ret1
                Sage 50 (UK):
                  value:
                    id: '20'
                    billCreditNoteNumber: O/BAL
                    supplierRef:
                      id: NEW001
                      supplierName: Newtown Builders Ltd
                    withholdingTax: []
                    totalAmount: 0.01
                    totalDiscount: 0
                    subTotal: 0.01
                    totalTaxAmount: 0
                    discountPercentage: 0
                    remainingCredit: 0.01
                    status: Submitted
                    issueDate: '2021-12-31T00:00:00'
                    currency: GBP
                    currencyRate: 1
                    lineItems:
                    - description: Opening Balance
                      unitAmount: 0.01
                      quantity: 1
                      subTotal: 0.01
                      taxAmount: 0
                      totalAmount: 0.01
                      accountRef:
                        id: '9998'
                        name: Suspense Account
                      taxRateRef:
                        id: '9'
                        name: Non-Vatable Tax Code
                        effectiveTaxRate: 0
                      trackingCategoryRefs:
                      - id: department_0
                        name: Default
                      tracking:
                        categoryRefs:
                        - id: department_0
                          name: Default
                        isBilledTo: Unknown
                        isRebilledTo: Unknown
                    paymentAllocations: []
                    modifiedDate: '2023-03-30T14:42:37Z'
                    sourceModifiedDate: '2022-11-25T09:43:54'
                    metadata:
                      isDeleted: false
                    note: Opening Balance
                Sage Business Cloud Accounting:
                  value:
                    id: b6c6fce9866849b0b44cac99ab7dc579
                    billCreditNoteNumber: Supplier credit note
                    supplierRef:
                      id: ec716559789111e8aaa5027d54329956
                      supplierName: Bagels Limited
                    withholdingTax: []
                    totalAmount: 10
                    totalDiscount: 0
                    subTotal: 10
                    totalTaxAmount: 0
                    discountPercentage: 0
                    remainingCredit: 0
                    status: Paid
                    issueDate: '2018-11-23T00:00:00'
                    currency: USD
                    currencyRate: 0.776970973
                    lineItems:
                    - description: Consulting services
                      unitAmount: 10
                      quantity: 1
                      discountAmount: 0
                      subTotal: 10
                      taxAmount: 0
                      totalAmount: 10
                      accountRef:
                        id: 9a995955267a11e797950a57719b2edb
                        name: Cost of sales - goods
                      discountPercentage: 0
                      taxRateRef:
                        id: GB_ZERO
                        name: Zero Rated 0.00%
                        effectiveTaxRate: 0
                      itemRef:
                        id: a87b922b33de11e797950a57719b2edb
                        name: Consulting services
                      trackingCategoryRefs: []
                    paymentAllocations:
                    - payment:
                        id: bf6496aaf0294883b27c423ce8266113
                        note: Supplier refund using credit/debit card
                        accountRef:
                          id: 9a25937b267a11e797950a57719b2edb
                          name: Current
                        currency: USD
                        currencyRate: 0.771449236
                        paidOnDate: '2019-11-19T00:00:00'
                        totalAmount: -10
                      allocation:
                        currency: USD
                        currencyRate: 1
                        totalAmount: 10
                    modifiedDate: '2022-10-24T14:53:32Z'
                    sourceModifiedDate: '2019-11-19T14:17:32Z'
                Sage Intacct:
                  value:
                    id: '3359'
                    billCreditNoteNumber: APADJ0001
                    supplierRef:
                      id: '3'
                      supplierName: ADP
                    withholdingTax: []
                    totalAmount: 12
                    totalDiscount: 0
                    subTotal: 10
                    totalTaxAmount: 2
                    discountPercentage: 0
                    remainingCredit: 12
                    status: Submitted
                    issueDate: '2021-09-20T00:00:00'
                    currency: USD
                    currencyRate: 0.7283
                    lineItems:
                    - description: No Description Provided
                      unitAmount: 5
                      quantity: 1
                      subTotal: 5
                      taxAmount: 1
                      totalAmount: 6
                      accountRef:
                        id: '197'
                        name: Software and Licenses
                      taxRateRef:
                        id: '47'
                        name: EC Purchase Goods Standard Rate Input
                        effectiveTaxRate: 20
                      trackingCategoryRefs:
                      - id: LOCATION-8
                        name: United Kingdom
                      - id: SUPPLIER-3
                        name: ADP
                      tracking:
                        categoryRefs:
                        - id: LOCATION-8
                          name: United Kingdom
                        - id: SUPPLIER-3
                          name: ADP
                        isBilledTo: Unknown
                        isRebilledTo: Unknown
                    - description: No Description Provided
                      unitAmount: 5
                      quantity: 1
                      subTotal: 5
                      taxAmount: 1
                      totalAmount: 6
                      accountRef:
                        id: '197'
                        name: Software and Licenses
                      taxRateRef:
                        id: '47'
                        name: EC Purchase Goods Standard Rate Input
                        effectiveTaxRate: 20
                      trackingCategoryRefs:
                      - id: LOCATION-8
                        name: United Kingdom
                      - id: SUPPLIER-3
                        name: ADP
                      tracking:
                        categoryRefs:
                        - id: LOCATION-8
                          name: United Kingdom
                        - id: SUPPLIER-3
                          name: ADP
                        isBilledTo: Unknown
                        isRebilledTo: Unknown
                    paymentAllocations: []
                    modifiedDate: '2022-10-28T11:10:22Z'
                    sourceModifiedDate: '2021-09-20T13:50:16'
                    note: ''
                Xero:
                  value:
                    id: ee8bec08-2be8-40ba-acd0-d53d5df11235
                    billCreditNoteNumber: RPT429-1
                    supplierRef:
                      id: 3a0d40a2-2698-4cf5-b7b2-30133c632ab6
                      supplierName: Swanston Security
                    withholdingTax: []
                    totalAmount: 25.44
                    totalDiscount: 0
                    subTotal: 25.44
                    totalTaxAmount: 4.24
                    discountPercentage: 0
                    remainingCredit: 0
                    status: Paid
                    issueDate: '2022-12-12T00:00:00'
                    currency: GBP
                    currencyRate: 1
                    lineItems:
                    - description: Refund as agreed due to window break when guard absent
                      unitAmount: 21.2
                      quantity: 1
                      discountAmount: 0
                      subTotal: 21.2
                      taxAmount: 4.24
                      totalAmount: 25.44
                      accountRef:
                        id: f96c9458-d724-47bf-8f74-a9d5726465ce
                        name: General Expenses
                      discountPercentage: 0
                      taxRateRef:
                        id: INPUT2
                        name: 20% (VAT on Expenses)
                        effectiveTaxRate: 20
                      trackingCategoryRefs: []
                    paymentAllocations:
                    - payment:
                        id: ee8bec08-2be8-40ba-acd0-d53d5df11235
                        reference: ''
                        currency: GBP
                        currencyRate: 1
                        paidOnDate: '2022-12-12T00:00:00'
                        totalAmount: 0
                      allocation:
                        currency: GBP
                        currencyRate: 1
                        allocatedOnDate: '2022-12-12T00:00:00'
                        totalAmount: 25.44
                    modifiedDate: '2023-03-15T20:36:09Z'
                    sourceModifiedDate: '2011-04-07T07:26:30'
                    metadata:
                      isDeleted: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/Payment-Required'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
      description: 'The *Get bill credit note* endpoint returns a single bill credit note for a given billCreditNoteId.


        [Bill credit notes](https://docs.codat.io/lending-api#/schemas/BillCreditNote) are issued by a supplier for the purpose of recording credit.


        Before using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/lending-api#/operations/refresh-company-data).

        '
      operationId: get-accounting-bill-credit-note
      x-speakeasy-group: accounts-payable.bill-credit-notes
  /companies/{companyId}/data/billPayments:
    parameters:
    - $ref: '#/components/parameters/companyId'
    get:
      tags:
      - Accounts payable
      summary: List bill payments
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/orderBy'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBillPayments'
              examples:
                Clear Books:
                  value:
                    results:
                    - id: dcb18480-8b69-44d8-aa26-268b6a80d170
                      supplierRef:
                        id: 8GeHBdBZiZ
                        supplierName: DuBuque, Goyette and Franecki
                      accountRef:
                        id: dbcaf288-2b39-4b95-8ab3-42202ab15918
                        name: Business Current Account
                      totalAmount: 71351.42
                      currency: GBP
                      currencyRate: 1
                      date: '2022-05-06T00:00:00'
                      note: Bill Payment against bill 81539597-e681-40c9-a4dd-ec2fffcde572
                      paymentMethodRef:
                        id: cb4a5647-aa86-40ab-bb4f-158acaa99c12
[...]
