openapi: 3.1.0
info:
  title: Bank Feeds Account mapping Financial statements API
  version: 3.0.0
  contact:
    email: support@codat.io
    name: Codat
  description: 'Bank Feeds solution enables your SMB users to set up bank feeds from accounts in your application to supported accounting software.


    A bank feed is a connection between a source bank account in your application and a target bank account in a supported accounting software.


    [Explore solution](https://docs.codat.io/bank-feeds-api/overview) | [See OpenAPI spec](https://github.com/codatio/oas)


    ---

    <!-- Start Codat Tags Table -->

    ## Endpoints


    | Endpoints | Description |

    | :- |:- |

    | Companies | Create and manage your SMB users'' companies. |

    | Connections | Create new and manage existing data connections for a company. |

    | Source accounts | Provide and manage lists of source bank accounts. |

    | Account mapping | Extra functionality for building an account management UI. |

    | Company information | Get detailed information about a company from the underlying platform. |

    | Transactions | Create new bank account transactions for a company''s connections, and see previous operations. |

    <!-- End Codat Tags Table -->'
  termsOfService: https://www.codat.io/legals/
servers:
- description: Production
  url: https://api.codat.io
security:
- auth_header: []
tags:
- name: Financial statements
  description: Financial data and reports from a linked accounting software.
paths:
  /companies/{companyId}/reports/enhancedProfitAndLoss/accounts:
    parameters:
    - $ref: '#/components/parameters/companyId'
    get:
      summary: Get categorized profit and loss statement
      description: 'The *Get categorized profit and loss statement* endpoint returns a list of categorized accounts that appear on a company’s Profit and Loss statement. It also includes a balance as of the financial statement date.


        Codat suggests a category for each account automatically, but you can [change it](https://docs.codat.io/lending/features/financial-statements-overview#recategorizing-accounts) to a more suitable one.'
      tags:
      - Financial statements
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnhancedFinancialReport'
              example:
                reportInfo:
                  currency: GBP
                  reportName: EnhancedProfitAndLossAccounts
                  companyName: Biscuits
                  generatedDate: '2023-03-24T16:40:59.0847354Z'
                reportItems:
                - date: '2022-08-31T00:00:00'
                  balance: 830.93
                  accountId: 04f7111b-55d4-4efc-b329-1bd5c791933a
                  accountName: Repairs & Maintenance
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 12000
                  accountId: 7f6a0e92-65be-4333-9a0a-d981b03bedd1
                  accountName: Wages
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: CostOfSales
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 28937.71
                  accountId: 7403e960-5b72-42ff-abf4-c870ad8910bd
                  accountName: Purchases
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: CostOfSales
                      confidence: 99.99
                    - levelName: Inventory
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 582.4
                  accountId: e8a0a24e-2dab-46b1-bfe1-6e92551c04e8
                  accountName: Purchase Discounts
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: CostOfSales
                      confidence: 99.99
                    - levelName: Inventory
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 350.44
                  accountId: cbf82e0d-87a7-464d-b567-9274ea94a1c0
                  accountName: Charitable and Political Donations
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: NonOperating
                      confidence: 99.99
                    - levelName: Donations
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 535.81
                  accountId: 78785fd7-f197-4c34-aa17-6e76b9255d34
                  accountName: Interest Paid (operating)
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: NonOperating
                      confidence: 99.99
                    - levelName: Interest
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 633.05
                  accountId: fb3210ef-edeb-48af-bb49-b85d40c1e6bb
                  accountName: Corporation Tax
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: NonOperating
                      confidence: 99.99
                    - levelName: Taxes
                      confidence: 99.99
                    - levelName: CorporationTaxes
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 782.61
                  accountId: f3aa84fe-5c31-4107-b207-7e0419f636d7
                  accountName: Bank Fees
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: Operating
                      confidence: 99.99
                    - levelName: BankCharges
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 8000
                  accountId: 9cbe5fe4-ca60-4792-8bf1-de01fb7010aa
                  accountName: Rent
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: Operating
                      confidence: 99.99
                    - levelName: Leases
                      confidence: 99.99
                    - levelName: BuildingRentLease
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 1090.68
                  accountId: 138a8eb3-5c08-4e59-a3bc-892119694447
                  accountName: Motor Vehicle Expenses
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: Operating
                      confidence: 99.99
                    - levelName: Leases
                      confidence: 99.99
                    - levelName: EquipmentRentLease
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 26307.02
                  accountId: 868591ad-f9c2-4956-a5ec-c32c1d48c6f3
                  accountName: Advertising & Marketing
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: Operating
                      confidence: 99.99
                    - levelName: Marketing
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 1128.85
                  accountId: 1734ff00-2a17-45b4-8db6-2dc2e832c460
                  accountName: Postage, Freight & Courier
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: Operating
                      confidence: 99.99
                    - levelName: Marketing
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 40
                  accountId: 7d8d0322-f452-47de-a8e8-54b0130e6f38
                  accountName: Subscriptions
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: Operating
                      confidence: 99.99
                    - levelName: Marketing
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 5.72
                  accountId: 4378ddba-36b4-4b35-9970-bd972b20d137
                  accountName: Amortization
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: Operating
                      confidence: 99.99
                    - levelName: NonCash
                      confidence: 99.99
                    - levelName: Amortization
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 1539.18
                  accountId: 940c8a59-3348-4a0b-a1b1-781d9f29cc8b
                  accountName: Depreciation Expense
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: Operating
                      confidence: 99.99
                    - levelName: NonCash
                      confidence: 99.99
                    - levelName: Depreciation
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 1416.05
                  accountId: e7ac3baa-cfbe-40c1-a172-83d22e84435b
                  accountName: Entertainment-100% business
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: Operating
                      confidence: 99.99
                    - levelName: Personnel
                      confidence: 99.99
                    - levelName: EmployeeBenefits
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 1465.61
                  accountId: b5e801e8-8dbc-4390-ac99-3b0fff54a89f
                  accountName: General Expenses
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: Operating
                      confidence: 99.99
                    - levelName: SalesGeneralAdministrative
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 7347.35
                  accountId: 5360066d-1474-49f6-a7a5-c66d5f6032ba
                  accountName: Light, Power, Heating
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: Operating
                      confidence: 99.99
                    - levelName: SalesGeneralAdministrative
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 1027.25
                  accountId: 7aa7988a-ff61-4cb8-bef3-15395355d108
                  accountName: Printing & Stationery
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: Operating
                      confidence: 99.99
                    - levelName: SalesGeneralAdministrative
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 45
                  accountId: 043b6bcb-dfe6-4c97-9b4c-f9b300fe3f03
                  accountName: Telephone & Internet
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: Operating
                      confidence: 99.99
                    - levelName: SalesGeneralAdministrative
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 0
                  accountId: eef78ed1-dfed-447c-bdba-3a49fb2c044b
                  accountName: Audit & Accountancy fees
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: Operating
                      confidence: 99.99
                    - levelName: SalesGeneralAdministrative
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 130
                  accountId: c16f5c35-8283-47da-9d09-5fecb183b0cb
                  accountName: Cleaning
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: Operating
                      confidence: 99.99
                    - levelName: SalesGeneralAdministrative
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 860.02
                  accountId: df62060b-41cc-4bf2-9de7-c7e537b5663a
                  accountName: Travel - National
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Expense
                      confidence: 99.99
                    - levelName: Operating
                      confidence: 99.99
                    - levelName: Travel
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 850.22
                  accountId: 68794a8f-b22d-4520-b97b-025b7cb10f94
                  accountName: Other Revenue
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Income
                      confidence: 99.99
                    - levelName: Revenue
                      confidence: 99.99
                    - levelName: Online
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 138457.98
                  accountId: 72df89d2-512b-4455-af51-a6b563733842
                  accountName: Sales
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Income
                      confidence: 99.99
                    - levelName: Revenue
                      confidence: 99.99
                    - levelName: Wholesale
                      confidence: 99.99
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/Payment-Required'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
      operationId: get-categorized-profit-and-loss-statement
      x-speakeasy-name-override: get-categorized-accounts
      x-speakeasy-group: financial-statements.profit-and-loss
      parameters:
      - $ref: '#/components/parameters/reportDate'
      - $ref: '#/components/parameters/numberOfPeriods'
  /companies/{companyId}/reports/enhancedBalanceSheet/accounts:
    parameters:
    - $ref: '#/components/parameters/companyId'
    get:
      summary: Get categorized balance sheet statement
      operationId: get-categorized-balance-sheet-statement
      x-speakeasy-name-override: get-categorized-accounts
      x-speakeasy-group: financial-statements.balance-sheet
      description: 'The *Get categorized balance sheet statement* endpoint returns a list of categorized accounts that appear on a company’s Balance Sheet along with a balance per financial statement date.


        Codat suggests a category for each account automatically, but you can [change it](https://docs.codat.io/lending/features/financial-statements-overview#recategorizing-accounts) to a more suitable one.'
      tags:
      - Financial statements
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnhancedFinancialReport'
              example:
                reportInfo:
                  currency: GBP
                  reportName: EnhancedBalanceSheetAccounts
                  companyName: Biscuits
                  generatedDate: '2023-03-24T16:42:09.2973105Z'
                reportItems:
                - date: '2022-08-31T00:00:00'
                  balance: 12973.03
                  accountId: 22de1660-d745-4809-a363-16b134607e66
                  accountName: Prepayments
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Asset
                      confidence: 99.99
                    - levelName: Current
                      confidence: 99.99
                    - levelName: AccruedDeferredAssets
                      confidence: 99.99
                    - levelName: PrepaidExpenses
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 316065.92
                  accountId: dbcaf288-2b39-4b95-8ab3-42202ab15918
                  accountName: Business Current Account
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Asset
                      confidence: 99.99
                    - levelName: Current
                      confidence: 99.99
                    - levelName: Bank
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 65945.07
                  accountId: e5d7612c-1671-47b4-b733-5db48363fcd0
                  accountName: Inventory
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Asset
                      confidence: 99.99
                    - levelName: Current
                      confidence: 99.99
                    - levelName: Inventory
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 71937.95
                  accountId: 1b6266d1-1e44-46c5-8eb5-a8f98e03124e
                  accountName: Accounts Receivable
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Asset
                      confidence: 99.99
                    - levelName: Current
                      confidence: 99.99
                    - levelName: Receivables
                      confidence: 99.99
                    - levelName: AccountsReceivables
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 2180148.56
                  accountId: 724ca578-8b5d-4bdb-ad45-e3820eee9de9
                  accountName: Office Equipment
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Asset
                      confidence: 99.99
                    - levelName: NonCurrent
                      confidence: 99.99
                    - levelName: AccumulatedDepreciationDepletionAmortization
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 1804674.9
                  accountId: be3eb911-034b-42de-95db-0d58ac978b7f
                  accountName: Computer Equipment
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Asset
                      confidence: 99.99
                    - levelName: NonCurrent
                      confidence: 99.99
                    - levelName: AccumulatedDepreciationDepletionAmortization
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 3417424.16
                  accountId: 39225d6f-3722-4508-ac3f-a2f6ec96ad31
                  accountName: Retained Earnings
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Equity
                      confidence: 99.99
                    - levelName: RetainedEarnings
                      confidence: 99.99
                    - levelName: CapitalIncomeReserve
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 44252.52
                  accountId: 78828dd9-6008-4662-b43c-e9d87907fd2b
                  accountName: Current Year Earnings
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Equity
                      confidence: 99.99
                    - levelName: ShareCapital
                      confidence: 99.99
                    - levelName: CommonStock
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 75835.64
                  accountId: 53bf27a7-7497-4c61-9887-dfaad5c6d80a
                  accountName: Accounts Payable
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Liability
                      confidence: 99.99
                    - levelName: Current
                      confidence: 99.99
                    - levelName: AccountsPayable
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 208264.65
                  accountId: e2530acd-91c8-48f8-a35f-935dbd7432e2
                  accountName: Accruals
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Liability
                      confidence: 99.99
                    - levelName: Current
                      confidence: 99.99
                    - levelName: AccruedLiabilities
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 0
                  accountId: d19852a2-e292-4eb9-a909-9dadb95c0e76
                  accountName: Rounding
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Liability
                      confidence: 99.99
                    - levelName: Current
                      confidence: 99.99
                    - levelName: Bank
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 25184.57
                  accountId: 62060aae-e5a6-4db5-a3bb-6abec6d47959
                  accountName: Credit Card Control Account
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Liability
                      confidence: 99.99
                    - levelName: Current
                      confidence: 99.99
                    - levelName: Debt
                      confidence: 99.99
                    - levelName: CreditCards
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 9650.58
                  accountId: 9be6382f-6b33-402d-b448-0db1dbf67a98
                  accountName: Historical Adjustment
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Liability
                      confidence: 99.99
                    - levelName: Current
                      confidence: 99.99
                    - levelName: Debt
                      confidence: 99.99
                    - levelName: LoansPayable
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 2022.41
                  accountId: 8636effc-50fb-45ba-8b2b-18336fa29b6b
                  accountName: John Smith
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Liability
                      confidence: 99.99
                    - levelName: Current
                      confidence: 99.99
                    - levelName: Debt
                      confidence: 99.99
                    - levelName: LoansPayable
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 29034.75
                  accountId: 3a872b81-d1af-4d31-9bfa-a37280b8f68c
                  accountName: VAT
                  accountCategory:
                    status: Confirmed
                    levels:
                    - levelName: Liability
                      confidence: 99.99
                    - levelName: Current
                      confidence: 99.99
                    - levelName: Personnel
                      confidence: 99.99
                    - levelName: PensionPayable
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 1076.55
                  accountId: 3b58f7ff-fa16-453a-9931-f020816d76e7
                  accountName: Interest Payables
                  accountCategory:
                    status: Confirmed
                    levels:
                    - levelName: Liability
                      confidence: 99.99
                    - levelName: Current
                      confidence: 99.99
                    - levelName: Personnel
                      confidence: 99.99
                    - levelName: PensionPayable
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 0
                  accountId: 8852a857-aa9d-4706-839f-638e9d6b5a66
                  accountName: Unpaid Expense Claims
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Liability
                      confidence: 99.99
                    - levelName: NonCurrent
                      confidence: 99.99
                - date: '2022-08-31T00:00:00'
                  balance: 638999.6
                  accountId: 55008233-40e7-41ac-84af-2255fa028c2e
                  accountName: Loan
                  accountCategory:
                    status: Suggested
                    levels:
                    - levelName: Liability
                      confidence: 99.99
                    - levelName: NonCurrent
                      confidence: 99.99
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/Payment-Required'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
      parameters:
      - $ref: '#/components/parameters/reportDateRequired'
      - $ref: '#/components/parameters/numberOfPeriods'
  /companies/{companyId}/data/accounts:
    get:
      tags:
      - Financial statements
      summary: List accounts
      description: "\uFEFFThe *List accounts* endpoint returns a list of [accounts](https://docs.codat.io/lending-api#/schemas/Account) for a given company's connection.\n\n[Accounts](https://docs.codat.io/lending-api#/schemas/Account) are the categories a business uses to record accounting transactions.\n\nBefore using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/lending-api#/operations/refresh-company-data)."
      operationId: list-accounting-accounts
      x-speakeasy-group: financial-statements.accounts
      parameters:
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/orderBy'
      responses:
        '200':
          description: Success
          content:
            application/json:
              x-speakeasy-usage-example: true
              schema:
                $ref: '#/components/schemas/AccountingAccounts'
              examples:
                Clear Books:
                  value:
                    results:
                    - id: 1b6266d1-1e44-46c5-8eb5-a8f98e03124e
                      nominalCode: '610'
                      name: Accounts Receivable
                      description: Invoices the business has issued but has not yet collected payment on.
                      fullyQualifiedCategory: Asset.Current
                      fullyQualifiedName: Asset.Current.Accounts Receivable
                      currency: GBP
                      currentBalance: 0
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-04-26T12:38:15Z'
                      sourceModifiedDate: '2022-12-10T16:39:00'
                      validDatatypeLinks: []
                      metadata:
                        isDeleted: false
                    - id: 76d5f23b-9623-4e3b-89cd-da57228764d3
                      nominalCode: '611'
                      name: Accounts Receivable
                      description: A provision anticipating that a portion of accounts receivable will never be collected.
                      fullyQualifiedCategory: Asset.Current
                      fullyQualifiedName: Asset.Current.Accounts Receivable
                      currency: GBP
                      currentBalance: 0
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-04-26T12:38:15Z'
                      sourceModifiedDate: '2022-10-19T05:49:00'
                      validDatatypeLinks: []
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 98
                    _links:
                      current:
                        href: /companies/354a121b-855f-4d25-90ad-0905b498c1c0/data/accounts?page=1&pageSize=2
                      self:
                        href: /companies/354a121b-855f-4d25-90ad-0905b498c1c0/data/accounts
                      next:
                        href: /companies/354a121b-855f-4d25-90ad-0905b498c1c0/data/accounts?page=2&pageSize=2
                Dynamics 365 Business Central:
                  value:
                    results:
                    - id: 8eaed16d-c69f-ec11-80f1-0022481b4546
                      nominalCode: 45422026-68CA-4EF2-9
                      name: ''
                      fullyQualifiedCategory: ' .'
                      fullyQualifiedName: ..
                      currency: GBP
                      currentBalance: 0
                      type: Unknown
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-03-27T14:21:18Z'
                      sourceModifiedDate: '2022-03-09T16:31:54Z'
                      validDatatypeLinks:
                      - property: Id
                        links:
                        - DirectCost.LineItems.AccountRef.Id
                      metadata:
                        isDeleted: false
                    - id: c0861a65-c69f-ec11-80f1-0022481b4546
                      nominalCode: '10'
                      name: Account no cat Balance Sheet
                      fullyQualifiedCategory: ' .'
                      fullyQualifiedName: ..Account no cat Balance Sheet
                      currency: GBP
                      currentBalance: 27.34
                      type: Unknown
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-03-27T14:21:18Z'
                      sourceModifiedDate: '2022-09-13T14:45:01Z'
                      validDatatypeLinks:
                      - property: Id
                        links:
                        - DirectCost.LineItems.AccountRef.Id
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 122
                    _links:
                      current:
                        href: /companies/d6849caf-c146-41be-8335-b73346e3bd84/data/accounts?page=1&pageSize=2
                      self:
                        href: /companies/d6849caf-c146-41be-8335-b73346e3bd84/data/accounts
                      next:
                        href: /companies/d6849caf-c146-41be-8335-b73346e3bd84/data/accounts?page=2&pageSize=2
                Exact (Netherlands):
                  value:
                    results:
                    - id: ef2fde36-4416-4bc5-b239-315b2929348c
                      nominalCode: '1300'
                      name: Debiteuren
                      description: Debiteuren
                      fullyQualifiedCategory: Asset.Assets.AccountsReceivable
                      fullyQualifiedName: Asset.Assets.AccountsReceivable.Debiteuren.PaymentsEnabled
                      currency: EUR
                      currentBalance: 864435.44
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2022-10-26T13:36:17Z'
                      sourceModifiedDate: '2020-01-08T09:42:54Z'
                      validDatatypeLinks:
                      - property: Id
                        links:
                        - Transfer.To.AccountRef.Id
                        - Transfer.From.AccountRef.Id
                        - Payment.AccountRef.Id
                        - BillPayment.AccountRef.Id
                    - id: 2052b65b-20e9-4da1-85d8-fd5ca0ea3d38
                      nominalCode: '888777888'
                      name: One more AR account
                      description: One more AR account
                      fullyQualifiedCategory: Asset.Assets.AccountsReceivable
                      fullyQualifiedName: Asset.Assets.AccountsReceivable.One more AR account.PaymentsEnabled
                      currency: EUR
                      currentBalance: 2174.82
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2022-10-26T13:36:17Z'
                      sourceModifiedDate: '2021-06-10T11:00:20Z'
                      validDatatypeLinks:
                      - property: Id
                        links:
                        - Transfer.To.AccountRef.Id
                        - Transfer.From.AccountRef.Id
                        - Payment.AccountRef.Id
                        - BillPayment.AccountRef.Id
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 230
                    _links:
                      current:
                        href: /companies/b83b1923-4db6-45a8-a779-b4e320c15979/data/accounts?page=1&pageSize=2
                      self:
                        href: /companies/b83b1923-4db6-45a8-a779-b4e320c15979/data/accounts
                      next:
                        href: /companies/b83b1923-4db6-45a8-a779-b4e320c15979/data/accounts?page=2&pageSize=2
                Exact (UK):
                  value:
                    results:
                    - id: ca2b96b7-cc45-4e35-9fa3-82a2ba1eec40
                      nominalCode: THING
                      name: Some thing account
                      description: Some thing account
                      fullyQualifiedCategory: Asset.Assets.AccountsReceivable
                      fullyQualifiedName: Asset.Assets.AccountsReceivable.Some thing account.PaymentsEnabled
                      currency: GBP
                      currentBalance: 0
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2022-10-26T13:35:15Z'
                      sourceModifiedDate: '2017-08-01T17:31:12Z'
                      validDatatypeLinks:
                      - property: Id
                        links:
                        - Transfer.To.AccountRef.Id
                        - Transfer.From.AccountRef.Id
                        - Payment.AccountRef.Id
                        - BillPayment.AccountRef.Id
                    - id: cf9572e7-8afa-4339-9113-af32a66d9df9
                      nominalCode: '15400'
                      name: Trade Debtors
                      description: Trade Debtors
                      fullyQualifiedCategory: Asset.Assets.AccountsReceivable
                      fullyQualifiedName: Asset.Assets.AccountsReceivable.Trade Debtors.PaymentsEnabled
                      currency: GBP
                      currentBalance: 4484655.39
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2022-10-26T13:35:15Z'
                      sourceModifiedDate: '2020-01-08T13:48:38Z'
                      validDatatypeLinks:
                      - property: Id
                        links:
                        - Transfer.To.AccountRef.Id
                        - Transfer.From.AccountRef.Id
                        - Payment.AccountRef.Id
                        - BillPayment.AccountRef.Id
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 121
                    _links:
                      current:
                        href: /companies/d95030cd-22b2-482b-9c7b-2980dcc2b1ce/data/accounts?page=1&pageSize=2
                      self:
                        href: /companies/d95030cd-22b2-482b-9c7b-2980dcc2b1ce/data/accounts
                      next:
                        href: /companies/d95030cd-22b2-482b-9c7b-2980dcc2b1ce/data/accounts?page=2&pageSize=2
                FreeAgent:
                  value:
                    results:
                    - id: '601'
                      nominalCode: '601'
                      name: Capital Asset Brought Forward
                      fullyQualifiedCategory: Asset.Capital
                      fullyQualifiedName: Asset.Capital.Capital Asset Brought Forward
                      currency: GBP
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-04-25T14:19:12Z'
                      validDatatypeLinks: []
                      metadata:
                        isDeleted: false
                    - id: '605'
                      nominalCode: '605'
                      name: Capital Asset Depreciation Brought Forward
                      fullyQualifiedCategory: Asset.Capital
                      fullyQualifiedName: Asset.Capital.Capital Asset Depreciation Brought Forward
                      currency: GBP
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-04-25T14:19:12Z'
                      validDatatypeLinks: []
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 292
                    _links:
                      current:
                        href: /companies/071ad738-68f3-4561-afd0-69bab9df0803/data/accounts?page=1&pageSize=2
                      self:
                        href: /companies/071ad738-68f3-4561-afd0-69bab9df0803/data/accounts
                      next:
                        href: /companies/071ad738-68f3-4561-afd0-69bab9df0803/data/accounts?page=2&pageSize=2
                FreshBooks:
                  value:
                    results:
                    - id: '67357'
                      nominalCode: '1200'
                      name: Accounts Receivable
                      fullyQualifiedCategory: Asset
                      fullyQualifiedName: Asset.Accounts Receivable
                      currency: GBP
                      currentBalance: 51445.53
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-03-24T16:07:24Z'
                      validDatatypeLinks: []
                      metadata:
                        isDeleted: false
                    - id: '128611'
                      nominalCode: 1200-1
                      name: Accounts Receivable
                      fullyQualifiedCategory: Asset.Accounts Receivable
                      fullyQualifiedName: Asset.Accounts Receivable.Accounts Receivable
                      currency: GBP
                      currentBalance: 51445.53
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-03-24T16:07:24Z'
                      validDatatypeLinks: []
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 96
                    _links:
                      current:
                        href: /companies/3691c49e-0db4-4172-b3ab-e4084c365013/data/accounts?page=1&pageSize=2
                      self:
                        href: /companies/3691c49e-0db4-4172-b3ab-e4084c365013/data/accounts
                      next:
                        href: /companies/3691c49e-0db4-4172-b3ab-e4084c365013/data/accounts?page=2&pageSize=2
                KashFlow:
                  value:
                    results:
                    - id: '27840056'
                      nominalCode: '70700'
                      name: 16th Account
                      fullyQualifiedCategory: Asset.BankAccount
                      fullyQualifiedName: Asset.BankAccount.16th Account
                      currency: GBP
                      currentBalance: 0
                      type: Asset
                      status: Active
                      isBankAccount: true
                      modifiedDate: '2022-09-30T10:29:16Z'
                      validDatatypeLinks: []
                    - id: '27840049'
                      nominalCode: '70600'
                      name: 1a1a
                      fullyQualifiedCategory: Asset.BankAccount
                      fullyQualifiedName: Asset.BankAccount.1a1a
                      currency: GBP
                      currentBalance: 0
                      type: Asset
                      status: Active
                      isBankAccount: true
                      modifiedDate: '2022-09-30T10:29:16Z'
                      validDatatypeLinks: []
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 157
                    _links:
                      current:
                        href: /companies/3a707a99-89da-4b16-a5d6-595333a16352/data/accounts?page=1&pageSize=2
                      self:
                        href: /companies/3a707a99-89da-4b16-a5d6-595333a16352/data/accounts
                      next:
                        href: /companies/3a707a99-89da-4b16-a5d6-595333a16352/data/accounts?page=2&pageSize=2
                Oracle NetSuite:
                  value:
                    results:
                    - id: '111'
                      name: Accounts Payable
                      fullyQualifiedCategory: AcctPay.AcctPay
                      fullyQualifiedName: AcctPay.AcctPay.Accounts Payable
                      currentBalance: -635.55
                      type: Liability
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-01-30T14:48:33Z'
                      sourceModifiedDate: '2021-08-11T12:51:21'
                      validDatatypeLinks: []
                    - id: '119'
                      name: Accounts Receivable
                      fullyQualifiedCategory: AcctRec.AcctRec
                      fullyQualifiedName: AcctRec.AcctRec.Accounts Receivable
                      currentBalance: -565
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-01-30T14:48:33Z'
                      sourceModifiedDate: '2021-09-08T15:23:31'
                      validDatatypeLinks: []
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 44
                    _links:
                      current:
                        href: /companies/d5074b08-6a34-4b06-a742-236edf5dc4f1/data/accounts?page=1&pageSize=2
                      self:
                        href: /companies/d5074b08-6a34-4b06-a742-236edf5dc4f1/data/accounts
                      next:
                        href: /companies/d5074b08-6a34-4b06-a742-236edf5dc4f1/data/accounts?page=2&pageSize=2
                QuickBooks Desktop:
                  value:
                    results:
                    - id: 40000-933270541
                      nominalCode: '11000'
                      name: Accounts Receivable
                      description: Accounts Receivable
                      fullyQualifiedCategory: Asset.CurrentAsset.AccountsReceivable
                      fullyQualifiedName: Asset.CurrentAsset.AccountsReceivable.Accounts Receivable
                      currency: GBP
                      currentBalance: 93007.93
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-04-26T09:06:23Z'
                      sourceModifiedDate: '2023-12-16T05:06:45'
                      validDatatypeLinks: []
                      metadata:
                        isDeleted: false
                    - id: 20000-933270541
                      nominalCode: '10100'
                      name: Checking
                      description: Cash
                      fullyQualifiedCategory: Asset.CurrentAsset.Bank
                      fullyQualifiedName: Asset.CurrentAsset.Bank.Checking
                      currency: GBP
                      currentBalance: 46954.1
                      type: Asset
                      status: Active
                      isBankAccount: true
                      modifiedDate: '2023-04-26T09:06:23Z'
                      sourceModifiedDate: '2023-12-16T05:06:45'
                      validDatatypeLinks:
                      - property: Id
                        links:
                        - BillLineItem.AccountRef.Id
                        - BillPayment.AccountRef.Id
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 116
                    _links:
                      current:
                        href: /companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/data/accounts?page=1&pageSize=2
                      self:
                        href: /companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/data/accounts
                      next:
                        href: /companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/data/accounts?page=2&pageSize=2
                QuickBooks Online:
                  value:
                    results:
                    - id: '62'
                      nominalCode: '246'
                      name: Debtors
                      fullyQualifiedCategory: Asset.Accounts Receivable.AccountsReceivable
                      fullyQualifiedName: Asset.Accounts Receivable.AccountsReceivable.Debtors
                      currency: GBP
                      currentBalance: 41289.37
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-01-18T11:02:34Z'
                      sourceModifiedDate: '2022-12-08T15:42:59Z'
                      validDatatypeLinks: []
                    - id: '92'
                      nominalCode: '247'
                      name: Debtors - AED
                      fullyQualifiedCategory: Asset.Accounts Receivable.AccountsReceivable
                      fullyQualifiedName: Asset.Accounts Receivable.AccountsReceivable.Debtors - AED
                      currency: AED
                      currentBalance: -1533.44
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-01-18T11:02:34Z'
                      sourceModifiedDate: '2021-02-19T14:04:45Z'
                      validDatatypeLinks: []
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 234
                    _links:
                      current:
                        href: /companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/data/accounts?page=1&pageSize=2
                      self:
                        href: /companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/data/accounts
                      next:
                        href: /companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/data/accounts?page=2&pageSize=2
                QuickBooks Online Sandbox:
                  value:
                    results:
                    - id: '70'
                      name: Debtors
                      fullyQualifiedCategory: Asset.Accounts Receivable.AccountsReceivable
                      fullyQualifiedName: Asset.Accounts Receivable.AccountsReceivable.Debtors
                      currency: GBP
                      currentBalance: 3041173.77
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-04-26T09:35:55Z'
                      sourceModifiedDate: '2023-04-26T01:18:15Z'
                      validDatatypeLinks: []
                      metadata:
                        isDeleted: false
                    - id: '80'
                      name: Debtors - USD
                      fullyQualifiedCategory: Asset.Accounts Receivable.AccountsReceivable
                      fullyQualifiedName: Asset.Accounts Receivable.AccountsReceivable.Debtors - USD
                      currency: USD
                      currentBalance: 54822.37
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-04-26T09:35:55Z'
                      sourceModifiedDate: '2023-04-12T15:10:38Z'
                      validDatatypeLinks: []
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 186
                    _links:
                      current:
                        href: /companies/5a7f3597-36e1-4216-86fe-289ad36088a6/data/accounts?page=1&pageSize=2
                      self:
                        href: /companies/5a7f3597-36e1-4216-86fe-289ad36088a6/data/accounts
                      next:
                        href: /companies/5a7f3597-36e1-4216-86fe-289ad36088a6/data/accounts?page=2&pageSize=2
                Sage 200cloud:
                  value:
                    results:
                    - id: '2864'
                      nominalCode: '1200'
                      name: Bank Account
                      description: Bank Account
                      fullyQualifiedCategory: Asset.Bank Account
                      fullyQualifiedName: Asset.Bank Account.Bank Account
                      type: Asset
                      status: Archived
                      isBankAccount: false
                      modifiedDate: '2022-10-14T09:35:52Z'
                      validDatatypeLinks: []
                      metadata:
                        isDeleted: true
                    - id: '2368'
                      nominalCode: '1200'
                      name: Bank Current Account
                      description: Bank Current Account
                      fullyQualifiedCategory: Asset.Bank Account
                      fullyQualifiedName: Asset.Bank Account.Bank Current Account
                      type: Asset
                      status: Active
                      isBankAccount: true
                      modifiedDate: '2022-10-14T09:35:52Z'
                      sourceModifiedDate: '2020-09-11T13:53:12Z'
                      validDatatypeLinks: []
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 344
                    _links:
                      current:
                        href: /companies/93c21e2d-049c-4d24-b41b-57e61c30b69e/data/accounts?page=1&pageSize=2
                      self:
                        href: /companies/93c21e2d-049c-4d24-b41b-57e61c30b69e/data/accounts
                      next:
                        href: /companies/93c21e2d-049c-4d24-b41b-57e61c30b69e/data/accounts?page=2&pageSize=2
                Sage 50 (UK):
                  value:
                    results:
                    - id: '1100'
                      nominalCode: '1100'
                      name: Debtors Control Account
                      fullyQualifiedCategory: Asset.CurrentAssets.Debtors
                      fullyQualifiedName: Asset.CurrentAssets.Debtors.Debtors Control Account
                      currency: GBP
                      currentBalance: 90640.61
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-03-30T14:42:44Z'
                      sourceModifiedDate: '2022-11-25T09:43:54'
                      validDatatypeLinks: []
                      metadata:
                        isDeleted: false
                    - id: '1102'
                      nominalCode: '1102'
                      name: Other Debtors
                      fullyQualifiedCategory: Asset.CurrentAssets.Debtors
                      fullyQualifiedName: Asset.CurrentAssets.Debtors.Other Debtors
                      currency: GBP
                      currentBalance: 0
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-03-30T14:42:44Z'
                      sourceModifiedDate: '2022-11-25T09:43:54'
                      validDatatypeLinks: []
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 155
                    _links:
                      current:
                        href: /companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/data/accounts?page=1&pageSize=2
                      self:
                        href: /companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/data/accounts
                      next:
                        href: /companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/data/accounts?page=2&pageSize=2
                Sage Business Cloud Accounting:
                  value:
                    results:
                    - id: e5889b459f544926ac5b8e6756df2ad4
                      nominalCode: '1560'
                      name: Abdi Internet Bank
                      fullyQualifiedCategory: Asset.Bank
                      fullyQualifiedName: Asset.Bank.Abdi Internet Bank
                      currency: GBP
                      currentBalance: 49.61
                      type: Asset
                      status: Active
                      isBankAccount: true
                      modifiedDate: '2022-10-24T14:52:53Z'
                      sourceModifiedDate: '2020-01-27T10:53:26Z'
                      validDatatypeLinks:
                      - property: Id
                        links:
                        - Payment.AccountRef.Id
                        - BillPayment.AccountRef.Id
                    - id: b17083bc9b2748b4ab321b024e260eda
                      nominalCode: '147852'
                      name: Abdi Live Test
                      fullyQualifiedCategory: Asset.Bank
                      fullyQualifiedName: Asset.Bank.Abdi Live Test
                      currency: GBP
                      currentBalance: 225830.75
                      type: Asset
                      status: Active
                      isBankAccount: true
                      modifiedDate: '2022-10-24T14:52:53Z'
                      sourceModifiedDate: '2020-01-28T14:00:20Z'
                      validDatatypeLinks:
                      - property: Id
                        links:
                        - Payment.AccountRef.Id
                        - BillPayment.AccountRef.Id
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 283
                    _links:
                      current:
                        href: /companies/390083e2-351b-407c-a3be-55081c36c182/data/accounts?page=1&pageSize=2
                      self:
                        href: /companies/390083e2-351b-407c-a3be-55081c36c182/data/accounts
                      next:
                        href: /companies/390083e2-351b-407c-a3be-55081c36c182/data/accounts?page=2&pageSize=2
                Sage Intacct:
                  value:
                    results:
                    - id: '2'
                      nominalCode: '12100'
                      name: Accounts Receivable
                      fullyQualifiedCategory: Assets.Current Assets.Account Receivable, Net of Allowance.Accounts Receivable.Accounts Receivable
                      fullyQualifiedName: Assets.Current Assets.Account Receivable, Net of Allowance.Accounts Receivable.Accounts Receivable.Accounts Receivable
                      currency: GBP
                      currentBalance: 0
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-04-04T16:31:51Z'
                      sourceModifiedDate: '2020-01-29T01:42:43'
                      validDatatypeLinks: []
                      metadata:
                        isDeleted: false
                    - id: '155'
                      nominalCode: '12710'
                      name: AR - Retainage
                      fullyQualifiedCategory: Assets.Current Assets.Account Receivable, Net of Allowance.Accounts Receivable.Accounts Receivable
                      fullyQualifiedName: Assets.Current Assets.Account Receivable, Net of Allowance.Accounts Receivable.Accounts Receivable.AR - Retainage
                      currency: GBP
                      currentBalance: 0
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2023-04-04T16:31:51Z'
                      sourceModifiedDate: '2020-10-15T15:33:15'
                      validDatatypeLinks: []
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 181
                    _links:
                      current:
                        href: /companies/df02b289-cb16-4964-ac4d-9fd60b04538e/data/accounts?page=1&pageSize=2
                      self:
                        href: /companies/df02b289-cb16-4964-ac4d-9fd60b04538e/data/accounts
                      next:
                        href: /companies/df02b289-cb16-4964-ac4d-9fd60b04538e/data/accounts?page=2&pageSize=2
                Wave:
                  value:
                    results:
                    - id: QWNjb3VudDo5MjIzNDE3NjkzMzk3NjA2MzM7QnVzaW5lc3M6ZTI0OGQyZDctMWE5Ni00YTk4LWFkOTEtMDdlMGYyMmNhNmE2
                      name: Abdi Bank
                      description: Test Balance Sheet
                      fullyQualifiedCategory: Asset.CashAndBank
                      fullyQualifiedName: Asset.CashAndBank.Abdi Bank
                      currency: GBP
                      type: Asset
                      status: Active
                      isBankAccount: true
                      modifiedDate: '2022-11-16T18:15:17Z'
                      validDatatypeLinks: []
                    - id: QWNjb3VudDo3OTE3NTA1OTcwOTQxNzQ3MTU7QnVzaW5lc3M6ZTI0OGQyZDctMWE5Ni00YTk4LWFkOTEtMDdlMGYyMmNhNmE2
                      name: Cash on Hand
                      description: Cash you haven�t deposited in the bank. Add your bank and credit card accounts to accurately categorize transactions that aren't cash.
                      fullyQualifiedCategory: Asset.CashAndBank
                      fullyQualifiedName: Asset.CashAndBank.Cash on Hand
                      currency: GBP
                      type: Asset
                      status: Active
                      isBankAccount: true
                      modifiedDate: '2022-11-16T18:15:17Z'
                      validDatatypeLinks: []
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 85
                    _links:
                      current:
                        href: /companies/0b22b59d-b4e5-4c35-b03f-88bbbcb41256/data/accounts?page=1&pageSize=2
                      self:
                        href: /companies/0b22b59d-b4e5-4c35-b03f-88bbbcb41256/data/accounts
                      next:
                        href: /companies/0b22b59d-b4e5-4c35-b03f-88bbbcb41256/data/accounts?page=2&pageSize=2
                Xero:
                  value:
                    results:
                    - id: bd9e85e0-0478-433d-ae9f-0b3c4f04bfe4
                      nominalCode: A090
                      name: Business Bank Account
                      fullyQualifiedCategory: Asset.Bank
                      fullyQualifiedName: Asset.Bank.Business Bank Account
                      currency: GBP
                      currentBalance: 924.25
                      type: Asset
                      status: Active
                      isBankAccount: true
                      modifiedDate: '2023-03-15T20:35:08Z'
                      sourceModifiedDate: '2023-02-17T11:10:49'
                      validDatatypeLinks:
                      - property: Id
                        links:
                        - Payment.AccountRef.Id
                        - BillPayment.AccountRef.Id
                        - DirectIncome.LineItems.AccountRef.Id
                        - DirectCost.LineItems.AccountRef.Id
                      metadata:
                        isDeleted: false
                    - id: a8d6fb1a-8c5d-4683-90ce-bf9d28fc62ba
                      nominalCode: A091
                      name: Business Savings Account
                      fullyQualifiedCategory: Asset.Bank
                      fullyQualifiedName: Asset.Bank.Business Savings Account
                      currency: GBP
                      currentBalance: 0
                      type: Asset
                      status: Active
                      isBankAccount: true
                      modifiedDate: '2023-03-15T20:35:08Z'
                      sourceModifiedDate: '2023-02-17T11:10:49'
                      validDatatypeLinks:
                      - property: Id
                        links:
                        - Payment.AccountRef.Id
                        - BillPayment.AccountRef.Id
                        - DirectIncome.LineItems.AccountRef.Id
                        - DirectCost.LineItems.AccountRef.Id
                      metadata:
                        isDeleted: false
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 90
                    _links:
                      current:
                        href: /companies/5ced9667-a310-443a-a711-958d36377141/data/accounts?page=1&pageSize=2
                      self:
                        href: /companies/5ced9667-a310-443a-a711-958d36377141/data/accounts
                      next:
                        href: /companies/5ced9667-a310-443a-a711-958d36377141/data/accounts?page=2&pageSize=2
                Zoho Books:
                  value:
                    results:
                    - id: '104957000000000352'
                      nominalCode: ''
                      name: Accounts Receivable
                      description: The money that customers owe you becomes the accounts receivable. A good example of this is a payment expected from an invoice sent to your customer.
                      fullyQualifiedCategory: Asset.accounts_receivable
                      fullyQualifiedName: Asset.accounts_receivable.Accounts Receivable
                      currency: GBP
                      currentBalance: -959.64
                      type: Asset
                      status: Active
                      isBankAccount: false
                      modifiedDate: '2022-10-03T08:40:43Z'
                      sourceModifiedDate: '2020-02-05T14:58:44'
                      validDatatypeLinks: []
                    - id: '104957000000060010'
                      nominalCode: ''
                      name: Abdi Test
                      description: ''
                      fullyQualifiedCategory: Asset.bank
                      fullyQualifiedName: Asset.bank.Abdi Test
                      currency: GBP
                      currentBalance: 69858.44
                      type: Asset
                      status: Active
                      isBankAccount: true
                      modifiedDate: '2022-10-03T08:40:43Z'
                      sourceModifiedDate: '2020-02-17T12:19:47'
                      validDatatypeLinks: []
                    pageNumber: 1
                    pageSize: 2
                    totalResults: 68
                    _links:
                      current:
                        href: /companies/d0b68840-db50-4bc3-b88c-96e225333fea/data/accounts?page=1&pageSize=2
                      self:
                        href: /companies/d0b68840-db50-4bc3-b88c-96e225333fea/data/accounts
                      next:
                        href: /companies/d0b68840-db50-4bc3-b88c-96e225333fea/data/accounts?page=2&pageSize=2
        '400':
          $ref: '#/components/responses/Malformed-Query'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/Payment-Required'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
  /companies/{companyId}/data/accounts/{accountId}:
    parameters:
    - $ref: '#/components/parameters/companyId'
    - $ref: '#/components/parameters/accountingAccountId'
    get:
      tags:
      - Financial statements
      summary: Get account
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingAccount'
              examples:
                Clear Books:
                  value:
                    id: 1b6266d1-1e44-46c5-8eb5-a8f98e03124e
                    nominalCode: '610'
                    name: Accounts Receivable
                    description: Invoices the business has issued but has not yet collected payment on.
                    fullyQualifiedCategory: Asset.Current
                    fullyQualifiedName: Asset.Current.Accounts Receivable
                    currency: GBP
                    currentBalance: 0
                    type: Asset
                    status: Active
                    isBankAccount: false
                    modifiedDate: '2023-04-26T12:38:15Z'
                    sourceModifiedDate: '2022-12-10T16:39:00'
                    validDatatypeLinks: []
                Dynamics 365 Business Central:
                  value:
                    id: 8eaed16d-c69f-ec11-80f1-0022481b4546
                    nominalCode: 45422026-68CA-4EF2-9
                    name: ''
                    fullyQualifiedCategory: ' .'
                    fullyQualifiedName: ..
                    currency: GBP
                    currentBalance: 0
                    type: Unknown
                    status: Active
                    isBankAccount: false
                    modifiedDate: '2023-03-27T14:21:18Z'
                    sourceModifiedDate: '2022-03-09T16:31:54Z'
                    validDatatypeLinks:
                    - property: Id
                      links:
                      - DirectCost.LineItems.AccountRef.Id
                Exact (Netherlands):
                  value:
                    id: ef2fde36-4416-4bc5-b239-315b2929348c
                    nominalCode: '1300'
                    name: Debiteuren
                    description: Debiteuren
                    fullyQualifiedCategory: Asset.Assets.AccountsReceivable
                    fullyQualifiedName: Asset.Assets.AccountsReceivable.Debiteuren.PaymentsEnabled
                    currency: EUR
                    currentBalance: 864435.44
                    type: Asset
                    status: Active
                    isBankAccount: false
                    modifiedDate: '2022-10-26T13:36:17Z'
                    sourceModifiedDate: '2020-01-08T09:42:54Z'
                    validDatatypeLinks:
                    - property: Id
                      links:
                      - Transfer.To.AccountRef.Id
                      - Transfer.From.AccountRef.Id
                      - Payment.AccountRef.Id
                      - BillPayment.AccountRef.Id
                Exact (UK):
                  value:
                    id: ca2b96b7-cc45-4e35-9fa3-82a2ba1eec40
                    nominalCode: THING
                    name: Some thing account
                    description: Some thing account
                    fullyQualifiedCategory: Asset.Assets.AccountsReceivable
                    fullyQualifiedName: Asset.Assets.AccountsReceivable.Some thing account.PaymentsEnabled
                    currency: GBP
                    currentBalance: 0
                    type: Asset
                    status: Active
                    isBankAccount: false
                    modifiedDate: '2022-10-26T13:35:15Z'
                    sourceModifiedDate: '2017-08-01T17:31:12Z'
                    validDatatypeLinks:
                    - property: Id
                      links:
                      - Transfer.To.AccountRef.Id
                      - Transfer.From.AccountRef.Id
                      - Payment.AccountRef.Id
                      - BillPayment.AccountRef.Id
                FreeAgent:
                  value:
                    id: '601'
                    nominalCode: '601'
                    name: Capital Asset Brought Forward
                    fullyQualifiedCategory: Asset.Capital
                    fullyQualifiedName: Asset.Capital.Capital Asset Brought Forward
                    currency: GBP
                    type: Asset
                    status: Active
                    isBankAccount: false
                    modifiedDate: '2023-04-25T14:19:12Z'
                    validDatatypeLinks: []
                FreshBooks:
                  value:
                    id: '67357'
                    nominalCode: '1200'
                    name: Accounts Receivable
                    fullyQualifiedCategory: Asset
                    fullyQualifiedName: Asset.Accounts Receivable
                    currency: GBP
                    currentBalance: 51445.53
                    type: Asset
                    status: Active
                    isBankAccount: false
                    modifiedDate: '2023-03-24T16:07:24Z'
                    validDatatypeLinks: []
                KashFlow:
                  value:
                    id: '27840056'
                    nominalCode: '70700'
                    name: 16th Account
                    fullyQualifiedCategory: Asset.BankAccount
                    fullyQualifiedName: Asset.BankAccount.16th Account
                    currency: GBP
                    currentBalance: 0
                    type: Asset
                    status: Active
                    isBankAccount: true
                    modifiedDate: '2022-09-30T10:29:16Z'
                    validDatatypeLinks: []
                Oracle NetSuite:
                  value:
                    id: '111'
                    name: Accounts Payable
                    fullyQualifiedCategory: AcctPay.AcctPay
                    fullyQualifiedName: AcctPay.AcctPay.Accounts Payable
                    currentBalance: -635.55
                    type: Liability
                    status: Active
                    isBankAccount: false
                    modifiedDate: '2023-01-30T14:48:33Z'
                    sourceModifiedDate: '2021-08-11T12:51:21'
                    validDatatypeLinks: []
                QuickBooks Desktop:
                  value:
                    id: 40000-933270541
                    nominalCode: '11000'
                    name: Accounts Receivable
                    description: Accounts Receivable
                    fullyQualifiedCategory: Asset.CurrentAsset.AccountsReceivable
                    fullyQualifiedName: Asset.CurrentAsset.AccountsReceivable.Accounts Receivable
                    currency: GBP
                    currentBalance: 93007.93
                    type: Asset
                    status: Active
                    isBankAccount: false
                    modifiedDate: '2023-04-26T09:06:23Z'
                    sourceModifiedDate: '2023-12-16T05:06:45'
                    validDatatypeLinks: []
                QuickBooks Online:
                  value:
                    id: '62'
                    nominalCode: '246'
                    name: Debtors
                    fullyQualifiedCategory: Asset.Accounts Receivable.AccountsReceivable
                    fullyQualifiedName: Asset.Accounts Receivable.AccountsReceivable.Debtors
                    currency: GBP
                    currentBalance: 41289.37
                    type: Asset
                    status: Active
                    isBankAccount: false
                    modifiedDate: '2023-01-18T11:02:34Z'
                    sourceModifiedDate: '2022-12-08T15:42:59Z'
                    validDatatypeLinks: []
                QuickBooks Online Sandbox:
                  value:
                    id: '70'
                    name: Debtors
                    fullyQualifiedCategory: Asset.Accounts Receivable.AccountsReceivable
                    fullyQualifiedName: Asset.Accounts Receivable.AccountsReceivable.Debtors
                    currency: GBP
                    currentBalance: 3041173.77
                    type: Asset
                    status: Active
                    isBankAccount: false
                    modifiedDate: '2023-04-26T09:35:55Z'
                    sourceModifiedDate: '2023-04-26T01:18:15Z'
                    validDatatypeLinks: []
                Sage 200cloud:
                  value:
                    id: '2864'
                    nominalCode: '1200'
                    name: Bank Account
                    description: Bank Account
                    fullyQualifiedCategory: Asset.Bank Account
                    fullyQualifiedName: Asset.Bank Account.Bank Account
                    type: Asset
                    status: Archived
                    isBankAccount: false
                    modifiedDate: '2022-10-14T09:35:52Z'
                    validDatatypeLinks: []
                Sage 50 (UK):
                  value:
                    id: '1100'
                    nominalCode: '1100'
                    name: Debtors Control Account
                    fullyQualifiedCategory: Asset.CurrentAssets.Debtors
                    fullyQualifiedName: Asset.CurrentAssets.Debtors.Debtors Control Account
                    currency: GBP
                    currentBalance: 90640.61
                    type: Asset
                    status: Active
                    isBankAccount: false
                    modifiedDate: '2023-03-30T14:42:44Z'
                    sourceModifiedDate: '2022-11-25T09:43:54'
                    validDatatypeLinks: []
                Sage Business Cloud Accounting:
                  value:
                    id: e5889b459f544926ac5b8e6756df2ad4
                    nominalCode: '1560'
                    name: Abdi Internet Bank
                    fullyQualifiedCategory: Asset.Bank
                    fullyQualifiedName: Asset.Bank.Abdi Internet Bank
                    currency: GBP
                    currentBalance: 49.61
                    type: Asset
                    status: Active
                    isBankAccount: true
                    modifiedDate: '2022-10-24T14:52:53Z'
                    sourceModifiedDate: '2020-01-27T10:53:26Z'
                    validDatatypeLinks:
                    - property: Id
                      links:
                      - Payment.AccountRef.Id
                      - BillPayment.AccountRef.Id
                Sage Intacct:
                  value:
                    id: '2'
                    nominalCode: '12100'
                    name: Accounts Receivable
                    fullyQualifiedCategory: Assets.Current Assets.Account Receivable, Net of Allowance.Accounts Receivable.Accounts Receivable
                    fullyQualifiedName: Assets.Current Assets.Account Receivable, Net of Allowance.Accounts Receivable.Accounts Receivable.Accounts Receivable
                    currency: GBP
                    currentBalance: 0
                    type: Asset
                    status: Active
                    isBankAccount: false
                    modifiedDate: '2023-04-04T16:31:51Z'
                    sourceModifiedDate: '2020-01-29T01:42:43'
                    validDatatypeLinks: []
                Wave:
                  value:
                    id: QWNjb3VudDo5MjIzNDE3NjkzMzk3NjA2MzM7QnVzaW5lc3M6ZTI0OGQyZDctMWE5Ni00YTk4LWFkOTEtMDdlMGYyMmNhNmE2
                    name: Abdi Bank
                    description: Test Balance Sheet
                    fullyQualifiedCategory: Asset.CashAndBank
                    fullyQualifiedName: Asset.CashAndBank.Abdi Bank
                    currency: GBP
                    type: Asset
                    status: Active
                    isBankAccount: true
                    modifiedDate: '2022-11-16T18:15:17Z'
                    validDatatypeLinks: []
                Xero:
                  value:
                    id: bd9e85e0-0478-433d-ae9f-0b3c4f04bfe4
                    nominalCode: A090
                    name: Business Bank Account
                    fullyQualifiedCategory: Asset.Bank
                    fullyQualifiedName: Asset.Bank.Business Bank Account
                    currency: GBP
                    currentBalance: 924.25
                    type: Asset
                    status: Active
                    isBankAccount: true
                    modifiedDate: '2023-03-15T20:35:08Z'
                    sourceModifiedDate: '2023-02-17T11:10:49'
                    validDatatypeLinks:
                    - property: Id
                      links:
                      - Payment.AccountRef.Id
                      - BillPayment.AccountRef.Id
                      - DirectIncome.LineItems.AccountRef.Id
                      - DirectCost.LineItems.AccountRef.Id
                Zoho Books:
                  value:
                    id: '104957000000000352'
                    nominalCode: ''
                    name: Accounts Receivable
                    description: The money that customers owe you becomes the accounts receivable. A good example of this is a payment expected from an invoice sent to your customer.
                    fullyQualifiedCategory: Asset.accounts_receivable
                    fullyQualifiedName: Asset.accounts_receivable.Accounts Receivable
                    currency: GBP
                    currentBalance: -959.64
                    type: Asset
                    status: Active
                    isBankAccount: false
                    modifiedDate: '2022-10-03T08:40:43Z'
                    sourceModifiedDate: '2020-02-05T14:58:44'
                    validDatatypeLinks: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/Payment-Required'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
      description: 'The *Get account* endpoint returns a single account for a given accountId.


        [Accounts](https://docs.codat.io/lending-api#/schemas/Account) are the categories a business uses to record accounting transactions.


        Before using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/lending-api#/operations/refresh-company-data).

        '
      operationId: get-accounting-account
      x-speakeasy-group: financial-statements.accounts
  /companies/{companyId}/data/financials/balanceSheet:
    parameters:
    - $ref: '#/components/parameters/companyId'
    get:
      tags:
      - Financial statements
      summary: Get balance sheet
      description: Gets the latest balance sheet for a company.
      operationId: get-accounting-balance-sheet
      x-speakeasy-group: financial-statements.balance-sheet
      parameters:
      - $ref: '#/components/parameters/accountingPeriodLength'
      - $ref: '#/components/parameters/accountingPeriodsToCompare'
      - $ref: '#/components/parameters/accountingStartMonth'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBalanceSheet'
              examples:
                Clear Books:
                  value:
                    currency: GBP
                    reports:
                    - date: '2023-03-31T00:00:00'
                      assets:
                        accountId: ''
                        name: Assets
                        value: 4643976.27
                        items:
                        - accountId: ''
                          name: Fixed Assets
                          value: 3930291.27
                          items:
                          - accountId: 724ca578-8b5d-4bdb-ad45-e3820eee9de9
                            name: Office Equipment
                            value: 2354838.89
                            items: []
                          - accountId: be3eb911-034b-42de-95db-0d58ac978b7f
                            name: Computer Equipment
                            value: 1575452.38
                            items: []
                        - accountId: ''
                          name: Current Assets
                          value: 713685
                          items:
                          - accountId: 1b6266d1-1e44-46c5-8eb5-a8f98e03124e
                            name: Accounts Receivable
                            value: 66538.63
                            items: []
                          - accountId: 22de1660-d745-4809-a363-16b134607e66
                            name: Prepayments
                            value: 27250.93
                            items: []
                          - accountId: e5d7612c-1671-47b4-b733-5db48363fcd0
                            name: Inventory
                            value: 113157.44
                            items: []
                          - accountId: ''
                            name: Bank
                            value: 506738
                            items:
                            - accountId: dbcaf288-2b39-4b95-8ab3-42202ab15918
                              name: Business Current Account
                              value: 506738
                              items: []
                      liabilities:
                        accountId: ''
                        name: Liabilities
                        value: 1183797.31
                        items:
                        - accountId: ''
                          name: Current Liabilities
                          value: 544797.71
                          items:
                          - accountId: 3a872b81-d1af-4d31-9bfa-a37280b8f68c
                            name: VAT
                            value: 27683.3
                            items: []
                          - accountId: d19852a2-e292-4eb9-a909-9dadb95c0e76
                            name: Rounding
                            value: 0
                            items: []
                          - accountId: 9be6382f-6b33-402d-b448-0db1dbf67a98
                            name: Historical Adjustment
                            value: 8985.44
                            items: []
                          - accountId: 53bf27a7-7497-4c61-9887-dfaad5c6d80a
                            name: Accounts Payable
                            value: 36981.83
                            items: []
                          - accountId: 8852a857-aa9d-4706-839f-638e9d6b5a66
                            name: Unpaid Expense Claims
                            value: 0
                            items: []
                          - accountId: 3b58f7ff-fa16-453a-9931-f020816d76e7
                            name: Interest Payables
                            value: 1193.59
                            items: []
                          - accountId: 8636effc-50fb-45ba-8b2b-18336fa29b6b
                            name: John Smith
                            value: 1147.11
                            items: []
                          - accountId: e2530acd-91c8-48f8-a35f-935dbd7432e2
                            name: Accruals
                            value: 439935.82
                            items: []
                          - accountId: 62060aae-e5a6-4db5-a3bb-6abec6d47959
                            name: Credit Card Control Account
                            value: 28870.62
                            items: []
                        - accountId: ''
                          name: Long Term Liability
                          value: 638999.6
                          items:
                          - accountId: 55008233-40e7-41ac-84af-2255fa028c2e
                            name: Loan
                            value: 638999.6
                            items: []
                      netAssets: 3460178.96
                      equity:
                        accountId: ''
                        name: Equity
                        value: 3460178.96
                        items:
                        - accountId: 39225d6f-3722-4508-ac3f-a2f6ec96ad31
                          name: Retained Earnings
                          value: 3405201.39
                          items: []
                        - accountId: 78828dd9-6008-4662-b43c-e9d87907fd2b
                          name: Current Year Earnings
                          value: 54977.57
                          items: []
                    - date: '2023-02-28T00:00:00'
                      assets:
                        accountId: ''
                        name: Assets
                        value: 4599890.71
                        items:
                        - accountId: ''
                          name: Fixed Assets
                          value: 3882793.51
                          items:
                          - accountId: 724ca578-8b5d-4bdb-ad45-e3820eee9de9
                            name: Office Equipment
                            value: 2036803.36
                            items: []
                          - accountId: be3eb911-034b-42de-95db-0d58ac978b7f
                            name: Computer Equipment
                            value: 1845990.15
                            items: []
                        - accountId: ''
                          name: Current Assets
                          value: 717097.2
                          items:
                          - accountId: 1b6266d1-1e44-46c5-8eb5-a8f98e03124e
                            name: Accounts Receivable
                            value: 136245.44
                            items: []
                          - accountId: 22de1660-d745-4809-a363-16b134607e66
                            name: Prepayments
                            value: 18719.25
                            items: []
                          - accountId: e5d7612c-1671-47b4-b733-5db48363fcd0
                            name: Inventory
                            value: 146898.62
                            items: []
                          - accountId: ''
                            name: Bank
                            value: 415233.89
                            items:
                            - accountId: dbcaf288-2b39-4b95-8ab3-42202ab15918
                              name: Business Current Account
                              value: 415233.89
                              items: []
                      liabilities:
                        accountId: ''
                        name: Liabilities
                        value: 1150262.51
                        items:
                        - accountId: ''
                          name: Current Liabilities
                          value: 508579.57
                          items:
                          - accountId: 3a872b81-d1af-4d31-9bfa-a37280b8f68c
                            name: VAT
                            value: 22517.83
                            items: []
                          - accountId: d19852a2-e292-4eb9-a909-9dadb95c0e76
                            name: Rounding
                            value: 0
                            items: []
                          - accountId: 9be6382f-6b33-402d-b448-0db1dbf67a98
                            name: Historical Adjustment
                            value: 5994.86
                            items: []
                          - accountId: 53bf27a7-7497-4c61-9887-dfaad5c6d80a
                            name: Accounts Payable
                            value: 49993.06
                            items: []
                          - accountId: 8852a857-aa9d-4706-839f-638e9d6b5a66
                            name: Unpaid Expense Claims
                            value: 0
                            items: []
                          - accountId: 3b58f7ff-fa16-453a-9931-f020816d76e7
                            name: Interest Payables
                            value: 1424.88
                            items: []
                          - accountId: 8636effc-50fb-45ba-8b2b-18336fa29b6b
                            name: John Smith
                            value: 1863.01
                            items: []
                          - accountId: e2530acd-91c8-48f8-a35f-935dbd7432e2
                            name: Accruals
                            value: 399839.88
                            items: []
                          - accountId: 62060aae-e5a6-4db5-a3bb-6abec6d47959
                            name: Credit Card Control Account
                            value: 26946.05
                            items: []
                        - accountId: ''
                          name: Long Term Liability
                          value: 641682.94
                          items:
                          - accountId: 55008233-40e7-41ac-84af-2255fa028c2e
                            name: Loan
                            value: 641682.94
                            items: []
                      netAssets: 3449628.2
                      equity:
                        accountId: ''
                        name: Equity
                        value: 3449628.19
                        items:
                        - accountId: 39225d6f-3722-4508-ac3f-a2f6ec96ad31
                          name: Retained Earnings
                          value: 3405201.39
                          items: []
                        - accountId: 78828dd9-6008-4662-b43c-e9d87907fd2b
                          name: Current Year Earnings
                          value: 44426.8
                          items: []
                    mostRecentAvailableMonth: '2023-03-31T00:00:00'
                    earliestAvailableMonth: '2018-04-01T00:00:00'
                Dynamics 365 Business Central:
                  value:
                    currency: GBP
                    reports:
                    - date: '2023-03-27T00:00:00'
                      assets:
                        name: Assets
                        value: 260454.26
                        items:
                        - name: ''
                          value: 27.34
                          items:
                          - accountId: c0861a65-c69f-ec11-80f1-0022481b4546
                            name: 10 - Account no cat Balance Sheet
                            value: 27.34
                            items: []
                          - accountId: 9cc90e3e-843d-ed11-97e8-0022481b89f2
                            name: 12345 - Income Statement and Asset
                            value: 0
                            items: []
                        - name: Equipment
                          value: 5504.37
                          items:
                          - accountId: 5b9782f7-0fe7-ec11-82f9-0022481afc56
                            name: 1350 - Iana test
                            value: 16
                            items: []
                          - accountId: 6c1217b3-89d1-ea11-bbaa-000d3a2b9185
                            name: 40800 - Equipment
                            value: 5488.37
                            items: []
                        - name: Cash
                          value: 36998.49
                          items:
                          - accountId: 5e1217b3-89d1-ea11-bbaa-000d3a2b9185
                            name: 40100 - Checking account
                            value: -35824.11
                            items: []
                          - accountId: 601217b3-89d1-ea11-bbaa-000d3a2b9185
                            name: 40200 - Savings account
                            value: 2802.59
                            items: []
                          - accountId: 621217b3-89d1-ea11-bbaa-000d3a2b9185
                            name: 40300 - Petty Cash
                            value: 70020.01
                            items: []
                          - accountId: 5c062318-3c59-ed11-8c36-002248c5e6c0
                            name: 4544 - cash bal
                            value: 0
                            items: []
                        - name: Accounts Receivable
                          value: 189399.22
                          items:
                          - accountId: 641217b3-89d1-ea11-bbaa-000d3a2b9185
                            name: 40400 - Accounts Receivable
                            value: 129008.09
                            items: []
                          - accountId: 9cb05c6f-9fbd-ed11-9a88-000d3a7ea13c
                            name: 40450 - test3
                            value: 0
                            items: []
                          - accountId: 7a1217b3-89d1-ea11-bbaa-000d3a2b9185
                            name: 46200 - Purchase VAT 20 % EU
                            value: -11635.12
                            items: []
                          - accountId: 7c1217b3-89d1-ea11-bbaa-000d3a2b9185
                            name: 46210 - Purchase VAT 5 % EU
                            value: 0
                            items: []
                          - accountId: 7e1217b3-89d1-ea11-bbaa-000d3a2b9185
                            name: 46300 - Purchase VAT 20 %
                            value: 71992.44
                            items: []
[...]
